[2018-09-15 15:11] psyker156 opened #417 "Imprecision in compiler.rst"
When adding a new opcode, if the guide is followed as is, the following error will be emitted as regen-importlib expects the new opcode target to be present in ceval.c before the command is added.

`gcc -pthread -c -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -std=c99 -Wextra -Wno-unused-result -Wno-unused-parameter -Wno-missing-field-initializers -Werror=implicit-function-decla

[2018-09-15 15:12] Mariatta commented on #417
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/python/devguide/issues/181 (A couple of issues with compiler.rst), https://github.com/python/devguide/issues/199 (Improve "Commit Messages" section in committing.rst), https://github.com/python/devguide/issues/170 (Who is BCP at developers.rst), https://github.com/python/devguide/issues/44 (Update committing.rst

[2018-09-18 20:14] willingc opened #418 "Add brief information about labels/colors used by the bots"
From the Zulip chat:

Write up info about labels and colors for the amazing @Mariatta's bots.

[2018-09-18 20:14] Mariatta commented on #418
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/python/core-workflow/issues/32 (Add the mention bot?), https://github.com/python/miss-islington/issues/43 (Add info about how to customize and use this bot for other repositories?), https://github.com/python/core-workflow/issues/239 (Bot for Github labels), https://github.com/python/devguide/issues/396 (Add a fe

[2018-10-11 12:00] lysnikolaou opened #423 "Mention of Mercurial instead of GitHub"
In the Continuous Integration part there is the following:

Shouldn't this be updated to mention Github instead?

[2018-10-11 12:01] Mariatta commented on #423
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/python/devguide/issues/17 (Remove mentions of Mercurial), https://github.com/python/core-workflow/issues/20 (Backup GitHub information), https://github.com/python/core-workflow/issues/32 (Add the mention bot?), https://github.com/python/devguide/issues/186 (Clarify how to review on GitHub), and https://github.co

[2018-10-12 17:57] Mariatta commented on #418
The auto labeling by bedevere was actually @brettcannon's work :) so I don't want to take any credit here.

I think it is duplicate of https://github.com/python/devguide/issues/296 though, or similar.

[2018-10-12 23:23] augustogoulart opened #425 "Add a mention to the correct workflow for WSL users building for Windows"
When using the Windows Subsystem for Linux (WSL), if you git clone the project via Linux and tries to compile the project on Windows, Visual Studio will be able to see the project, but won't be able to compile the included files.
Since this is not a bug, I believe it would be nice to mention the correct workflow.

![screenshot 2](https://user-images.githubusercontent.com/13952931/46898014-8ea08e00

[2018-10-13 13:07] taleinat commented on #425
@Mariatta

Unfortunately, none of those is relevant.

[2018-10-13 20:20] taleinat commented on #425
I've reproduced this with the following steps:

1. In an Ubuntu WSL shell: `git clone --depth=1 https://github.com/python/cpython.git cpython_wsl_test`
2. In a `cmd.exe` shell:
2.1 `cd cpython_wsl_test`
2.2 `PCbuild\build.bat`

I get the same errors reported by @augustogoulart.

(Win10 Pro 64-bit with Ubuntu 18.04 64-bit in WSL)

[2018-10-13 21:28] taleinat commented on #425
@willingc, the current suggested resolution is "this doesn't work, don't do it!", adding a note to this effect to the dev guide.

[2018-10-15 13:32] taleinat commented on #425
@zware, could it be different git `autocrlf` settings perhaps? Or something similar?

[2018-10-15 16:38] lysnikolaou commented on #423
I will try to submit a PR ASAP.

[2018-10-16 00:17] #423 closed

[2018-10-19 19:11] brettcannon commented on #418
I agree that this is a duplicate of #296 .

[2018-10-19 19:11] #418 closed

[2018-10-22 15:50] zware commented on #425
Sorry I've been blocking this and haven't gotten back to it yet!  However, I still can't reproduce the issue.  It's possible that my Windows (10.0.16399.665), WSL distribution (Ubuntu 16.04.4), or git (2.7.4) are significantly older than what you're using, but the whole issue doesn't make sense to me.  When git checks out the files, they're just files on disk and the build system doesn't look for

[2018-10-25 10:38] parikannappan opened #429 "accessing google search"
how can a do a google search sing python code ?

[2018-10-25 10:43] encukou commented on #429
Hi,
This repository is a guide on how to contribute *to* Python. It is the wrong place for your question.
Try a mailing list like [tutor](https://mail.python.org/mailman/listinfo/tutor) instead, preferably after looking at documentation of [Python](http://docs.python-requests.org/en/master/user/quickstart/) or [Requests](http://docs.python-requests.org/en/master/).

[2018-10-25 10:43] #429 closed

[2018-10-27 10:47] augustogoulart commented on #425
@zware these are the steps I'm following to reproduce the error.

Windows 10.0.17134 build 17143, WSL Debian 9 (stretch) and git 2.11 installed on Linux, and git 2.19.1.windows.1 on Windows. Compiler Microsoft (R) C/C++ Optimizing Compiler Version 19.15.26730.

Checkout withing Linux. path: `/mnt/c/Users/augus/Workspace`

![image](https://user-images.githubusercontent.com/13952931/47602821-315b1f8

[2018-10-29 10:19] JulienPalard commented on #425
Can this be a permission issue? Not familiar with Windows permissions though.

[2018-10-31 22:51] ned-deily opened #433 "Include info from Victor's "Build CPython on Windows""
We should consider including the info in @vstinner 's quick guide to building Python on Windows into the "Getting Started" chapter of the devguide.

https://cpython-core-tutorial.readthedocs.io/en/latest/build_cpython_windows.html

[2018-10-31 22:53] Mariatta commented on #433
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/python/devguide/issues/267 (Cannot build devguide in virtual environment on Windows), https://github.com/python/devguide/issues/90 (Windows build instructions out-dated/unclear for 2.7 branch), https://github.com/python/core-workflow/issues/113 (Questions about cherry-picker from Windows never-venv user), https:

[2018-12-27 11:06] njsmith commented on #390
In the new PEP 8016/PEP 13 world, I guess it will be important to have a machine-readable database of email addresses + active/inactive information somewhere, for use in votes.

If we put it in a repository, then the repo history will automatically act as a historical log going forward.

We also should have some kind of public-facing version of the list.

If people insist on keeping email addresse

[2019-01-03 20:11] brettcannon commented on #390
@njsmith I figured https://github.com/python/voters/ would probably be where we keep email addresses as that is what we used in the PEP 8001 vote.

As for a public versus private, we can either keep a private version in Python/voters that gets exported for public viewing, or we keep just name and email address in Python/voters and then the public table here acts as the record of who is active and

[2019-01-03 20:11] brettcannon commented on #390
And since we don't add new people constantly and we really only care about (in)activity for votes it shouldn't be too burdensome if we have to keep two copies.

[2019-01-03 23:02] njsmith commented on #390
Keeping two hand-maintained copies seems ok, but only if we have some way to make sure that they *do* stay in sync, because otherwise we'll inevitably regress to the situation we have now where there are multiple versions and none of them are authoritative...

Just to check, how certain are we that the email addresses have to be private? Could we say that if you want to be a core dev and your want

[2019-01-03 23:04] njsmith commented on #390
(this might be a discussion to defer until next month when we have a council to nudge people into playing nice.)

[2019-01-04 12:55] ncoghlan commented on #390
Allowing folks to keep their email addresses private is an inclusivity issue, as the risks of having a publicly known email address vary quite a bit based on your personal demographics.

While it's more hassle than just having a fully public address, the other areas where we currently require a public email address do allow the exposed address to be "send only" (i.e. you can set up a filter to aut

[2019-01-04 19:19] brettcannon commented on #390
I am assuming the council is going to be the ones to figure this all out, so waiting until they have the time to deal with this specific issue seems reasonable (plus we technically don't need the list updated until there's another vote which requires the new active definition to be used).

[2019-01-04 19:30] njsmith commented on #390
@ncoghlan Aha, yeah, that's a compelling argument. Interestingly it's also an argument for Discourse over mailing lists.

[2019-01-25 22:57] #433 closed

[2019-02-05 22:43] jaraco opened #453 "Setup guide should link to platform readme (macOS)"
Today I was reading the devguide to try to understand how framework builds work, but found it inadequate. I later learned that the Mac/README file in the repo has more detail. The devguide should reference that in `setup/#macos`. Filing this ticket so I don't forget.

[2019-02-05 22:44] Mariatta commented on #453
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/python/core-workflow/issues/30 (Link to developer guide in CPython repo description), https://github.com/python/devguide/issues/230 (Add a reference link to the "Python Extension Patterns" guide?), https://github.com/python/core-workflow/issues/224 (Double link to the same PR), https://github.com/python/devguide

[2019-02-05 23:40] terryjreedy commented on #453
Ned Deily has acknowledged that the current information about building Python on Mac is obsolete and inadequate.  (For instance, tcl/tk is now included, and only 64 bit should be built for 3.7+.) But he has not yet updated it.  Before linking the readme, I think he should be asked if the more detail is accurate.

[2019-02-06 10:01] matrixise opened #455 "No entry for Jason R. Coombs in developers.rst"
Hi,

I can see that Jason is a core-dev but I don't find any entry in developers.rst.

Thank you

[2019-02-06 10:02] Mariatta commented on #455
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/python/devguide/issues/47 (Update developers.rst for Git/GitHub), https://github.com/python/devguide/issues/170 (Who is BCP at developers.rst), and https://github.com/python/devguide/issues/417 (Imprecision in compiler.rst).

[2019-02-06 15:16] jaraco opened #456 "Link to meta tracker broken"
In the guide, there is a [section about the meta tracker](https://devguide.python.org/tracker/#the-meta-tracker) which links to [this site](http://psf.upfronthosting.co.za/roundup/meta/), which appears to be non-functional (it's a blank page to me). The tracker itself links to [this site](https://github.com/python/psf-infra-meta). Is that the correct meta tracker?

[2019-02-06 15:17] Mariatta commented on #456
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/python/devguide/issues/299 (Broken link to Copyright page.), https://github.com/python/devguide/issues/221 (broken links and 404), https://github.com/python/core-workflow/issues/54 (Travis tests are broken), https://github.com/python/devguide/issues/321 (Propose change to new user link for documentation issues o

[2019-02-06 15:26] Mariatta commented on #456
I think it should be this url now? https://github.com/python/bugs.python.org

[2019-02-06 16:17] eamanu opened #458 "Add git config alias for devguide"
Hello everyboy!

I am not sure if here is the appropriate  place to this issue. Sorry if not.

On gitbootcamp.rst there is a recommendation to made easy the creation of a branch for PR to test it. I am talking about this:
[code]

What about if is added something similar for maintain updated the CPython repo. I am thinking about something have (like result)

[code]

To avoid:

[code]

What do you t

[2019-02-06 16:18] Mariatta commented on #458
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/python/devguide/issues/61 (devguide-git bot), https://github.com/python/devguide/issues/8 (Add Quick Start: Communications section to devguide), https://github.com/python/devguide/issues/9 (Add tips for effective online communication to devguide), https://github.com/python/devguide/issues/217 (Quoting for config

[2019-02-06 16:31] terryjreedy commented on #456
Something needs to be cleared up.  The psf_infra_meta is much older (June 2017) and is not limited to the bugs.python.org, in spite of what readme.md says.  The bugs.python.org tracker is specific and has more issues.  It starts with https://github.com/python/bugs.python.org/issues/1 about migrating open issues from the old tracker.  I added a comment there about making b.p.o, devguide, and psf-in

[2019-02-08 22:15] asawaswapnil opened #461 "Python doesn't have any direct way of finding shape of 2 or multi D list?"
Python doesn't have any direct way of finding shape of 2 or multi D list?
I either need to convert it to numpy array or use len statement 2ice, once for list, once for list[0] to find the size. Could there be a function like .shape in numpy directly in python without numpy or any other libraries to import.

[2019-02-08 22:16] Mariatta commented on #461
[GitMate.io](https://gitmate.io) thinks a possibly related issue is https://github.com/python/core-workflow/issues/11 (python/cpython doesn't have tags).

[2019-02-08 22:41] Mariatta commented on #461
No, there's no built-in function in standard library. This tracker is for discussing issues with Python developer's guide (the documentation on how to contribute to Python), and not quite about proposing ideas of the language itself.

Since this can be accomplished in library like numpy, my hunch is there is no urgent need for having this as part of the standard library (adds complexity to codebas

[2019-02-08 22:41] #461 closed

[2019-02-12 22:20] Mariatta opened #463 "Deploy pull request changes to Netlify so we can preview the devguide"
Original thread in core-workflow mailing list:
https://mail.python.org/archives/list/core-workflow@python.org/thread/5FBBRHIWXWRCGHHKCU7WQR3MNFEX4647/

It would be great if we can have a preview of the docs on the internet (without having to manually build it ourselves locally). This is useful for reviewers who want to view the changed documentation.

Service like [netlify](https://www.netlify.com

[2019-02-12 22:21] Mariatta commented on #463
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/python/devguide/issues/133 (Update Devguide about pull request commit documentation.), https://github.com/python/devguide/issues/104 (Should an issue be created first, before the Pull Request?), https://github.com/python/devguide/issues/215 (Editing pull request: Can we rebase instead of merge?), https://github.

[2019-02-12 23:04] ewdurbin commented on #463
I believe this was successful for pypa/setuptools, as was setup back at PyCon 2018 sprints. Let me know if you need any assistance and I can try to recall what went into that process.

[2019-02-12 23:13] Mariatta commented on #463
I think I got it setup? 😅
test PR #464
https://deploy-preview-464--cpython-devguide.netlify.com/

But I had signed up using a personal account on netlify. Perhaps I should transfer this to you or to the PSF?

[2019-02-12 23:25] ewdurbin commented on #463
I'm already acting as the Owner for pypa/setuptools with two other administrators.

Happy to accept the transfer and add your user as an Admin. If possible I'd love to recruit one other user for the role.

[2019-02-12 23:30] Mariatta commented on #463
Sounds great! I tried looking into netlify and couldn't really figure out how to transfer or add other admins 😅 Let me know what to do here.

[2019-02-13 01:50] willingc commented on #463
I'm happy to act as another Admin for the dev guide @Mariatta @ewdurbin unless there is someone else that wishes to do so. I already have the netlify toolchain on my system.

[2019-02-14 00:17] #455 closed

[2019-02-14 12:50] matrixise commented on #463
@Mariatta I could work on this issue with the doc

[2019-02-14 12:58] encukou commented on #208
With my distro maintainer hat on: If the docs use `python` everywhere, I think it would be a disservice to users if `python` was not the latest available stable version. But PEP 394 says it should be Python 2 (or missing) :(

Users don't read docs in order. Mentioning it in place solves nothing.

I disagree.
When you `pip install` a package, you should do that in a venv (and you can use `python` i

[2019-02-14 20:05] ewdurbin commented on #463
@Mariatta can you share what if any particular settings in netlify were needed to create the initial setup? I can go ahead and create a new project and add the new admins.

[2019-02-14 20:45] Mariatta commented on #463
I went to netlify, and added python/devguide repo.
Then in the build settings:
Build command: `sphinx-build -n -W -q -b html -d _build/doctrees . _build/html`
Publish directory: `_build/html`
Branch: `master`.

I think that's all.

Under Build & deploy > Continuous Deployment > Deploy contexts, just ensure the Deploy previews: "Automatically build deploy previews for all pull requests" is selected

[2019-02-20 06:25] dorothykiz1 commented on #458
Hello @eamanu and @Mariatta  i would like to work on this issue

[2019-02-20 06:51] matrixise opened #465 "Add a "Patterns" chapter"
Yesterday, I have fixed an issue in bpo and this issue was for the support of `os.PathLike` in `FileCookieJar`. Since the introduction of `os.PathLike` and `__fspath__`, we continue to convert some parts of code to be `os.PathLike` compliant and I think there is a pattern for that.

Maybe we could create a page "Patterns" with some examples.

For example (but need to be tested and approved)

## Ho

[2019-02-20 06:52] Mariatta commented on #465
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/python/core-workflow/issues/189 (Add CONTRIBUTING.md), https://github.com/python/devguide/issues/3 (Add Travis support), https://github.com/python/devguide/issues/172 (Add PDF build), https://github.com/python/devguide/issues/136 (Add a chapter for introducing common function / class' corresponding source file),

[2019-02-20 07:29] asvetlov commented on #458
Do you need to update your local `master` copy?
If the master is tracked against `upstream` and `git checkout master && git pull` fetches `upstream` -- there is no need to keep your local (origin) master up to date.
Actually, you can even remove the branch -- everything still works fine.

[2019-02-20 11:00] ncoghlan commented on #465
Why are we converting an accurate `TypeError` to an incorrect `ValueError`? (If the passed in object doesn't adhere to what `os.fspath` supports, change the *value* passed in won't help - you have to pass in an argument of a different type)

[2019-02-20 13:45] matrixise commented on #465
@ncoghlan good catch

my example comes from `cookiejar` where there was a check and if there was an exception this one was catched and re-raised as a `ValueError`

I could fix it in `cookiejar` but I don't want to break the backward-compatiblity, or maybe I could document it in the whatsnew/38.html

I am going to fix my PR with your recommendation in CPython: https://github.com/python/cpython/pull

[2019-02-20 14:12] matrixise commented on #465
Ok I have fixed my PR https://github.com/python/cpython/pull/11945

Thank you

[2019-02-21 00:06] eamanu commented on #458
Hi @asvetlov,

Thanks for you response

hmmm I think yes. Because this way you can create a branch from master to make the PR. If you have an old master branch maybe when you made the PR this can have some conflicts. This is for local (your computer) copy.

Maybe could not be necessary have and updated copy on my own cpython fork (master branch) on Gihub, but if you follow the devguide, this menti

[2019-02-21 00:06] eamanu commented on #458
For that reason I create the alias.

[2019-02-21 15:19] matrixise commented on #458
I use these ones:

pr = !sh -c \"git fetch upstream pull/${1}/head:pr_${1} && git checkout pr_${1}\" -
wpr = !bash -c \"git fetch upstream pull/${1}/head:pr_${1} && git worktree add ../$(basename $(git rev-parse --show-toplevel))-pr-${1} pr_${1}\" -

--
Stéphane Wirtel - https://wirtel.be - @matrixise

[2019-02-25 23:40] brettcannon commented on #465
I think this is out of scope for the devguide. Patterns like this are a general thing for the wider community and should be covered elsewhere, e.g. blog posts or the documentation.

[2019-02-25 23:40] #465 closed

[2019-02-25 23:59] vstinner commented on #390
He was my favorite, I miss him :-(

[2019-02-26 00:03] gvanrossum commented on #390
He retired. And deservedly.

[2019-02-26 01:45] gvanrossum commented on #390
Wait, we may not be talking about the same person. The retired Paul F. Dubois I know is "Dubois", one word. I don't recall a core dev named "Paul Du Bois". What did he work on?

[2019-02-26 14:33] vstinner commented on #390
Oh sorry, I was jocking: I never saw "Paul Du Bois" name before, and it sounds like a french name. I didn't know him. :-)

[2019-02-27 00:02] vstinner commented on #390
I started a discussion on discuss.python.org about the list of core developers:
https://github.com/python/devguide/issues/390

I proposed the idea of creating a new Git repository or website which would be the official list of core developers. Each core dev would be free to edit their profile:

* Twitter handle
* bugs.python.org login
* GitHub login
* email address
* affiliation
* photo?!
* person

[2019-02-27 00:09] gvanrossum commented on #390
I'm with Brett, we don't need all those things. People can publish all such profile info on their GitHub profile. What we do need for each developer is their full name (since humans like full names :-) and their GitHub handle, plus enough information to understand how and when they became a core dev, and how/when their core dev status ended (not sure how to format this, perhaps all we need is date

[2019-02-28 01:18] brettcannon commented on #390
Just to do a quick brain dump of what I have floating in my head...

The details I assume we want to record are:

* Name (full)
* Primary email (for voting)
* Other emails (maybe; depends if it would help automate figuring out who has been active by mining commits that are most easily matched this way)
* Joined (date)
* Active (✔️ or blank; not sure if we care about recording a person's last commi

[2019-02-28 13:11] csabella opened #467 "Use the imperative form for the bullet list on the Continuous Integration page"
Relevant section:
[code]

[2019-03-06 00:49] willingc opened #468 "Update the Language Change doc to reflect PEP 1 addition of sponsor"
Update this page, https://devguide.python.org/langchanges/, to add mention of a sponsor for a PEP.

- [ ] Refer to PEP 1 [discussion of sponsor](https://github.com/python/peps/blob/master/pep-0001.txt#L160)
- [ ] The intent is to help non-core developers to navigate the PEP process and to aid community members in crafting draft PEPs with a high likelihood of success.
- [ ] Point out that contribut

[2019-03-06 00:50] Mariatta commented on #468
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/python/core-workflow/issues/5 (Move the PEPs to Read the Docs), https://github.com/python/devguide/issues/152 (Translate docs to others language), and https://github.com/python/devguide/issues/173 (Update the section about backporting changes).

[2019-03-11 18:46] pedroguilhermelima opened #469 "Automatic and internal Pip package management system"
I'm trying to create a thing, an idea, a thought. This is about the Pip package management system used to install and manage software packages written in the Python programming language.

So I wanted it to be automatic. Instead of always typing ...

For example

[code]

Solution
What if Python itself had this automatic feature internally?

For example

[code]

Case

A. If you do not have the modul

[2019-03-11 18:46] pedroguilhermelima commented on #469
Resume

What improvement?

Automatic and internal package. Forget 'pip-name-module' use only 'import'. With this, 'import is also the pip install name module'.

Case
A. If you have not, so add
B. If you have, check version

Regards,
Pedro Guilherme

[2019-03-11 18:46] pedroguilhermelima commented on #469
See here https://github.com/python/peps/issues/922

[2019-03-11 18:55] Mariatta commented on #469
Thanks for your interest in improving Python. However the devguide is not the right place to discuss the proposed idea. From the sound of it, perhaps [distutils-sig](https://mail.python.org/mailman3/lists/distutils-sig.python.org/)?

[2019-03-11 18:55] #469 closed

[2019-03-13 12:32] bukun commented on #323
``blurb`` could be installed via pip.

    pip3 install blurb

[2019-03-14 16:39] pedroguilhermelima commented on #469
Thanks

[2019-04-17 21:37] utkarsh2102 opened #475 "setup.rst: Typo in "intall""
There seems to be a typo in `setup.rst`, where `install` has been misspelled as `intall`.

This is a simple fix, I'll send a PR shortly :)

[2019-04-18 14:06] #475 closed

[2019-05-10 02:16] willingc commented on #463
@Mariatta I'm going to close this since it seems to be working well.

[2019-05-10 02:16] #463 closed

[2019-05-11 16:34] JulienPalard opened #483 "Developers logs 404"
Home page has a link to https://devguide.python.org/developers.html redirecting to https://devguide.python.org/developers/ which gives a 404.

[2019-05-11 18:06] Carreau commented on #483
Most link are 404 now for me, anything in "Full Table of Contents", like `/setup/`, `/help/` ... probably an error during the build on RTD.

[2019-05-12 10:35] JulienPalard commented on #483
@Mariatta @willingc do you think it's related to the .readthedocs.yml thing?

[2019-05-12 13:28] Mariatta commented on #483
That was my suspicion,.so I reverted the change (#484 ). It didn't seem to fix the issue.
Any other ideas?

[2019-05-12 16:03] willingc commented on #483
I wiped the build container in the RTD UI and set the advanced settings for Sphinx build:

<img width="646" alt="Screenshot 2019-05-12 09 00 46" src="https://user-images.githubusercontent.com/2680980/57584818-937dfc80-7494-11e9-8d77-4d5986fe1a96.png">

[Ref in Sphinx docs](https://www.sphinx-doc.org/en/master/usage/builders/index.html#sphinx.builders.html.DirectoryHTMLBuilder)

I'll submit a revis

[2019-05-12 16:03] #483 closed

[2019-05-12 18:24] Carreau commented on #483
Many thanks!

On Sun, May 12, 2019, 09:03 Carol Willing <notifications@github.com> wrote:

[2019-06-09 18:53] brettcannon commented on #390
I have generated a preliminary list of core devs from the CPython git repository and updated/cross-referenced with the developer log, but before I post it to the (private) voter repo and ask people to check their info I wanted to see if anyone can find any egregious issues with what is being recorded (it's TOML because I find that much easier to read and manually edit while still easy to parse):

[2019-06-11 17:08] Mariatta opened #494 "Clarify policy regarding 1 bpo issue per pull request"
In python-dev mailing list, it was asked what to do when a PR will address multiple issues.
https://mail.python.org/archives/list/python-dev@python.org/thread/74FS2DW2L4MDJXRREAABXYRWNI6INMBA/

From few answers from the core devs, seems like we prefer keeping only one issue open (the oldest one), and mark the rest as duplicates. Also, our workflow (bots and blurb) kinda expects 1 bpo issue per 1 p

[2019-06-11 17:38] tiran commented on #494
+1

I see "the oldest one" more like a guideline or preference than a hard rule. Sometimes there is another ticket with more or better information on the issue. It's a judgement call

[2019-06-11 23:00] brettcannon commented on #390
I also realized that Zulip and Discourse usernames might be handy.

[2019-06-15 14:52] ncoghlan commented on #494
The other technique I've used is to keep the additional issue open, but have the associated PR be purely a docs change. That was for https://bugs.python.org/issue30661, where changing the default behaviour in the `tarfile` module also changed the default behaviour in `shutil`. It doesn't apply for pure bug fixes though - only cases that call for a `versionchanged` entry in the documentation.

That

[2019-06-16 21:02] willingc opened #498 "Add note that current build instructions do not work with conda"
When using conda, the `make html` command does not currently work as it creates a venv inside the conda environment. Add note or create a `make html-conda` command.

[2019-06-16 21:06] willingc commented on #415
Closing as #498 is more descriptive.

[2019-06-16 21:06] #415 closed

[2019-06-25 13:00] vstinner commented on #390
Why not making such list public? Let each core choose if they want to publish their email or not for example. But most core devs already give their email when they write to python mailing lists or commit something into Python, no?

[2019-06-25 19:06] brettcannon commented on #390
@vstinner there will be a script to generate the equivalent of the developer log which will be committed to the devguide which will be public, so there's no need to worry about that level of ACL on data (IOW it's too much work 😄 ). And people's public email address for python-committer is not necessarily the one they want ballots to go to.

[2019-06-27 17:53] Mariatta opened #502 "Document that bpo issues can be automatically closed using commit message"
According to PEP 595, bpo now has a feature where issues can be automatically closed, if the PR commit message looks like `closes bpo-NNNN: ...`

This should be documented in devguide and announced to core devs/core-workflow mailing list/discourse.

Some questions: what magic keywords accepted? "closes" "fixes" "close" "fix"?
Is it case sensitive? (I assume not)

Does it also update the "resolutio

[2019-06-29 11:40] webknjaz commented on #502
Better follow what GitHub has: https://help.github.com/en/articles/closing-issues-using-keywords
This way people won't have to relearn which words work on which platform

[2019-07-01 22:48] ned-deily opened #503 "Provide guidelines for backporting"
The devguide currently gives information about how to do a backport of a fix from the feature (master) branch to maintenance branches but I see very little in the way of guidance on how to decide if a backport is needed.  The question has come up with core developers not really knowing what our policy, resulting in either a potentially beneficial fix not reaching users until one (even two) feature

[2019-07-11 16:31] Mariatta commented on #296
This would be useful info for the upcoming new Triagers team.

[2019-07-11 17:05] Mariatta commented on #308
It would be great to have this for the upcoming new [Triagers team](https://github.com/python/core-workflow/projects/3).

[2019-07-11 17:37] Mariatta commented on #502
Reading [bpo's source code](https://bitbucket.org/python/roundup/src/51682dc2cd7e28421d749117c25bec58f632ee5f/roundup/github.py#lines-19), the magic words are matching this regex
[code]

[2019-07-12 23:50] aeros opened #507 "Add github usernames to the experts index"
On the [experts index section of the devguide](https://devguide.python.org/experts), it would be helpful to include the GitHub usernames of the experts in each category. This seems like it would be a necessary component of fully implementing [PEP 581](https://www.python.org/dev/peps/pep-0581/). Currently, the names on this list only correspond with the names on the [roundup issue tracker](https://

[2019-07-12 23:56] aeros167 commented on #507
While working on this issue, it would also be appropriate to spend some time updating the list so that any currently inactive experts are removed and currently active experts are added. Any active core developer who has experience reviewing PRs in a given category and is interested could be added.

[2019-07-13 08:43] cdeil opened #508 "Broken link in Sphinx search on RTD"
At https://devguide.python.org/search/?q=sphinx there's currently a broken link http://devguide.python.org/index?highlight=sphinx to the "Python Developer’s Guide".

When I build the devdocs locally and do the same search for "sphinx", the link goes to `file:///Users/deil/work/code/devguide/_build/html/index.html?highlight=sphinx` (not the "index.html" instead of "index" at the end of the URL) and

[2019-07-15 17:04] Mariatta commented on #507
I also prefer option 1.

I believe there is an existing mechanism to automatically `+nosy` people in experts list to issue in bpo. Not sure if changing the format will break anything. Perhaps someone more familiar with bpo can chime in.

[2019-07-15 20:58] zware commented on #507
The experts list is read to populate the nosy auto-complete options, see [here](https://bitbucket.org/python/tracker-cpython/src/9a08bc72cc6419cbd427edfd10d5c795f57b2862/extensions/jnosy.py#lines-15:64) for the code that reads it.  Any change to the experts list should either be made to conform to the existing code, or come with a pull request to that code to parse the new format (if done before P

[2019-07-15 21:32] aeros167 commented on #507
@zware

Alright, I could start working on this and test it by locally hosting the [raw experts page](https://raw.githubusercontent.com/python/devguide/master/experts.rst) and attempting to extract data from it. I have some experience working with urllib and json parsing in general.

Alternatively, would it be practical for us to setup an API which contains just the expert data in json format? This

[2019-07-15 21:51] zware commented on #507
I don't know about setting up an API, but I think it would be reasonable to store the experts data in JSON format, and generate both the nosy auto-complete and the table in experts.rst from the JSON data.

[2019-07-15 21:56] Mariatta commented on #507
It can just be a .json file within this repo on GitHub. Bpo can then read from it. Automatically converting to .rst is great too.

[2019-07-15 22:15] aeros167 commented on #507
Yeah I'm thinking this might be the best way to do it. An API probably wouldn't be necessary since we're really the only ones making use of the data. Would it be preferable for me to start working on that first or should I work on just making the current data extraction compatible with the GitHub usernames in parenthesis?

For the first option, I could start by figuring out a the best way to organ

[2019-07-15 22:18] aeros167 commented on #507
The main thing I'm unsure of is reading the JSON data into the table of `experts.rst`, just because I haven't done anything like that before with RST. I just started learning the format when I started contributing to the Python docs (which has only been within the last month or so).

[2019-07-16 11:22] zthompson47 opened #509 "Missing git command in pull request step-by-step guide"
Hello,

I was following the pull request (PR) step-by-step guide from #103 and ran into an error with a git command.  My PR has to do with a typo I found in the cpython documentation, and here are the steps to recreate the situation:
1.  Begin at https://devguide.python.org/docquality/#helping-with-documentation-issues
2. Click ["Quick Guide to Pull Requests"](https://devguide.python.org/pullreque

[2019-07-16 13:04] methane commented on #509
Nice catch.  Please add `git fetch upstream` before `git checkout -b <branch-name> upstream/master`.

Please note that people may start from an existing local clone, instead of fresh `git clone`.
Their local master branch may be old.  Or it may contain local changes by the user.
upstream/master is much safer than master.

[2019-07-16 13:34] zthompson47 commented on #509
Good point, and thanks for the quick feedback.  I'll submit a PR later today.

[2019-07-20 11:04] ncoghlan commented on #508
https://devguide.python.org/?highlight=sphinx works, so I wonder if that could be a bug when building in HtmlDir mode.

[2019-07-22 17:00] Mariatta commented on #296
Some labels were explained here https://discuss.python.org/t/who-should-be-able-to-change-what-labels-on-github/2000

[2019-07-22 17:00] #509 closed

[2019-07-24 01:13] ltoddy opened #512 "Does not support number begin with 0?"
![image](https://user-images.githubusercontent.com/20920763/61757434-2b805680-adf3-11e9-811e-d7ffb180ec5a.png)

[2019-07-24 01:37] terryjreedy commented on #512
Your comment is off-topic here.  This is the repository for the guide to how to help develop the CPython implementation of python.  It is not for questions about how to use Python.  For the latter, try, for instance, the python-list mail list.

To answer your question: 'no'.  Read the tutorial and the first few chapters of the language and library manuals, and in particular
https://docs.python.org

[2019-07-24 01:37] #512 closed

[2019-07-26 19:30] Mariatta opened #515 "Task: improve the "Using issue tracker" section"
The [Using issue tracker page](https://devguide.python.org/tracker/) seems to describe how to use issue tracker for people who want to report a bug and how to help triage issue.

Seeing this is the developer's guide (aka contributing to Python guide), it would be great if there are sections dedicated for how to search for issues to start contributing.
Even [the section about what each fields in th

[2019-08-02 19:34] Mariatta opened #518 "Make it clearer that "automerge" exists and is preferred"
And provide better instructions about how to merge manually.

One thing that people don't realize is that the second PR number (in backport pull request) is autogenerated by GitHub, and had to be removed manually by hand before we click "Squash and Merge" button.

If we don't want to have to remember to remove that manually, then utilize the automerge feature.

As a reminder, automerge will be tri

[2019-08-07 20:39] Mariatta opened #519 "How to manage the "alternate" devguide branch for PEP 588?"
For PEP 588's purpose, we want to have an alternate branch of the devguide where the new workflow of using GitHub issues can be documented, and we want to have this branch ahead of the migration.
Sounds to me we will have to maintain two devguide branches: `master` branch and `github-issues` branch.

1. Which branch will be default?
2. Do we backport from one branch to another? From which branch?

[2019-08-07 22:10] brettcannon opened #520 "Make https://devguide.python.org/committing/ simpler"
Probably need more of a step-by-step todo list rather than all of that text so that a core dev who hasn't contributed in a while can more easily get their footing and merge a PR.

[2019-08-07 22:45] terryjreedy commented on #519
I would expect that you maintain the github-issues branch as a branch of master, just like we do for branches of cpython master.  Rather than 'backport' you occasionally merge upstream/master into github-issues.  I don't know if you are using the fork workflow for other repositories or if people just push to python/whatever.

One way to make a formatted (html) version of the alternate  available t

[2019-08-08 04:56] aeros167 commented on #507
@zware Let me know if you have any feedback for the experts JSON: https://github.com/python/devguide/pull/517

There might be a few entries to be updated (if the experts weren't on the BPO committers list, I used that to create the JSON), but that can easily be adjusted. I'm primarily concerned about ensuring the formatting is correct before moving on further with this issue.

[2019-08-09 20:45] Mariatta opened #522 "Simplify language in translation page"
In https://devguide.python.org/documenting.html#i-have-a-translation-but-not-on-git-what-should-i-do it says:

"Just ask for help on the doc-sig mailing list and our python-fu, git-fu and bash-fu combined will help you create an appropriate repository. If you use a tool like transifex don’t worry. Keeping them in sync is not that hard."

That answer sounds a little demeaning to me.

- I would sugg

[2019-08-11 21:06] maxking commented on #518
I wonder if the right place for this content is https://devguide.python.org/committing/  or if there is a need for a dedicated page which helps core devs understand the features of the bots?

There already is #520 to make the above page simpler, but I feel more text on that page will just be invisible. But perhaps when it is re-written to be a more of a step-by-step guide, it can delegate to speci

[2019-08-17 14:57] #308 closed

[2019-08-21 02:04] willingc opened #526 "Add information about Netlify preview for docs on GitHub PRs"
See https://github.com/python/cpython/pull/15288

[2019-08-22 01:46] aeros167 commented on #526
@willingc This would probably be bested suited for https://devguide.python.org/documenting/ (``documenting.rst``). Since this section would be fairly small, straight forward, and is already well defined do you think it would be a decent candidate for ``good first issue``?

I wouldn't mind helping with this, but I think it would serve well as a decent introductory issue for contributing to document

[2019-08-22 23:56] Mariatta opened #527 "Write guidelines about closing PR/issue by triagers"
Closing an issue/PR means making decision and rejecting the proposed idea.

Perhaps this ability needs to be leveraged more carefully. It would be great if we have some guidelines of when a PR/issue can be closed. Example:

- don't close issue/PR created by other core devs
- don't close issue/PR which are clearly still in progress (people still reviewing, making changes)
- you can close invalid PR

[2019-08-23 00:00] Mariatta commented on #527
Those are my suggestions for what I think reasonable. But I'm open for other suggestions, for example if core devs prefer that triagers should not close issue/pr ever, then let's document that.

[2019-08-23 00:43] rhettinger commented on #527
My vote is for:  "triagers should not close issue/pr ever".

I consider my own experience when filing issues on other projects (mypy for example). If my suggestion is shut-down, it needs to have been seen by one of the project principals. I would feel dismissed if a recent addition to the team marked by issue as closed based on a misunderstanding.

Instead of closing, the new triagers should post

[2019-08-23 02:05] eamanu commented on #527
Hi everybody!

I think the triagers team may can close some issues/PR, but like propose Mariatta not
whole Issues/PR (e.g spam o invalid.) I think that could help us have a more "clean"
repository. IMHO have that possibility, will give to the triagers team member (that maybe
they are not core dev yet) more experience and motivation.

But is true what rhettinger says, closing a PR could be necessar

[2019-08-23 03:09] aeros167 commented on #527
@rhettinger

I would agree that triagers shouldn't close any potentially controversial PRs with current/recent activity, but for much older PRs that have been stagnant for long period of time, I don't think it's an issue.

Here's an example of one that I closed earlier today: https://github.com/python/cpython/pull/117. That one was inactive for well over a year (when Brett added an ``awaiting chan

[2019-08-23 03:58] rhettinger commented on #527
See also:  https://mail.python.org/archives/list/python-dev@python.org/message/STV4WIJJ3LBTKQSOOWPLS6EAAUKWN75M/

[2019-08-23 04:06] rhettinger commented on #527
Arguably, that shouldn't been closed.  Age is an insufficient reason for being closed.  The author had posted [as recently as May of this year asking for feedback ](https://bugs.python.org/issue29553#msg293558)(which he never got).

IMO, what was needed was a review of the patch and a recommendation of whether it correctly solved the open problem in bpo-29553.  Also, what should have been done is

[2019-08-23 04:22] aeros167 commented on #527
@rhettinger

I think you may have misread the date in the bpo issue, the author of the PR (andrewnester) last commented on the issue on 2017-05-12, which was may of over two years ago. Also, another contributor attempted to create an updated version of it at https://github.com/python/cpython/pull/14976, so age wasn't the only factor.

Also, I would argue that age shouldn't be a factor for issues,

[2019-08-23 04:40] aeros167 commented on #527
Although it's is not related to this particular discussion, as far as I can tell, Steven Bethard has not been active in any Python repository on either bpo or [GitHub](https://github.com/bethard) for the last 3 years at least, if not longer. I briefly searched through every nosy list he was included, up to 43 months ago with no response from him on bpo. Is there something I'm missing?

[2019-08-23 05:01] rhettinger commented on #527
I don't know about that.  Perhaps we need a new principal maintainer for that module.  We're always getting requests where someone who really knows the module needs to decide what is in scope and consistent with the design vision for the module.

Back to a more central topic for this issue:  In general, staleness isn't sufficient reason to close an issue or PR.  If so, we would just automatically

[2019-08-23 12:47] eamanu commented on #527
I agree with @aeros167 the very old inactive issues/pr should be close, because probably that PR will be very outdated and will be necessary a refactor.

The procedure with old inactive issues/PR could be: first ping to core dev asking for a review, and then if then the core dev could be say "ok close it" or directly close it.

[2019-08-23 23:56] brettcannon commented on #527
Let's start small and not burden triagers with trying to close PRs that look like they have not had any activity recently as that's a judgment call of what's reasonable which we have never standardized on. We could add a label for triagers to mark a PR as potentially stale so it gets flagged up to core devs to have a look.

[2019-08-24 02:49] aeros167 commented on #527
I created a PR to address this issue, based on the feedback in this issue and in the [python-dev mailing list thread](https://mail.python.org/archives/list/python-dev@python.org/thread/CIBKJSXQX5DZDKPA6TYTKNLHS4TA2LXM/): https://github.com/python/devguide/pull/530

[2019-08-29 05:53] rhettinger commented on #527
FWIW, when I recommend that an issue be closed but don't immediately close it myself, it means that I'm waiting for other core-devs to assent.

[2019-08-29 20:12] aeros167 commented on #527
Mariatta recently added a ``stale`` label for GitHub to suggest that a PR should be closed on the basis of it no longer being relevant, or if the author has not responded to feedback in a long period of time. This will be primarily applied by triagers, but it might also be helpful for core devs to use it as way of suggesting that a PR should be closed while waiting for a consensus from additional

[2019-08-29 20:18] brandtbucher commented on #527
Will this address closing/reopening PRs in order to re-trigger bad CI builds? I think it should be fine, but that having it explicitly mentioned in the guide is important given the nuances of this issue.

[2019-08-29 20:44] aeros167 commented on #527
@brandtbucher:

Usually, my suggestion has been to apply an empty comment and remove it to rerun the CI builds, but this seems to be another viable alternative. Based on a [comment from @vstinner](https://github.com/python/cpython/pull/15440#issuecomment-525171474) he was suggesting that any CI failure should be thoroughly investigated, even if it seems unrelated to the PR. If it's determined to b

[2019-08-30 03:51] ammaraskar commented on #527
I agree about "never close PRs" but I'm gonna have to push back on the "never close issues". I've triaged many-an-invalid bug on bpo. These are cases where it's just a beginner mistake and they just need quick little pointer in the right direction. I don't think having a core dev look at it would add any value. For example:

* https://bugs.python.org/issue34721
* https://bugs.python.org/issue27697

[2019-08-30 05:14] terryjreedy commented on #527
On 8/29/2019 11:51 PM, Ammar Askar wrote:

Those are nicely done, as well as I would have.  Would you be willing to
  help newer triagers?  Both as to the close decision and just as
importantly, the close message.

Terry

[2019-08-30 05:47] ammaraskar commented on #527
importantly, the close message.

Sure thing. To any of the new triagers: please feel free to reach out to me by email, zulip or add me to the nosy if you want me to look over or give feedback on an issue that seems like it should be closed.

[2019-08-30 08:02] aeros167 commented on #527
@ammaraskar

 "never close issues". I've triaged many-an-invalid bug on bpo

The new rules for the triager role primarily are targeted at GitHub and specifically with PRs, since pretty much all of the non-dev issues come from bpo still (which we're gradually moving away from). I'll update update the section accordingly though so it doesn't come across as suggesting that bpo issues shouldn't be clo

[2019-09-23 05:50] aditisingh2362 commented on #467
Could you please explain the meaning of imperative form?

[2019-09-23 05:55] aditisingh2362 commented on #520
So do we need to remove all the text with todo list or just add a todo list?

[2019-09-23 18:23] brettcannon commented on #520
@aditisingh2362 🤷‍♂ depends on which one leads to the better result for people.

[2019-09-25 04:30] evso9816 opened #537 "How to return data from an infinite loop without breaking it?"
Purpose: I want to read the content of an infinite loop [class A], collect data, and send it off to another class B/function for further processing.
Problem: content in class A can be displayed. However, calling A's content into class B/function display empty list.
There are 2 files: test3.py and test4.py. The call and execution are done from test4.py

It should work, but it does not: Looking for

[2019-09-25 05:03] terryjreedy commented on #537
This is the issue tracker for improving the guide for developing CPython.  Users should ask questions elsewhere, such as python-list or stackoverflow.

[2019-09-25 05:03] #537 closed

[2019-09-25 05:12] evso9816 commented on #537
So sorry. I didn't know that it's not the right place to ask question. My bad!

[2019-10-06 14:46] csabella commented on #467
@aditisingh2362, the imperative form of a verb means that it's an action.  For example, `checkout` would be an action, but `checking out` would not.  This [link](https://blog.esllibrary.com/2018/01/23/imperative-verbs/) describes it a bit more and you can also google it for other descriptions.  Hope that helps.

[2019-10-09 20:20] De-ma commented on #526
Hey! Can I take this issue on? :-)

[2019-10-09 21:20] aeros commented on #526
@De-ma Sure! Feel free to work on this, but keep it mind that we may have to wait for the Netlify setup to be completely finished before we can merge the section into the devguide. See https://github.com/python/cpython/pull/15288#issuecomment-524035385.

From my understanding, someone with access to the Python organization account such as @ewdurbin or @benjaminp has to install the Netlify GitHub A

[2019-10-11 08:56] SubhrajyotiSen commented on #522
Can I take this up?

[2019-10-11 08:59] SubhrajyotiSen commented on #498
Can I pick this up?

[2019-10-11 09:32] SubhrajyotiSen commented on #371
Can I pick up `triaging.rst`?

[2019-10-12 12:28] SubhrajyotiSen commented on #498
@willingc I ran `make html` inside a conda environment and it worked as expected.  Am I missing any step?

[2019-10-18 23:09] eamanu commented on #527
Hi everybody! I think this issue could be close, isn't?

[2019-10-18 23:12] brandtbucher commented on #527
Not sure if I should... :wink:

[2019-10-19 02:18] aeros commented on #527
@eamanu @brandtbucher I think this issue can be safely closed at this point since https://github.com/python/devguide/pull/530 was merged. I'll close it. If there's a need to, it can always be reopened.

[2019-10-19 02:18] #527 closed

[2019-11-14 00:00] #425 closed

[2019-11-16 01:02] #507 closed

[2019-11-23 18:33] DahlitzFlorian opened #555 "Add a note about running a make clean before or after re-running configure"
As mentioned in [bpo-38877](https://bugs.python.org/issue38877) it might be necessary to run a `make clean` before of after running re-running `configure` in a particular build directory. Therefore, a note should be displayed in the setup section of the devguide.

[2020-01-29 17:54] isidentical opened #569 "Grouping Checklists"
There are currently some checklists on different sections of devguide, such as grammar addition checklist and opcode addition checklist and I wanted to discuss adding a checklist for future directives (like `from __future__ import <directive>`).

Should we group that checklists in a page with divisions, and should we add a checklist for future directives (because it is also a complex process). (I

[2020-01-29 22:38] ncoghlan commented on #569
A "Task Checklists" section seems potentially plausible to me.

However, another way to structure that would be to leave the checklists where they are now, and have the "Task Checklists" page be a list of section links.

[2020-01-31 17:26] isidentical commented on #569
I can do both, but I more like a page with all checklist and then references inside the documentation to required checklist about a change.

[2020-01-31 19:13] ned-deily commented on #555
Thanks for the PR (and sorry for the delay in reviewing it).

[2020-01-31 19:13] #555 closed

[2020-02-12 00:32] Mariatta opened #572 "Add info on how to checkout earlier versions pre-GitHub migrations"
It would be great if Git Bootcamp has information on how to checkout git tags to get the earlier CPython releases (e.g. 3.3, 3.4 )

3.3. and 3.4 aren't on CPython's GitHub as branches (unlike 3.7, 3.8, etc), but there are git tags, can can be checked out as follows:

[code]

[2020-02-12 01:05] ned-deily commented on #572
It's a bit simpler than that.  You don't need to specify `tags/` when referencing tags.

[code]
https://git-scm.com/book/en/v2/Git-Basics-Tagging

[2020-02-12 02:55] zware commented on #572
We've also kept tags for old branches with the same name as the branch (for example, `3.2`, `3.3`, etc.), though that tag doesn't seem to have been created for 3.4.  With those tags, there's no difference to checking out an active branch, with the exception that you'll be on a "detached HEAD" if you don't create your own branch.

[2020-02-16 20:42] ned-deily opened #573 "The devguide should mention running Python tests from an installed installed instance"
Most distributed versions of Python include or have an option to include install the Python test suite.  This is included in the main Python Makefile (Makefile.pre.in) `make install` step.  Unfortunately, test directories to be installed need to be explicitly added to the Makefile so it is easy to overlook such a change when only running tests from a development build directory.  The devguide shou

[2020-03-09 20:46] terryjreedy opened #577 "Use imperative for commit title; fix example"
(See GvR's messages 363691 and 363740 on 2020 March 9 for https://bugs.python.org/issue39852.)
https://devguide.python.org/pullrequest/#making-good-commits has this descriptive example:
`bpo-42: the spam module is now more spammy (GH-NNNN)`
Guido strongly prefers the prevailing imperative style and would have that read
 `bpo-42: make the spam module more spammy (GH-NNNN)`

Possibly split the follo

[2020-03-10 17:10] gvanrossum commented on #577
While we're at it, let's also codify that the commit "title" shouldn't end in a period.

Also, let's more directly reference this guide to writing commit messages: https://chris.beams.io/posts/git-commit/

[2020-03-16 06:55] rosarion opened #578 "Group of commands running in Python 3.7.6 Shell, but failing as Script file."
[code]

BUT IF I RUN THESE COMMANDS as a PYTHON SCRIPT FILE iy FAILS.
[code]

Why is it failing as a Script file ?
Is there something wrong in my Procedure ?

Hope to receive your reply and Thanks in Advanced.

[2020-03-21 00:44] aeros opened #579 "Clarify force-push usage for CPython PRs"
As someone who regularly reviews PRs from contributors with varying levels of experience with CPython's workflow, often times I find that they repeatedly squash old commits and force-push to the PR branch each time a new commit or round of commits are added (after it has been opened). In most cases, this makes the history of the PR much more difficult to follow for review purposes.

I assume that

[2020-03-21 00:47] aeros commented on #579
The above also brought to my attention an unrelated typo, "Create Pull Request on GitHub" should be "Create a Pull Request on GitHub". It could be addressed in the same PR if a change is made to the "Quick Guide" section.

[2020-03-28 17:24] davidgfb opened #580 "Possible 2 times faster implementation of math.factorial"
I've found that my implementation of math.factorial could be 2 times faster than the one in the native library. I've found it in https://es.wikipedia.org/wiki/Lisp and translated it to Python.
It looks like this:
[code]

[2020-03-28 17:58] terryjreedy commented on #580
The above is likely only half as fast as the Python iterative version because functions calls are relatively expensive, and even more *slower* than the C-coded math module version.  The English version of the article, https://en.wikipedia.org/wiki/Lisp_(programming_language), has a better discussion of factorial.

In any case, this is off-topic for the devguide.  Try python-list to discuss further

[2020-03-28 17:58] #580 closed

[2020-04-02 18:36] devarshigoswami commented on #389
If this hasn't been handled, Can I work on it?

[2020-04-09 00:55] westurner opened #581 "CSS: code-blocks are not displayed in monospace"
The code blocks in the Python Devguide are not in monospace? It's borking the ASCII art, and possibly other code blocks?

Example::
- RTD w/ Devguide Sphinx theme:

 https://devguide.python.org/garbage_collector/#memory-layout-and-object-structure
- GH rst2html:

 https://github.com/python/devguide/blob/master/garbage_collector.rst#memory-layout-and-object-structure

- GH raw:

 https://raw.github

[2020-04-11 19:26] westurner commented on #581
RTD theme:
- Chrome Android: not monospace
- FF Android: monospace

GH rst2html:
- *: monospace

[2020-04-17 17:29] Mariatta opened #582 "Enable PR documentation build via readthedocs"
At the Language Summit, Eric Holscher showed us new feature in readthedocs for building documentation in pull requests.

It would be great to enable this feature for devguide.

Details https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html

[2020-05-16 14:48] Mariatta commented on #582
This has been enabled.

[2020-05-16 14:48] #582 closed

[2020-05-21 09:17] DahlitzFlorian commented on #579
In [section 3.8](https://devguide.python.org/pullrequest/#submitting) this is already mentioned:

However, I agree with you that it would be nice to have a note somewhere at the beginning so it is an eye catcher for contributors and more likely to be seen.

[2020-05-21 09:20] DahlitzFlorian commented on #577
I would like to work on this if nobody is currently doing it.

[2020-05-21 15:55] aeros commented on #579
Yep, that was my main point, which is why I linked to that section in 3.8 in my original post. :-)

It's easy for sections like that to get missed by new contributors taking a quick glance at the devguide, and it seems to happen often enough for it to be worthwhile to clarify.

[2020-05-21 16:00] DahlitzFlorian commented on #579
Are you working on a PR or can I take this one?

[2020-05-21 16:07] aeros commented on #579
@DahlitzFlorian You can take this one if you'd like. Also, feel free to @ mention me in the PR, and I'll try to get around to reviewing it within a reasonable period.

[2020-05-22 22:33] aeros opened #589 "Clarify "Co-authored-by" usage in PRs"
As brought up in a [Discourse committers topic](https://discuss.python.org/t/question-about-attribution-and-merging/4246/2), the devguide could be more clear about Pull Request attribution on GitHub.

Specifically, in the fourth paragraph of ["Handling Others' Code"](https://devguide.python.org/committing/#handling-others-code), the `Co-authored-by:` feature of GitHub is mentioned, but the use cas

[2020-05-23 00:02] cjerdonek commented on #589
In addition to the "Co-authored-by," the "Patch by" instructions also need to be clarified. Like, one sentence says this:

For the second part, it seems like "Patch by" is redundant in the commit message if they're already the author of the first commit. It should also clarify whether "Patch by" should be added to the NEWS entry if the Git history already has them as the primary author.

[2020-05-23 00:04] cjerdonek commented on #589
I would also check more widely before saying that reviewers should be credited in "Co-authored-by." I had never heard of that suggestion before today.

[2020-05-23 23:35] aeros commented on #589
Specifically, I meant that if a review suggested a specific change, and it was added to the PR. In the GitHub UI when directly committing a suggestion, it automatically adds the person who made the suggestion to the "Co-authored-by:". So, I think it makes sense to do this manually if the author directly adds a change suggested by the reviewer. In a case where the reviewer makes a suggestion that d

[2020-05-23 23:53] cjerdonek commented on #589
I don't know. That doesn't seem right to me. That would basically mean that anytime a reviewer made a suggestion on a PR that the author agreed to, they'd need to be added as a co-author. That seems like a significant broadening of the definition. Like, if you think about someone who writes a book, the book's editor might do a ton of work on making suggestions, but they're not listed as a co-autho

[2020-05-24 02:09] aeros commented on #589
That's a great point, I honestly hadn't thought about it that way. Perhaps then it should be based more on the significance of the suggestion(s) with respect to the entire PR. So, if a suggestion was made that had a fundamental impact on the overall feature, bug fix, behavior change, etc. a `Co-authored-by:` should be considered, but not for smaller ones (such as Misc/NEWS fixes, typos, and other

[2020-05-24 02:42] #579 closed

[2020-05-24 11:12] terryjreedy commented on #589
I think it depends on the magnitude of the change.  I just reworded a one-sentence news item and removed the co-author note.  On the other hand, I have often so thoroughly revised a PR that in the past I added myself as co-author.

[2020-05-24 20:49] 3ea3b377-f23e-4638-8c26-a08da9f02e56 opened #1627 "For 7.2.7. Code Examples, distinguish between the Tutorial and other documentation"
BPO | [40758](https://bugs.python.org/issue40758)
--- | :---
Nosy | @rhettinger, @ChasBelov

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2020-05-25 10:54] #577 closed

[2020-06-07 13:07] dtrodrigues opened #591 "Update devguide for 3.9.0b1 feature code cutoff"
Now that Python 3.9 will have no new features, update the devguide similar to https://github.com/python/devguide/commit/43432aab0542b8f486370651a1e98674be8c6086 .

[2020-06-08 11:05] anzonix opened #592 "glossary entry for single or double quotes, would it be useful?"
Single-, double-, or even, triple- quotes, quotation marks, may be confusing when used in examples in the glossary if they are not themselves listed in the glossary.
People reading introductory material from other language backgrounds may worry, necessarily or unnecessarily.
It is stated generally, web-searching outside of the documentation, that in Python single and double quotation marks may be

[2020-06-08 12:23] encukou commented on #592
Hello,
This repository contains the guide for contributing to Python, not for programming **in** Python. You can read this guide at https://devguide.python.org/ .
So, I'll close this issue here.

The Python documentation (https://docs.python.org) is part of the CPython repo: https://github.com/python/cpython/ .

On docs.python.org, string literals (and quotes) are covered:
- in a friendly way in t

[2020-06-08 12:23] #592 closed

[2020-06-08 14:13] anzonix commented on #592
Hi Petr,

Many thanks.
The informal introduction is helpful.

The lexical analysis itself in the text, at 2.4.1, does that very item of listing literals in double quotes and then referring to the same literals in single quotes, which although it does not contradict, "In plain English: Both types of literals can be enclosed in matching single quotes (') or double quotes (").", it does seem arbitrar

[2020-06-16 21:32] lrjball opened #593 "Test coverage doc fix"
Currently in the test coverage section, specifically 5.2.1.4, it mentions building the C extension for coverage.py. For a while now coverage.py has come with the C extension by default, so this step is almost never required (see here: https://coverage.readthedocs.io/en/coverage-5.1/install.html#c-extension).
I'm thinking it would be worth mentioning in the guide that installing the C extension is

[2020-06-20 16:47] manueljacob commented on #358
I agree that this should be clarified in the devguide. On my first PR, I was irritated (that word is maybe too strong) that the "bedevere/news" check fails. The devguide is not very clear on whether I should add the NEWS entry or the person accepting the PR should do it.

* [This checklist](https://devguide.python.org/pullrequest/#quick-guide) doesn’t mention it, but it is [mentioned](https://devg

[2020-06-20 18:05] terryjreedy commented on #358
There are +s and -s with OP including a blurb.  I plus is that the PR cannot be accidentally merged without some action.  But on balance, I think it should be recommended whenever there is a bpo number.  Before merging, I can edit or even delete, and editing online is easy.

[2020-07-12 13:17] elfalehed opened #597 "Upgrade a new assessment options for each available content."
I do believe that each content on the site, should be evaluated by the viewers, and pythoneers. That's why I think there should be an evaluation, rating system for each available article, Help, Pull request.

[2020-07-12 21:33] terryjreedy commented on #597
People can and should evaluate things as they read.  If they find specific faults with our docs, they can and sometimes do open issues to fix them.  Unfortunately, we are not able to attend to them as expeditiously as we would like.

Official rating system are something else, and tend to be either useless or abused. PyPI (now pypi.org) once had a package rating system and got rid of it.  Nor does

[2020-07-28 01:41] ramyaparimi commented on #371
Hi,
I would like to contribute to this issue. Is this still open? Can I take one of the files?
Thanks

[2020-08-01 17:35] P-Alban opened #603 "Devguide differs from python docs"
As I can see here https://github.com/python/devguide/blob/master/garbage_collector.rst#collecting-the-oldest-generation

But in the python docs here https://docs.python.org/3.10/library/gc.html#gc.set_threshold

So, which one is correct?

Bug report: https://bugs.python.org/issue41455

[2020-08-02 08:18] P-Alban commented on #603
As I can see here: https://github.com/python/cpython/blob/master/Modules/gcmodule.c#L1456 the first one is correct.

We should probably fix python docs accordingly.

[2020-08-02 08:44] #603 closed

[2020-08-11 13:17] vstinner opened #605 "List terms which should be avoided"
I replaced master/slave with parent/child or server/client in Python. I'm now replacing whitelist/blacklist with allowlist/denylist in Python:

* https://bugs.python.org/issue34605
* https://bugs.python.org/issue41521

It may be nice to have a list of terms which should be avoided in the Python projects and propose better terms:

* master/slave => parent/child, server/client, main, primary/seconda

[2020-08-11 13:25] vstinner commented on #605
Some articles about terminology:

* https://tools.ietf.org/id/draft-knodel-terminology-01.html (draft RFC): Master-slave, Blacklist-whitelist and "Other considerations"
* https://www.businessinsider.com/companies-github-terms-master-slave-blacklist-whitelist-open-source-2020-6
* https://www.marketplace.org/2020/06/17/tech-companies-update-language-to-avoid-offensive-terms/
* https://www.washington

[2020-08-11 13:28] hugovk commented on #605
Newest draft is v3 (July 08, 2020):

* https://tools.ietf.org/id/draft-knodel-terminology-03.html

[2020-08-11 14:20] vstinner commented on #605
"Inclusive Chromium code": https://chromium.googlesource.com/chromium/src/+/master/styleguide/inclusive_code.md

[2020-08-11 16:34] brettcannon commented on #605
Are the guides moving to "allowlist"/"denylist"? I've seen "allow list"/"deny list" (notice the spaces).

[2020-08-11 21:15] vstinner commented on #605
I don't think that we have to require one replacement. We can suggest multiple alternatives. For example, first I replaced blacklist with denylist in http.cookiejar documentation, but when I read again the whole documentation, it seems like blocklist is more appropriate: https://github.com/python/cpython/pull/21826

[2020-08-14 14:03] #591 closed

[2020-08-17 06:33] PaulMcMillan commented on #605
I agree that it is reasonable to enumerate terms that should be avoided. As always, the peanut gallery (itself an economically loaded term) is likely to chime in and tell us we're all wrong for trying to do the right thing, but it is important that we persist.

I've been seeing allowlist/blocklist as an accepted replacement terminology pretty broadly across my professional security-oriented networ

[2020-08-28 20:16] aeros commented on #605
@vstinner

whitelist/blacklist => allowlist/denylist, ignore, etc.

+1 For the proposed replacements. It might be a decent idea to put together a table in the devguide (perhaps in the ["Documentating Python"](https://devguide.python.org/documenting/) section). My only feedback would be to use some caution with regards to banning the usage of terms that are not widely considered to be controversial

[2020-08-31 19:48] brettcannon commented on #605
At work we are avoiding "master", "slave", "blacklist", and "whitelist" and I have heard the same from other companies. I think that's good for now and if other teams come out as generally unacceptable we can handle them then.

[2020-09-09 14:52] vstinner commented on #605
FYI there was a discussion about the usagef of gendered language in the PEP 3136: https://bugs.python.org/issue41743

[2020-09-23 14:30] Sanjeev273 opened #611 "Diagnostic not loaded: Could not open 'Fields0.h5'"
I have data file from smilei simulation: 'Fields0.h5' I got the msg in output file: Diagnostic not loaded: Could not open 'Fields0.h5'. Can anyone help me. is there anything wrong in python script or is it could be a problem in data file. I am not getting any error msg.I am using the following python script to acess the data:

import happi
S = happi.Open("/mnt/iusers01/fatpou01/phy01/v55735sk/scra

[2020-09-23 14:50] terryjreedy commented on #611
This issue tracker is for improving the devguide.  Ask question on python-list or Stackoverflow or ...

[2020-09-23 14:50] #611 closed

[2020-09-25 05:26] dependabot-preview[bot] opened #612 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/python) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/python/update-logs/48686188).

[2020-09-25 17:55] Mariatta commented on #612
Was there a change in PyPI recently?
Here's the log for those who couldn't see it:

[code]

[2020-09-25 17:56] #612 closed

[2020-09-25 17:58] Mariatta commented on #612
I retried the dependabot jobs. Seems like it's working now.

[2020-09-26 12:50] waadnakhleh opened #613 "Quick Reference intro contains the same link twice."
Devguide quick reference intro says:

set up and setup guide contain a link to the same page, which is the following: https://devguide.python.org/setup/#setup

[2020-09-26 21:27] hugovk commented on #508
I cannot reproduce this now, https://devguide.python.org/search/?q=sphinx has no link to "Python Developer’s Guide", and the other links all work:

![image](https://user-images.githubusercontent.com/1324225/94350584-30c0dd00-0058-11eb-9cb8-7cd0a4056824.png)

[2020-09-27 05:35] cdeil commented on #508
Looks like it has been fixed somehow in the meantime.

[2020-09-27 05:35] #508 closed

[2020-09-28 08:18] hugovk commented on #581
Can reproduce:

* Chrome macOS: monospace
* Chrome Android: not monospace

![image](https://user-images.githubusercontent.com/1324225/94406999-8215bd00-017b-11eb-91a9-d7b0e0b66a6e.png)

It gets the font from `pydoctheme.css` and looks like it's falling back to `sans-serif`:

[code]

However, `monospace` works on this test page:

![image](https://user-images.githubusercontent.com/1324225/94407444-1

[2020-09-28 08:26] hugovk commented on #581
And this also happens at https://pip.pypa.io, so this is likely a https://github.com/python/python-docs-theme bug.

[2020-10-04 19:05] AmruthReddy20 opened #617 "in join method"
hey developer,please consider my point

"*".join({"hello   ","there","iam"})
when you print this ,the hello ,there and iam are interchanging their positions in spyder and jupyter.
        the extra space 3 times  after hello changig their positions
                   why??????????????????????????????????????????

[2020-10-04 19:08] Mariatta commented on #617
This issue tracker is for Python DevGuide documentation, not for asking questions about using Python. Perhaps you can ask this in stack overflow or other forums.

[2020-10-04 19:08] #617 closed

[2020-10-04 19:41] terryjreedy commented on #617
@AmruthReddy20   The iteration order of a set, such as {"hello ","there","iam"}, is undefined and variable.  For any more, please ask elsewhere, such as python-list.

[2020-10-07 10:03] Jarmos-san commented on #371
I skimmed through the output from `.\make linkcheck` & observed these:

- `developers.rst` has no errors besides a redirect to `https://github.com/orgs/python/teams/python-core` which I believe can only be accessed by the members.

- `docquality.rst` has a link to the email - docs@python.org which has moved to `https://mail.python.org/mailman3/lists/docs.python.org/`.

- `exploring.rst` has two ar

[2020-10-08 14:27] Julian opened #618 "Broken intersphinx link to end-of-life branches"
The [Sphinx inventory for the devguide](https://devguide.python.org/objects.inv) shows that the [end of life branches section](https://devguide.python.org/devcycle/#end-of-life-branches) should live at:

[code]

i.e. https://devguide.python.org/devcycle/#eolbranch, but that's a broken fragment link (which my linkcheck doc builder notified me of). The correct path + fragment seems to be `devcycle/#

[2020-10-15 16:12] Sannidhya4396 opened #622 "Member request"
I request to be a member of this profile

[2020-10-15 17:29] Mariatta commented on #622
You don't need to be a "member" in order to start contributing to Python.

And the process to become a Python core developer is already written here: https://devguide.python.org/coredev/

[2020-10-15 17:29] #622 closed

[2020-10-19 18:25] ammaraskar opened #624 "Landing page for new contributors"
Currently our main resource targeting new contributors is midway through the index page: https://devguide.python.org/#contributing

It would be nice if we could have more like a landing page for new contributors like Rust's just to point people towards something a little less daunting than the full dev guide: https://prev.rust-lang.org/en-US/contribute.html

[2020-10-19 22:00] willingc opened #625 "Change Zulip badge in README to Discourse"
Discourse is found at discuss.python.org. Remove Zulip badge.

[2020-10-20 04:36] aliya-rahmani commented on #625
I've made PR #628 for this issue.

[2020-10-21 23:12] #625 closed

[2020-11-03 14:38] manakwadhwa2002 commented on #624
Hey @ammaraskar @willingc I have a good hand in front end development can i start working by making [https://devguide.python.org/#contributing](this) page more like [https://prev.rust-lang.org/en-US/contribute.html](url). You can view my work at my github profile https://github.com/manakwadhwa2002 and I am currently working on [https://www.mentord.co](Mentord Website)

[2020-11-03 14:45] manakwadhwa2002 commented on #613
I can fix this issue please assign me with it. I have a good hand in front end development as well as in backend development. You can check my github profile at [Manak Wadhwa](https://github.com/manakwadhwa2002) [My Recent Work](https://www.mentord.co)

[2020-11-06 10:36] Aryankpoor commented on #624
I can help too in the front-end if you want

[2020-11-06 16:52] willingc commented on #624
Hi @manakwadhwa2002 and @Aryankpoor, Let's hold off on big changes to this right now. We're booting up a new documentation workgroup and team in the next couple of weeks. You can hear more when we announce on discuss.python.org. There's going to be a focused effort to improve landing pages.

Feel free to use this issue to brainstorm what would be helpful to have on a new contributor page.

Thanks!

[2020-11-07 06:08] manakwadhwa2002 commented on #624
Thanks @willingc I would be more than happy to work with the new documentation workgroup and team. Can you please help me as where will i find the code to [this](https://devguide.python.org/#contributing) page on github ?

[2020-11-08 20:16] willingc commented on #624
@manakwadhwa2002 https://github.com/python/devguide/blob/ac8a267f683e56b80303438e3a2f4f2225aebd73/index.rst#contributing One tip for the future, using GitHub's search on the repo for key phrasing can be really helpful to find files :sunny:

[2020-11-09 09:05] manakwadhwa2002 commented on #624
@willingc thanks for the file path and the tip mam. I am sure that this will definitely help me in future :)

[2020-11-24 08:33] XmaXStalker opened #644 "I need help with the Icon."
I am trying to change the icon on a window I made in python.

This is the path of the file.
P:\Python\Training\Test6(Icons,Images,etc)

I made a 32x32 .png file then changed it to .ico

[code]

[2020-11-24 08:45] #644 closed

[2020-11-30 21:07] E-Paine opened #645 "Making the "Syncing with Upstream" section more accessible"
As per [bpo-42515](https://bugs.python.org/issue42515), I think we could make the "Syncing with Upstream" section of the git bootcamp more accessible for new contributors. The ideas are:

1. Rename section to "Updating your CPython fork" to make it easier to understand and find through a search engine
2. Point to [Get the source code](https://devguide.python.org/setup/#get-the-source-code) for a w

[2020-12-01 19:34] #645 closed

[2020-12-02 06:11] sparkingdark commented on #526
@willingc is this still open or the work is done

[2020-12-02 20:52] pablogsal opened #991 "Check that all symbols in the limited ABI are exported"
BPO | [42545](https://bugs.python.org/issue42545)
--- | :---
Nosy | @vstinner, @pablogsal, @erlend-aasland
PRs | <li>python/cpython#23616</li><li>python/cpython#23648</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org field

[2020-12-22 00:32] #522 closed

[2020-12-22 02:58] Mariatta commented on #526
This is outdated. We are no using readthedocs's PR build preview instead of netlify.

[2020-12-22 02:58] #526 closed

[2020-12-23 01:10] jablonskidev commented on #520
I'd like to work on the text for this page so that it'll be quicker for core devs to review the steps involved in accepting PRs from contributors. I should have something within the next couple days.

[2020-12-30 19:30] EricCousineau-TRI opened #651 "Request for CPython-synchronized versions?"
**Describe the enhancement or feature you'd like**

In https://github.com/pybind/pybind11/issues/2757, I referenced the devguide, namely targeting the GC and some nuances among different Python versions (2.7, 3.6, and 3.8+):
https://devguide.python.org/garbage_collector/

In it, I would love to be able to link to a version of the docs that correspond to the current CPython version (like what can b

[2020-12-31 01:08] terryjreedy commented on #651
The purpose of the python/devguide repository is to contain the current general information needed to develop and modify current CPython versions (plural).  The rare version-specific information is generally in tables.  It is intentionally in a no-x.y-branch repository separate from python/cpython.  I would oppose adding x.y branches.

The GC design chapter in the devguide is relatively recent (wh

[2020-12-31 01:23] pablogsal commented on #651
No additional comments: I echo what you just said.

The aim of the GC chapter, like the rest of the devguide, is to help with the development of CPython itself, so recording all different nuances of how the different things work in different versions is a considerable burden and can lower the approachability of certain complex topics to core devs that want to understand sections. For instance, wit

[2021-01-02 23:44] terryjreedy commented on #651
I am closing this since the devguide chapter seems not to be the place for the (unspecified) additional info you want listed.  Perhaps write to python-list to discuss more specifically what you think is lacking and where it might belong.

[2021-01-02 23:44] #651 closed

[2021-01-05 19:29] Mariatta commented on #613
If folks want to fix it, please go ahead and propose a PR. We typically don't "assign" issues to people.

[2021-01-05 19:33] Mariatta commented on #605
I agree overall on a list of inclusive languages, but I'm not sure if the devguide is the right place for it. I think perhaps this could fall within the scope for the upcoming Docs WG, to provide a guideline of acceptable terms. I would hope we use those terminologies not just for writing documentation, comments, code, but also during normal communications like in mailing lists/discussion forums.

[2021-01-05 19:36] Mariatta commented on #589
I would leave this to each committer's discretion. This is a GitHub-wide feature, I don't think we need to come up with our own rule on how to best use this feature.

[2021-01-06 12:00] vstinner commented on #605
Do you have a better place for such list?

[2021-01-06 12:00] vstinner commented on #605
The Docs WG doesn't exist yet, so devguide can a temporary home, until it is moved to somewhere else.

[2021-01-06 17:40] brettcannon commented on #605
Are we in such a rush to have an allowlist of terms that we can't wait for the Docs WG?

[2021-01-07 08:44] JulienPalard commented on #605
Agree, as a french speaker I'm glad when alternatives are proposed (building it myself in my brain take efforts, I miss some, and it take time). Multiple alternatives is good too, so we can pick the most relevant one according to the context (which is often more semantically right than the avoided terms).

Agree, the https://devguide.python.org/documenting/ is a good place for those recommendation

[2021-01-14 16:41] Mariatta opened #652 "Broken "Copyright" link at the footer of DevGuide"
At the bottom of the Devguide, there is a link to Copyright that points to https://devguide.python.org/copyright/ which doesn't exist.

It would be great to fix that. Not even sure where it should go. Should it just point to the license? https://github.com/python/devguide/blob/master/LICENSE

[2021-01-14 16:42] Mariatta opened #653 "Broken link "Copyright" at the footer of the devguide."
At the bottom of the Devguide, there is a link to Copyright that points to https://devguide.python.org/copyright/ which doesn't exist.

It would be great to fix that. Not even sure where it should go. Should it just point to the license? https://github.com/python/devguide/blob/master/LICENSE
![Screen Shot 2021-01-14 at 8 39 28 AM](https://user-images.githubusercontent.com/5844587/104620914-60feac8

[2021-01-14 16:51] Mariatta commented on #653
This is implemented in python-docs-theme.
https://github.com/python/python-docs-theme/blob/c7c7b4014d620b4d6ad69d12f41bf2bbca454b08/python_docs_theme/layout.html#L48

[2021-01-18 15:58] SpheeresX commented on #605
"parent/child" might be offensive for people who can't have children.

[2021-01-22 18:47] Mariatta opened #655 "Improve guidelines when reviewing PRs with backward incompatible changes"
**Describe the enhancement or feature you'd like**

In the [python-dev](https://mail.python.org/archives/list/python-dev@python.org/message/O3T7SK3BGMFWMLCQXDODZJSBL42AUWTR/) thread, Victor expressed frustration
over lack of documentation of how to port/migrate a function
that was removed.

It would be great that going forward, when we
introduce backward incompatible changes, the documentation
on

[2021-01-23 17:42] jablonskidev commented on #655
@Mariatta I'm already working on the [Accepting Pull Requests](https://devguide.python.org/committing/) page, and it's being reviewed by @brettcannon. I can add a bit about making sure that documentation is up to date as well.

[2021-01-28 13:26] Aayush-hub opened #657 "Add proper readme to repo for first time contributors."
**Describe the enhancement or feature you'd like**

As I landed to this repo to contribute to this project , I can't understand the work tree of the repo and from where to start changing files. I felt something missing which is the detailed readme to the project for first time contributors who wants to contribute their part to the organisation. I saw a redirecting link which landed me to a site wh

[2021-01-30 00:23] #520 closed

[2021-02-06 15:09] cyberShaw commented on #652
Can I work on this? I'm new to open source, and would love to contribute :D

[2021-02-11 16:35] jablonskidev commented on #655
@Mariatta Can this issue be closed? Here's a screenshot from the [Accepting Pull Requests](https://devguide.python.org/committing/) page:

![devguide](https://user-images.githubusercontent.com/36643503/107666981-fc833d00-6c43-11eb-9f8a-c1bce02d1001.png)

Would it be helpful if I went through the list of open issues for the devguide and flagged ones that seem to have been addressed already or may b

[2021-03-04 06:14] fleventy-5 commented on #653
Hey can I take this? If it's still open

[2021-03-04 06:24] Mariatta commented on #653
If you can fix it, then you can work on it.

[2021-03-05 18:21] ghostoverflow commented on #371
Working on developers.rst and setup.rst

[2021-03-07 19:22] jablonskidev commented on #652
@Mariatta I addressed this issue in the following PR in python-docs-theme:
https://github.com/python/python-docs-theme/pull/67

Also, issues #652 and #653 for the devguide are duplicates of each other, so we'll be able to close two issues once this one is resolved.

[2021-03-09 02:59] CAM-Gerlach commented on #589
FWIW, as a new(ish, I contributed a couple other minor changes a year or two back) contributor to CPython, it was pretty difficult to figure out the NEWS workflow in general, and this point in particular (which I'm still not sure on). In a details section, I've included a narrative description of my experience, in case its helpful in understanding from the beginner perspective the sources of confu

[2021-03-09 07:34] CAM-Gerlach opened #661 "Consider removing out of date instructions for obsolete Python versions that are no longer developed or supported"
**Describe the enhancement or feature you'd like**
There are a number of places in the dev guide that still discuss how to do various development tasks (modify code, submit PRs, etc) for versions of Python <3.6 that are EoL and no longer developed or supported. As in most cases these (particularly Python 2.7) simply add extra complexity, contingencies and cruft without providing any real practical

[2021-03-23 20:01] euberdeveloper opened #667 "Dark theme"
I don't know if this is the right repo for this issue.

Please, for the sake of my eyes, make a dark theme for the python docs site!!!

[2021-03-23 20:03] euberdeveloper commented on #667
Altimenti andate al lago

[2021-03-23 20:31] Mariatta commented on #667
There is an open PR for it in the python-docs-theme repo https://github.com/python/python-docs-theme/pull/44
We need folks to help review and test it.

[2021-03-24 10:38] hugovk commented on #667
Here's the test site for the PR:

https://septatrix.github.io/cpython-dark-docs/

[2021-03-24 13:00] septatrix commented on #667
I actually just made a few final changes and performed a bit of cleanup. Also the demo side got updated to python 3.10. I would be very pleased if someone were to review the changes as the PR has been open for a long time and this is IMO a long overdue feature.

[2021-03-28 21:01] Frinando opened #668 "Hello world"

[2021-03-28 21:01] Frinando commented on #668
Hello world

[2021-03-28 21:04] #668 closed

[2021-04-03 09:14] erlend-aasland opened #669 "Remove Zulip refs"
There are still some mentions of Zulip in the dev guide.

- [Section 2.4: Where to get help/Zulip](https://devguide.python.org/help/#zulip): I'm not sure this should be removed
- [Section 2.6: Where to get help/Core Developers Office Hours](https://devguide.python.org/help/#core-developers-office-hours): Remove Zulip info only, unless it's still in use?
- [Section 11.2: Triaging an issue/Becoming

[2021-04-04 10:01] erlend-aasland opened #671 "Sync section 25.7. with implementation"
Section 25.7. (AST to CFG to Bytecode) describes the `ADDOP_*` macros used in Python/compile.c, but it is out of sync with the implementation.

[2021-04-14 19:29] jwuttke opened #674 "Sect. 3 (Lifecycle of a Pull Request) does not mention Misc/NEWS.d/next and blurb"
The explanations how to create a pull request are incomplete. They should mention
- That in general a news file is requested.
- How this file can be generated using blurb.
- Under which conditions the "skip news" label can be set.

[2021-04-14 22:01] methane commented on #674
blurb and news entry are described in https://devguide.python.org/committing/#updating-news-and-what-s-new-in-python

Maybe, it's old workflow. Contributor writes patch without news. Core developer commit the patch with news.

In current workflow, we ask contributors to write news entry. So let's move the section from "16. Accepting Pull Requests" to "3. Lifecycle of a Pull Request".

[2021-04-27 10:55] pablogsal opened #678 "Update compiler docs with the new parser changes"
The documentation regarding the design of CPython's compiler should be updated to include the new changes in the parser:

* AST nodes are not generated anymore by hand (`ast.c` is almost gone) but generated directly by the parser.
* There is a new API for working with `asdl_seq` nodes.

[2021-04-29 03:55] Mariatta opened #681 "Fix broken links in the Devguide"
Looks like the `Link check` step in the CI is broken. It has always been allowed to fail for a long time.
Would be great to fix them all.

Please see the output here:
https://github.com/python/devguide/runs/2463428458?check_suite_focus=true

~While looking at the output, I noticed that pypy.org is listed as broken. I think that's the correct url though. I've filed the issue here:~

https://github.

[2021-04-29 04:02] Mariatta commented on #681
I think it would be great if `link check` becomes a required CI check, once we fixed all the urls.

[2021-04-29 06:21] himanshu007-creator commented on #681
Hi, i would like to fix the broken links. Please assign me this issue

[2021-04-29 13:37] Mariatta commented on #681
We don't assign issues to non core developers. You can just start creating the PR and we go from there.

[2021-04-29 16:52] himanshu007-creator commented on #681
There are total 11 broken links. I have fixed 7 of 'em. But there are some links i would like to ask about.

<a href="https://github.com/python/devguide/runs/2463428458?check_suite_focus=true#step:7:65">this </a> and <a href="https://github.com/python/devguide/runs/2463428458?check_suite_focus=true#step:7:66">this</a> link  point to same website and this website just shows a white screen

<a href=

[2021-04-29 18:34] Mariatta commented on #681
Looks like gmane.org moved to https://gmane.io/

Yes the python/voters repo is a private repo that is available for Python core devs only. So it looks like we will have to allow that the linkcheck to be broken :( Is there a way to tell sphinx linkcheck to ignore this specific url?

Hmm yes, I also don't know what the correct URL is. It has been discussed previously in
  https://github.com/python/d

[2021-04-29 19:59] Mariatta commented on #681
There is a way to tell linkcheck to ignore urls. The documentation is here:
https://www.sphinx-doc.org/en/master/usage/configuration.html?highlight=linkcheck#options-for-the-linkcheck-builder

Perhaps we need to add the python/voters url to it.

[2021-04-29 20:36] hugovk commented on #681
Is it https://issues.roundup-tracker.org/ ?

[2021-04-30 02:06] Mariatta commented on #681
Yes it looks like it.

[2021-05-05 15:12] matrixise opened #689 "Rename master to main..."
Since May 3rd, CPython uses the main branch as the default branch. We should do the same with this repository and keep the same naming system like this one.

[2021-05-05 16:12] Mariatta commented on #689
In the [Steering Council](https://mail.python.org/archives/list/python-dev@python.org/thread/XCUXKL5LMQHO7GDQUABS4KE6JSMRVUQN/#GDAUZKYB6GP3A3ZGBSQ4KQ7R6QFIZHZC) announcement, it says:

So I was waiting for their updates on it.

[2021-05-05 18:36] matrixise commented on #689
Thanks, @Mariatta  I was not aware of the announcement...

[2021-05-15 12:54] Bonifacio2 commented on #657
This sounds like a #624 duplicate.

[2021-05-17 15:56] rahul-kumi commented on #502
@Mariatta, as per the below regex I understand that the matched words are -
`close`, `closes`,`closed` `closing`, `fix`, `fixes`, `fixed`

One thing I wanted to point out from https://help.github.com/en/articles/closing-issues-using-keywords
is that it would be nice to incorporate `resolve`, `resolves`, `resolved` into this regex. I would be more than happy to integrate this change into [psf/bpo-r

[2021-05-17 18:08] Fidget-Spinner commented on #678
Hi Pablo, I'd like to work on this. Admittedly I'm still inexperienced when it comes to the compiler. So this might take some time.

[2021-05-17 18:20] Mariatta commented on #502
@rahul-kumi I think it's a great suggestion. I'm not actually involved in bpo development, so perhaps the bpo maintainers can give you better guidance on how to contribute there.

From my perspective though, considering that we'll be migrating away to GitHub Issues, I think at this point it's not worth making such change to b.p.o. I do think it would still be great to document the existing behavio

[2021-05-17 18:41] pablogsal commented on #678
Thanks @Fidget-Spinner! The section that needs replacing is:

https://github.com/python/devguide/blob/master/compiler.rst#parse-tree-to-ast

Basically the Python/ast.c is not used anymore because the parser generates the AST (see PEP 617) and the APIs mentioned there are old, as we use typed information now:

https://bugs.python.org/issue41746

[2021-05-18 15:47] rahul-kumi commented on #502
Thanks for the clarification @Mariatta.
I have raised PR #701 documenting the feature.
Let me know if any improvement is to be made to the PR.

[2021-05-18 21:57] Bonifacio2 opened #702 "Duplicate text on 11.2. Becoming a member of the Python triage team"
Part of the section is as follows:

Most of the text on the paragraphs is the same, so I guess there's a leaner way to write it.

Source: https://devguide.python.org/triaging/#becoming-a-member-of-the-python-triage-team

[2021-05-24 22:29] #678 closed

[2021-06-04 18:12] Mariatta opened #709 "The copy"
enhancementfor the Python language or CPython interpreter,
then the CPython issue tracker is better
suited for this report: https://bugs.python.org

**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional

[2021-06-04 18:14] Mariatta opened #710 "The "copy to clipboard" icon seems broken in the new theme"
**Describe the bug**
It seems like the "Copy to clipboard" icon is not showing up properly. Instead, there is a long text that says "Copy to clipboard"

**Expected behavior**
I think it should show the copy icon instead of the text.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screen Shot 2021-06-04 at 11 12 07 AM](https://user-images.githubusercontent.com/584458

[2021-06-04 18:41] Mariatta commented on #709
Sorry, issue was created prematurely by mistake before I finished typing. See #710 instead.

[2021-06-04 18:41] #709 closed

[2021-06-04 18:50] pablogsal commented on #710
Is only broken in the front page. This is a bug in the extension, see:

https://github.com/executablebooks/sphinx-copybutton/issues/121

[2021-06-04 18:57] #669 closed

[2021-06-04 18:58] #671 closed

[2021-06-06 13:01] shreyanavigyan opened #711 "Error in table of contents on the gitbootcamp page"
In the git bootcamp cheatsheet, there's an error in the table of contents. Screenshot -

![image](https://user-images.githubusercontent.com/74560907/120925230-49a88480-c6f5-11eb-8b97-39b81257e5f1.png)

[2021-06-08 04:17] pratyaksh1610 commented on #681
I am new to open source .  Can you guide me through the journey ?
How can I resolve my first issue ?

[2021-06-08 04:18] pratyaksh1610 commented on #681
@Mariatta

[2021-06-08 20:57] akulakov commented on #711
I will make a PR to delete this list of contents since an exact copy already shows up on the right hand panel, as shown in the screenshot.

[2021-06-09 04:39] shreyanavigyan commented on #711
@akulakov Thanks! https://github.com/python/devguide/pull/712 fixes this! Closing this.

[2021-06-09 04:39] #711 closed

[2021-06-15 21:23] pablogsal commented on #710
Fixed by https://github.com/python/devguide/pull/715

[2021-06-15 21:23] #710 closed

[2021-06-15 21:45] Mariatta commented on #710
Cool! Thanks!

[2021-06-16 16:13] Fidget-Spinner opened #716 "Document ``build.bat`` counterparts for many instructions using ``make``"
A few sections using ``make`` don't always have their Windows ``build.bat`` counterpart. One example here:
https://devguide.python.org/grammar/#checklist .

The docs should be updated to have the equivalent ``build.bat`` command beside ``make``.

[2021-06-16 16:27] Fidget-Spinner commented on #716
To get the ball rolling, I'll work on the example I mentioned in the first message. If anyone finds anything in other sections, reporting them here or fixing them would be a great help :).

[2021-06-17 07:48] encukou commented on #716
There's one in CPython at the end of `Tools/scripts/stable_abi.py`, and the corresponding commands at the end of https://devguide.python.org/c-api/ might also be simplified. If you know the proper incantations for Windows, please add them!
But these might need to be added to `build.bat` first. (And if you want to go deeper: I couldn't find instructions for adding things to `build.bat`.)

[2021-06-19 23:30] SimiCode opened #717 "Example for Running a single test case fails"
**Describe the bug**
When I run `./python -m unittest -v test.test_abc.TestABC` as suggested in the dev-guide,
I get an error:
[code]

**Expected behavior**
fix this by adding "_Py" and run it as
`./python -m unittest -v test.test_abc.TestABC_Py`

[2021-06-19 23:43] terryjreedy commented on #717
I verified the problem and the fix.  Can you make a PR, if that is what we do for his repository?

[2021-06-20 07:52] SimiCode commented on #717
PR added: https://github.com/python/devguide/pull/718

[2021-06-23 00:13] jablonskidev commented on #681
@pratyaksh1610 If you're looking for guidance on how to find and fix your first issue, you can check out this resource: https://realpython.com/start-contributing-python/

[2021-06-28 23:00] jdevries3133 opened #721 "Add an Expert?"
**Describe the enhancement or feature you'd like**
I was working on [this bpo](https://bugs.python.org/issue44521) and wanted to tag an expert who would be able to chime in, but I wasn't sure who would fit for this issue. Strings? Built-in types?

**Describe alternatives you've considered**
Maybe there should be another category on the expert page for `built-in types`?

[2021-07-11 13:47] GF-Huang opened #723 "I have never seen such a dumb API design"
https://docs.python.org/3/library/itertools.html#itertools.groupby

Make an iterator that returns consecutive keys and groups from the iterable. The key is a function computing a key value for each element. If not specified or is None, key defaults to an identity function and returns the element unchanged. Generally, the iterable needs to already be sorted on the same key function.

I don't know w

[2021-07-11 14:41] nanjekyejoannah commented on #723
Can you please open the issue on bpo (https://bugs.python.org/). It looks like an issue regarding API design no? Note, calling volunteers stupid will not help in any way.

[2021-07-11 14:43] zware commented on #723
This blatant violation of our code of conduct is in any case misplaced. If you want to pursue trying to get this API changed, try either a bug report or a message to one of the development mailing lists. Further CoC violations are likely to have you just banned, though; please be considerate of others.

[2021-07-11 14:43] #723 closed

[2021-07-11 15:26] nanjekyejoannah commented on #723
Can someone with rights do the same, i.e close here : https://github.com/python/pythondotorg/issues/1812 ?

[2021-07-12 07:27] FalleN321 commented on #667
Hello ,

I have 2 solutions for you. You don't have to wait for anyone to make dark theme for the python docs site.

here are two proposed solutions:

1- Use opera GX browser , It has a built-in Dark mode , which works for (almost) every single website. I'm using it right now and have have dark themed Python docs site.

2- Use Google Chrome and install an extension called (Dark Reader) it has opti

[2021-07-12 08:02] euberdeveloper commented on #667
Hi, I have already installed that extension and works great.

As a suggestion, I think that it could be useful an official dark version of the site, for this reason I have not still closed the issue

[2021-07-15 11:37] Noel-Voelin commented on #681
As far as I see, this issue is resolved. @Mariatta can you please close this or update with what is needed? Thanks!

[2021-07-15 18:41] Mariatta commented on #681
@Noel-Voelin there are still broken URLs in the linkcheck stage, and we need to get them fixed.

The output is here: https://github.com/python/devguide/pull/727/checks?check_run_id=3079759235

Some of the urls are not broken but rather restricted/hidden. You may need to adjust the config/settings such that linkcheck will ignore those urls. This doc describes how to set the options: https://www.sph

[2021-07-15 21:20] #717 closed

[2021-07-25 21:11] jdevries3133 opened #731 "Reviving / Carrying Forward PRs"
# The Problem: Abandoned PRs

I am wondering about whether it is helpful for contributors to help move forward pull requests where the original contributor seems to have lost momentum for whatever reason. For example, I found [bpo-19217](https://bugs.python.org/issue19217) and [PR-41203](https://github.com/python/cpython/pull/21316/files). There had been a long discussion and extensive review on t

[2021-07-25 22:10] iritkatriel commented on #731
Sharing credit is done via the "Co-Authored By" tag. There is some relevant info here: https://devguide.python.org/pullrequest/?highlight=co-authored#converting-an-existing-patch-from-b-p-o-to-github

[2021-07-25 23:04] jdevries3133 commented on #731
@iritkatriel That's a great point. Do you think it would be a good idea to create a bot or github workflow that applies a `Is Co-Authored` (or similar) tag to commits where the contributor's PR includes commits that they did not author?

Or, are those tools not necessary, and it's clear from a core-dev point of view when co-authoring happens, and the risk of accidentally not giving co-author credi

[2021-07-27 12:36] encukou commented on #731
GitHub adds Co-Authored-By when squashing a PR with multiple authors. I'm pretty sure Miss Islington (the auto-merge bot) does as well.
So as long as you don't squash/rewrite the commits, that risk is small.

As for taking over commits, I'd say that as long as *you* are sure enough that you're not doing unnecessary duplicate work, go ahead. Leave a courteous message like "I did the requested chang

[2021-07-27 12:38] encukou commented on #731
Oh, and:
You're clearly thinking about how the other people involved will feel. I think that's more important than a documented process :)

[2021-07-27 13:24] iritkatriel commented on #731
Though in that case we typically remove the automated Co-Authored-By so that we are not included as co-authors on the commit.

[2021-07-28 16:19] jdevries3133 commented on #731
Ok, that is good to know and exactly what I was wondering!

I agree. There's no need to make it rigid or to make "rules," but if the feeling is that these types of contributions are
helpful, there is plenty of this work to go around once we teach people the workflow. By browsing random issues on the
bug tracker, you can find an almost endless stream of cases like this. I can't imagine how frustrat

[2021-07-30 15:15] #716 closed

[2021-07-30 15:23] Fidget-Spinner commented on #716
``./python ./Tools/scripts/stable_abi.py --generate-all ./Misc/stable_abi.txt`` doesn't work on MSVC (Windows) because it seems to require GCC/Clang. I will add a note in the docs somewhere for that.

[2021-07-30 16:07] #721 closed

[2021-08-06 09:54] alexprengere commented on #581
For the record, all the code-blocks from the devguide appears in monospace on my Chrome Android, as of August 2021. Should this be closed?

[2021-08-06 17:27] westurner commented on #581
Looks good

[2021-08-06 17:27] #581 closed

[2021-08-19 19:39] Ahmedk-n commented on #653
Hey can I work on that?

[2021-09-13 23:41] Text-only opened #745 "PGP SIGNATURE"
- [ ] - Whenever
Where ever![Screenshot_20210906-011354_ONE BOOSTER.png](https://user-images.githubusercontent.com/70195553/133171079-1f90dd5f-a828-4785-94f6-d8eecf3ae66e.png)

[2021-09-13 23:44] #745 closed

[2021-09-14 13:14] JunyiXie opened #746 "Dynamic Analysis with Clang"
<img width="760" alt="截屏2021-09-14 下午9 12 19" src="https://user-images.githubusercontent.com/22233256/133263862-f4014e87-023e-41a7-887a-c6c3f7cdfe1e.png">

use this way to enable sanitizers will case unittest check Sanitizer failed; it use _cflags to check

[code]

should replace with configure option
[code]

[2021-09-21 17:19] Mariatta opened #747 "Issue with Custom Domain on ReadTheDocs"
I received email from Readthedocs today regarding custom domain ownership validation for devguide.python.org

I'm not familiar DNS configuration, I don't think I have the access to do it.

Would someone from @python/infrastructure-staff  be able to help with this?

Thanks.

[2021-09-21 18:44] ewdurbin commented on #747
Can the user `ewdurbin` (me) on ReadTheDocs.org be added as an admin on the project to make sure this is taken care of?

[2021-09-21 18:58] Mariatta commented on #747
I have added you to the `cpython-devguide` project on Readthedocs.org Thanks.

[2021-09-21 20:29] ewdurbin commented on #747
All sorted!

[2021-09-21 20:29] #747 closed

[2021-09-21 20:42] Mariatta commented on #747
Thanks!

[2021-10-28 17:22] ericsnowcurrently opened #756 "Add information about frozen stdlib modules."
With the more stdlib modules getting frozen recently, it would be useful to have a section (or page) somewhere about:

* what are frozen modules?
* the different kinds of frozen modules (bootstrap vs. stdlib vs. testing)
* how to identify or modify which stdlib modules are frozen
* why some modules are frozen and some aren't
* how to deal with frozen modules in tests
* any other helpful info

[2021-11-01 10:59] pypdeveloper commented on #667
What would be the right repo to suggest changes to the documentation?

[2021-11-01 21:54] terryjreedy commented on #667
Doc content is handled on python/cpython.  Mariatta already answered for the web pages.
"There is an open PR for it in the python-docs-theme repo python/python-docs-theme#44"

[2021-11-01 21:54] #667 closed

[2021-11-11 09:17] cfbolz opened #765 "Add a paragraph to the parser guide that actions must not mutate ASTs"
I think it would be good if the parser guide had add a paragraph that stresses that actions must not mutate existing AST nodes due to the memoization (I made that mistake in pypy today ;-)). If you think that's a good idea I am happy to making an attempt.

[2021-11-11 09:17] cfbolz commented on #765
/cc @pablogsal

[2021-11-11 09:19] pablogsal commented on #765
Please, go ahead!

[2021-12-02 18:40] ewdurbin commented on #689
this is complete!

[2021-12-02 18:40] #689 closed

[2021-12-04 09:06] vstinner opened #777 "Is https://devguide.python.org/ still updated since master branch was renamed to main?"
https://devguide.python.org/ says "Last updated on Dec 02, 2021." The date Dec 2 is that date when the master branch was renamed to the main branch. But... it's also the latest commit: https://github.com/python/devguide/commits/main

I don't know if the build is triggered by a Git commit, or one a day.

I don't know if it's real issue. I prefer to open an issue to not forget. Feel free to close it

[2021-12-04 09:06] vstinner commented on #777
cc @Mariatta @willingc @JulienPalard

[2021-12-04 13:23] Mariatta commented on #777
I checked the reeadthedocs setting for devguide and it was already set to build from the main branch.

[2021-12-04 13:24] #777 closed

[2021-12-04 21:34] vstinner commented on #777
Thank you for checking ;-)

[2021-12-10 16:22] #765 closed

[2021-12-12 21:46] MohitMandalia commented on #681
Hi @Mariatta,

I would like you to check this[https://t.me/pybr_i18n] link from documentation it says website can't be reached , I am not sure what site it points.

Also this[https://github.com/python/python-docs-bn-in] link points to an empty git repo.

Please let me know how to fix those.

Thank you.

[2021-12-12 21:48] MohitMandalia commented on #681
Hi @Mariatta,

I would like you to check [this](https://t.me/pybr_i18n) link from documentation it says website can't be reached , I am not sure what site it points.

Also [this](https://github.com/python/python-docs-bn-in) link points to an empty git repo.

Please let me know how to fix those.

Thank you.

[2021-12-12 23:17] hugovk commented on #681
https://t.me/pybr_i18n is a link to a Telegram channel. If you have Telegram installed on your phone, it opens the channel in the app. Tested just now on Android and it works.

[2021-12-19 01:25] MohitMandalia commented on #681
Thanks.

[2021-12-23 12:21] MaxwellDupre opened #780 "Improvement to Lifecycle of a Pull Request at git push origin"
Where:

_When all of your changes are committed (i.e. git status doesn’t list anything), you will want to push your branch to your fork:_

`git push origin <branch name>`

_This will get your changes up to GitHub._

There is a step missing which gave me some issue. That is the bit about the git command responds with username and password. If you enter your GitHub password the response is:

Usernam

[2021-12-24 02:24] cespedesk opened #781 "More than 4 cameras error."
I am trying to make a software to run 6 cameras but it can only run 4 at the same time.
Is there a camera amount limit?
This is my code

import threading
import multiprocessing
import cv2
import numpy as np
import time

# In screen FPS counter
timeStamp=time.time()
fpsFilt=0
font=cv2.FONT_HERSHEY_SIMPLEX

dispW=1280
dispH=720

dispW1=640
dispH1=480

# Camera inputs
# v4l2-ctl --list-devices

cap=c

[2021-12-24 03:06] methane commented on #780
I don't want to recommend to create PAT manually. Users can use SSH, CredentialManager, or create PAT automatically with `gh auth login` too.

I prefer just adding a link to this section.
https://docs.github.com/ja/authentication/keeping-your-account-and-data-secure/about-authentication-to-github#authenticating-with-the-command-line

[2021-12-24 04:44] terryjreedy commented on #781
This is the repository and issue tracker for improving the guide for people who improve CPython, located at https://devguide.python.org/.   Questions about using Python should be directed elsewhere, such as stackoverflow.com or https://mail.python.org/mailman/listinfo/python-list.  If you do ask elsewhere, you should post properly indented code by copying and pasting what you actually run.  Also r

[2021-12-24 04:44] #781 closed

[2021-12-24 11:28] MaxwellDupre commented on #780
Hi,
That's fine as long as others don't fall into the pit that I did.

[2021-12-28 17:01] a-muk commented on #624
Hello! Is this issue still open?

[2022-01-08 20:51] sobolevn opened #790 "Is "current owners" section up-to-date?"
I am reading through https://devguide.python.org/devcycle/#current-owners and it feels like it might a bit outdated.

For example:
- https://pyfound.blogspot.com/2021/12/a-message-from-psfs-outgoing-executive.html

Should it be changed? Are there any other changes?

[2022-01-19 23:06] BrianWisniewski commented on #681
There also appears to be a broken link within both steps 5 and 7 [here](https://devguide.python.org/coredev/#gaining-commit-privileges).

[2022-01-20 09:40] hugovk commented on #681
https://github.com/python/voters/ is a private repo so only those with access can see it.

I've created https://github.com/python/devguide/pull/793 to try and make it more obvious the repo is locked/private.

[2022-01-21 21:18] erlend-aasland opened #794 "Add git diff tricks to git cheat sheet section"
After python/cpython#30745 we can do some neat git diff tricks:

    $ git switch <somebranch-with-autogenerated-changes>
    $ git diff main ':(attr:!generated)'
    $ git config diff.generated.binary true
    $ git diff main

It would be nice to document these in the devguide.

[2022-01-21 21:34] erlend-aasland opened #796 "Drop Mercurial sections"
Suggesting to drop the following two sections:

1. [Git Bootcamp, Applying a Patch from Mercurial to Git](https://devguide.python.org/gitbootcamp/#applying-a-patch-from-mercurial-to-git)
2. [Triaging, Mercurial Repository](https://devguide.python.org/triaging/#mercurial-repository)

Maybe instead of dropping the Mercurial Repository section from the Triaging chapter, we could just note that this B

[2022-01-21 21:41] erlend-aasland opened #797 "Promote GitHub CLI in Downloading Other's Patches section"
The [Downloading Other's Patches](https://devguide.python.org/gitbootcamp/#downloading-other-s-patches) is easier to teach if you use the GitHub CLI. Currently, there is a small note about `hub`. Suggesting to make this more noticeable and also mention GitHub CLI.

[2022-01-21 22:38] #797 closed

[2022-01-26 21:49] #794 closed

[2022-01-27 00:14] #796 closed

[2022-01-27 11:12] hugovk commented on #652
Closing as a duplicate of https://github.com/python/devguide/issues/653.

[2022-01-27 11:12] #652 closed

[2022-01-27 11:47] hugovk commented on #790
In https://github.com/python/devguide/pull/792, @ewdurbin updated it to remove Ewa.

@ewdurbin Are the others up to date? Thanks!

[2022-01-27 12:32] ewdurbin commented on #790
Yes, list is current after that change.

[2022-01-27 12:43] #790 closed

[2022-01-27 20:43] pxeger opened #805 "Document the various code generation tools used by CPython"
**Describe the enhancement or feature you'd like**

There should be some documentation about the various code generation tools used in CPython, for example:

- freeze_modules.py
- deepfreeze.py
- generate_global_objects.py

I don't think there needs to be a massive amount of documentation about these. Just a brief mention of their purposes, how to invoke them, and notes about their related `make`

[2022-02-01 16:44] mark1234N opened #810 "Issue with https://devguide.python.org/compiler/"
The AST to CFG step is handled mostly by two functions called by _PyAST_Compile(); _PySymtable_Build() and compiler_mod(). The former is in Python/symtable.c while the latter is in Python/compile.c.

should read:

    The AST to CFG step is handled mostly by THREE functions called by _PyAST_Compile(); _PySymtable_Build() and compiler_mod(). ...

[2022-02-01 16:53] pochmann commented on #810
[As you were already told](https://stackoverflow.com/q/70944008/12671057), those *are* only two functions, not three.

[2022-02-01 17:11] zware commented on #810
`_PySymtable_Build` and `compiler_mod` are two functions; `_PyAST_Compile` is a third that does not call itself.  I'm not an expert on the compiler stuff, but from an English interpretation there's no problem here.

[2022-02-01 17:11] #810 closed

[2022-02-28 11:15] shimst3r opened #817 "Install Dependencies for macOS not sufficient to build gdbm"
**Describe the bug**

Following the [setup instructions for macOS](https://devguide.python.org/setup/#macos-and-os-x) and installing all dependencies via Homebrew, building the optional module `_gdbm` does not work.

**Expected behavior**

Following the setup instructions, I expect a full CPython build.

Adding the missing steps to either the documentation or `.configure` would be highly appreciat

[2022-03-25 02:51] ezio-melotti opened #821 "Update label names in the triaging section"
The labels used in the `python/cpython` repo have been updated In python/core-workflow#432 and python/bedevere#419.

https://devguide.python.org/triaging/ should be updated accordingly.

https://discuss.python.org/t/github-issues-migration-label-mapping/14212 has more information about the labels.

[2022-03-28 15:51] pgadige commented on #821
@Mariatta I'm working on this one. May I share a draft PR?

[2022-03-28 16:07] Mariatta commented on #821
Sure @pgadige go for it.

[2022-04-07 20:57] ezio-melotti commented on #821
@pgadige, are you still working on this?

[2022-04-14 07:20] slateny commented on #681
Some more broken links (ctrl+f) that I'm not too sure what to do:

[described in the buildbot documentation](https://devguide.python.org/buildworker/)
[For an example, see the Py_NewRef](https://devguide.python.org/c-api/) (not broken, but misaligned - maybe use hash instead of Python version)
[The Tracker-discuss mailing list](https://devguide.python.org/tracker)
[In Python’s Zulip Chat](https://

[2022-04-14 09:26] hugovk commented on #681
Here's an [archived version](https://web.archive.org/web/20201113084744/http://trac.buildbot.net/wiki/RunningBuildbotOnWindows) or perhaps you can find something relevant at https://docs.buildbot.net/current/ ?

Yeah, for these, I recommend fixing the `#Lxxx-Lyyy` bit, and then press the `y` key on your keyboard to get a [permalink](https://docs.github.com/en/enterprise-cloud@latest/repositories/w

[2022-04-14 17:10] Mariatta opened #834 "Add info on how to verify/sign commits on GitHub"
GitHub documentation about verified commits: https://docs.github.com/en/authentication/managing-commit-signature-verification/about-commit-signature-verification

We should advise contributors to sign and verify their commits. This way, we can be sure that they actually own the email address they use in their commits.

[2022-04-14 17:42] gpshead commented on #834
That's a false promise. GPG does **not** verify identity or email addresses. It merely verifies access to a private key. Logging into GitHub effectively does the same thing.

For a signature to do more than that people would have to become GPG zealots with key signing chains of trust and a pinky swear never store their GPG privates credentials on the same machine that ever has their GitHub credent

[2022-04-14 17:44] Mariatta commented on #834
Thanks for the correction!

[2022-04-14 18:32] brettcannon commented on #681
@hugovk the link can just go.

But I honestly don't know if that page is even worth keeping since not many people have filled it out and I know some of it is outdated (e.g. @kushaldas has changed employers).

[2022-04-15 05:43] slateny commented on #681
Thanks for the links, I've updated the PR with all but the Zulip. If Zulip's no longer used, then should the entire section on it be removed?

And as an aside, if it does get removed, it feels that the [help page](https://devguide.python.org/help/) gets a bit bare and a good chunk of content overlaps with the [communications](https://devguide.python.org/communication/) page, so maybe some merging

[2022-04-15 11:11] hugovk commented on #681
I've never used Zulip, and I understand it's little used. People will have more luck getting help on the other channels so I'd say it makes sense removing the Zulop section.

The aside:

There's still quite a bit of stuff on the help page.

To me the help page, "Where to Get Help", and the communications page, "Following Python’s Development", serve quite different purposes.

[2022-04-16 04:32] ezio-melotti opened #835 "Update translators table"
The [translators table](https://devguide.python.org/documenting/#translating) still includes bpo usernames.  It should be updated to use GitHub usernames.  In addition, the expert index contains another [table that lists translators](https://devguide.python.org/experts/#documentation-translations) that perhaps could be removed.

[2022-04-16 08:06] hugovk commented on #835
Tip for implementing:

* Click each person's name to see their bpo profile

* It should show their "GitHub Name"

* Then replace the bpo link in the table with `https://github.com/username`

It would be good to replace this with a link to the first table.

[2022-04-16 08:33] sumukhmg commented on #835
hello @hugovk and @ezio-melotti can you please assign this issue to me, I'm a beginner in open source.Thank you! hoping to contribute more to opensource

[2022-04-16 13:05] sumukhmg commented on #835
Thank you!

[2022-04-16 13:54] sumukhmg commented on #835
made a pr #837  for the same
Thank you!

[2022-04-16 22:48] #835 closed

[2022-04-16 22:53] ezio-melotti commented on #835
Thanks for the PRs @sumukhmg!

I merged #836 and #838, and closed #837.  Generally there should be a single PR per issue.  You can make additional changes by adding commits to the branch -- when you push them to your fork GitHub will automatically updated the PR.

[2022-04-17 00:17] ezio-melotti commented on #681
I merged #831.
I was also looking at the the workflow that runs the `make linkcheck`:
https://github.com/python/devguide/blob/ad524babc5dfb2295d66d2a723d275a952e2ac25/.github/workflows/ci.yml#L24-L26
In https://github.com/python/devguide/runs/6050460764?check_suite_focus=true everything looks green, but the "Link check" step failed with
[code]
I understand that the step is allowed to fail (because

[2022-04-17 02:45] sumukhmg commented on #835
hello @ezio-melotti! I have made only one pr #837 others are not mine.

[2022-04-17 07:06] hugovk commented on #835
Ah sorry, I mixed up usernames here. Hopefully you can find something else to contribute, thanks anyway for your effort!

[2022-04-17 07:48] sumukhmg commented on #835
It's ok, hoping to contribute to other issues🙂

[2022-04-17 12:14] kushaldas commented on #681
Wondering if I should create a PR to update properly.

[2022-04-17 16:41] hugovk commented on #681
@kushaldas Sure!

@ezio-melotti I saw your comment at https://github.com/python/devguide/pull/727#issuecomment-1100777118 and replied to it there: https://github.com/python/devguide/pull/727#issuecomment-1100912440

[2022-04-17 17:58] Mariatta opened #842 "Move the "Translations" section into its own page."
I think documentation translation effort is big and important enough to have its own page, and its own heading in the sidebar menu.

Currently it is a sub-section under "Documenting" page, and we have to scroll all the way down to find it.

https://devguide.python.org/documenting/#translating

cc @JulienPalard

[2022-04-18 15:05] pgadige commented on #821
@ezio-melotti Yes, I'm working on it. I was MIA for a few days due to a personal urgency.

[2022-04-18 15:37] ezio-melotti commented on #821
Now that the migration is done, labels are documented in three places:
* https://devguide.python.org/gh-labels/
* https://devguide.python.org/triaging/
* https://github.com/python/cpython/labels

We are also still updating labels and their names as we adapt to the new workflow, which means that whenever we add/remove/update a label, we also have to update the devguide.

It might be easier to just

[2022-04-19 13:17] encukou commented on #842
Please keep the `#translating` link working though (i.e. a stub section with a link to the new place).

[2022-04-20 23:59] INF800 opened #845 "[Q] subprocess inside multithreading"
I have large number of i/o bound tasks. I am using multithreading to run them on a 2 core machine. How will my performance be affected if I spawn a blocking process (subprocess in python) in  my task's code?

[2022-04-21 00:01] JelleZijlstra commented on #845
This repo is for CPython's internal development processes, not for user questions. I recommend you ask your question at https://discuss.python.org/c/users/7.

[2022-04-21 00:01] #845 closed

[2022-04-30 19:17] ezio-melotti opened #848 "Machine-parsable developer list"
We currently have several lists of developers, some manually maintained, some machine-generated, including:

* a machine-parsable list in the voters repo (private)
* a machine-generated (from the list above) [developers.csv](https://github.com/python/devguide/blob/main/developers.csv) (in the devguide repo)
* a machine-generated (from the csv above) [developer log](https://devguide.python.org/deve

[2022-05-02 20:32] hugovk opened #850 "Update "Checklist for Triaging" for GH Issues"
enhancementfor the Python language or CPython interpreter,
then the CPython issue tracker is better
suited for this report: https://bugs.python.org

**Describe the bug**

The "Checklist for Triaging" is outdated as it describes the bpo process.

https://devguide.python.org/triaging/#checklist-for-triaging

**Expected behavior**

The checklist is updated for GitHub Issues.

**Additional context**

[2022-05-03 00:05] ezio-melotti commented on #848
It would also be useful to have a list/table of triagers.  On bpo we had a flag, and we have a team on GitHub now, but as far as I know we don't have any such list/table in the Devguide.  This could still be generated automatically alongside with the GitHub team.

[2022-05-03 00:21] ezio-melotti opened #852 "Triager log/How to become a triager"
Currently we have a [developer log](https://devguide.python.org/developers/) and an [how to become a core developer](https://devguide.python.org/coredev/) pages, but no equivalent for triagers.

Would it make sense to equivalent new pages/sections for triagers?

The list of triagers could be generated by the file proposed in #848.

[2022-05-03 11:47] #280 closed

[2022-05-04 04:56] ezio-melotti commented on #852
Another thing that should be documented (if it isn't already), is the "Python Triage Membership" requests found at https://github.com/python/core-workflow/issues/new/choose (e.g. https://github.com/python/core-workflow/issues/416).

Currently it's not obvious if these issues are requesting the addition to someone to the GitHub Triage team, or if it's a request to consider them as potential candida

[2022-05-05 05:49] ezio-melotti commented on #502
Since we migrated to GitHub, this can be closed.

[2022-05-05 05:49] #502 closed

[2022-05-05 06:15] ezio-melotti opened #853 "Document Discourse"
Now that Discourse has become more integral to our workflow, it would be helpful to add a section about it to the devguide.

The section should include:
- What's the purpose of Discourse, where to find it, and how to join it
- An overview of the categories and trust levels
- Recommended basic configuration and tips, such as:
  - going through the two `@discobot` tutorials (can be activated by repl

[2022-05-05 06:26] ezio-melotti commented on #852
I just found out that we have a `docs-triagers` team too.  Maybe they should be included too.

More info at https://discuss.python.org/t/documentation-triagers/13850

[2022-05-05 14:23] ezio-melotti commented on #853
Somehow I managed to miss that -- I thought I searched in the devguide too, but I must have only searched in the [devguide issues](https://github.com/python/devguide/issues?q=is%3Aissue+discourse) and found nothing relevant.  Thanks for pointing it out!

That intro covers most of the first two points of my initial message.  The rest should still be documented, perhaps in a sub-section.

[2022-05-06 05:58] ezio-melotti opened #854 "Update `Makefile`"
- [x] `make clean` should also remove the `venv` (see #856)
- [x] `make clean-venv` should be added to only remove the `venv` (see #856)
- [x] `make check` should check for the default role (see #866)
- [x] `make htmlview` should be added (see #826)
- [x] `make venv` shouldn't print when called by other targets (see #867)

[2022-05-07 06:15] ezio-melotti commented on #456
The section about the meta tracker is now gone, so this can be closed.

[2022-05-07 06:15] #456 closed

[2022-05-08 17:26] ezio-melotti opened #860 "Document Gmail search queries/filters"
I spent some time figuring out some useful search queries for Gmail that can also be used as filters (e.g. to assign label):
* **Issues**: `subject:(Issue -PR)`
  * might miss some issues that include "PR" in the subject
* **PRs**: `subject:(PR)`
  * might include some issues that include "PR" in the subject
  * `subject:(PR -Issue)` could be used instead
    * it will miss PRs that include "issue

[2022-05-10 08:43] ezio-melotti opened #861 "Document GitHub CLI"
https://cli.github.com/ should be documented in https://devguide.python.org/gitbootcamp/, on its own FAQ and/or integrated with the other FAQs.

Useful commands (shared on Discord):
* `gh auth login` (once)
* `gh pr create`: to create a PR
* `gh pr checkout`: to checkout others' PRs
* `gh config set git_protocol ssh` (once): to be able to push to others' PRs
* `gh config set browser "/Applications

[2022-05-10 09:25] erlend-aasland commented on #861
Note, there is already a short mention of GitHub CLI: https://devguide.python.org/gitbootcamp/#downloading-other-s-patches

[2022-05-16 17:08] Mariatta opened #868 "Make it clear that the `[awaiting ...]` labels are for the bots only."
The `[awaiting ...]` labels are meant to be automatically added by `bedevere` bot. Both `miss-islington` and `bedevere` rely on these labels in order to work properly, so it's like a contract between the two bots.

It would be great to clarify in the devguide that these labels should only be used by the bots and should not be manipulated manually.

Maybe it would also be great to refer to the stat

[2022-05-16 17:21] hugovk commented on #868
Adding something to the description like "For bot use only" would help as well, it would show in the dropdown when triagers are selecting labels.

[2022-05-16 19:01] ezio-melotti commented on #848
It might be useful to expand the expert list to the whole org.
In the past few weeks I saw people trying to figure out who was responsible:
* for the deployment of the docs (after noticing the online docs weren't being updated -- https://github.com/python/cpython/issues/92532)
* for the deployment of bedevere (broken after some github/heroku issues -- https://github.com/python/bedevere/pull/454)
*

[2022-05-17 20:52] #613 closed

[2022-05-19 19:53] erlend-aasland opened #870 "Promote usage of close reasons"
GitHub released new features for issues today: https://github.blog/changelog/2022-05-19-the-new-github-issues-may-19th-update/

It is now possible to _close as completed_, or _close as not planned_ (won't fix, no repro, invalid, etc.). It is possible to filter searches using `reason:completed` and `reason:"not planned"`.

Suggesting to promote usage of closing reasons in the devguide.

[2022-05-20 14:19] sanketgarade opened #872 "Typo in the translation section"
**Describe the bug**

At the below link, I think the file `bugs.po` is mistakenly written as `bugs.py`.
https://devguide.python.org/documenting/#starting-a-new-translation

**Expected behavior**

If it indeed is a typo, then it can be corrected.
Similarly it will be better to write `library/functions.po` instead of `library/functions` just to make it clearer.

I already have a PR #871 for another

[2022-05-20 16:37] Mariatta commented on #872
Thank you for the report. I'm not too familiar with the translation efforts. Perhaps @JulienPalard can clarify here.

However, it's better to fix this separately instead of bundling the change with your other PR.

[2022-05-20 16:45] ezio-melotti commented on #854
This is all done -- closing.

[2022-05-20 16:45] #854 closed

[2022-05-20 23:21] #872 closed

[2022-05-21 03:50] georgically commented on #853
I can pick this up and expand on the contents. I'll try to submit a PR by 27 May 2022. Will update if I encounter any issues since I'm still pretty new.

[2022-05-21 05:34] ezio-melotti commented on #853
Thanks for picking this up!
I think you can expand the section linked by @ncoghlan, which already covers some of the things I mentioned in the first post.  You can add additional paragraphs or a sub-section that covers the rest.

[2022-05-21 08:29] erlend-aasland commented on #870
There is no need to resolve this until the triage section has been rewritten with regards to the new GitHub Issues workflow.

[2022-05-22 05:35] slateny commented on #702
Looks like it was resolved per #814

[2022-05-22 05:35] #702 closed

[2022-05-25 07:08] serhiy-storchaka opened #874 "Recommend setting up more locales"
Some tests require specific locales. Often non-default non-English non-UTF-8 locales. If such locale is not available the test is skip or ran in the dry-run mode. It would be nice to add a recommendation to set up additional locales on buildbots and on developer's machines.

Recommended locales:
* en_US (en_US.utf8, en_US.iso88591) -- the standard
* de_DE (de_DE.UTF-8) or fr_FR (fr_FR.utf8, fr_FR.

[2022-05-28 14:40] georgically commented on #853
Hi some updates. Still working on the edits. slight delay in delivery due to some private family matters. Will try to submit by the end of the month.

[2022-06-04 07:13] za commented on #821
Hi @pgadige allow me to initiate the PR. @ezio-melotti I've drafted a PR. Am I in the right direction? I haven't filled the description though.

[2022-06-04 07:28] za commented on #467
Ping @willingc if you can close the issue. Thanks!

[2022-06-04 07:58] #467 closed

[2022-06-04 10:15] za commented on #389
Maybe we can also close this issue cc: @ezio-melotti .

[2022-06-04 11:42] #389 closed

[2022-06-04 17:41] pradyunsg commented on #657
Duplicate of #624

[2022-06-04 17:41] #657 closed

[2022-06-04 19:13] #453 closed

[2022-06-06 04:20] za commented on #870
As the PR has been merged, can we close/resolve this issue now @ezio-melotti ?

[2022-06-06 06:15] za commented on #821
I've added the description.

[2022-06-06 06:17] za commented on #821
I've added the description.

[2022-06-06 12:15] #870 closed

[2022-06-06 12:40] za commented on #870
Thanks @ezio-melotti I'll add _keyword_ in the next PR so once PR has been merged, the issue will automatically closed.

https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/using-keywords-in-issues-and-pull-requests

[2022-06-06 15:31] #853 closed

[2022-06-06 17:55] Mariatta opened #883 "Provide the status of Python branches and versions as a csv"
**Describe the enhancement or feature you'd like**
Currently we have to open a browser and read the status of Python branches.

https://devguide.python.org/#status-of-python-branches

It would be great if that info is available in CSV format instead of in an rst table.

If the data is in CSV, we can then write scripts to programmatically parse the table and find the info we need.

According to @ez

[2022-06-07 10:33] ezio-melotti opened #885 "Add a "what's new" page to the devguide"
During the last docs-community meeting, we discussed the fact that we are currently using several different tools (git, GitHub, Discourse, Discord, etc.) and each tool has a learning curve.  Combined with the fact that the tools change and evolve over time, it's difficult for the devs to use them proficiently and effectively.

Documenting how to use them in the devguide is useful, but devs rarely

[2022-06-07 11:30] encukou opened #886 "Document the @proofreaders team"
- If you'd like help with English in a Python-related repo (docs, PEPs, devguide, ...), mention @python/proofreaders on GitHub to get their attention
- If you'd like to join *(edited)*: open an issue on [core-workflow](https://github.com/python/core-workflow/issues) similar to [#461 ](https://github.com/python/core-workflow/issues/461).

(I don't know who else has privileges to add members to the

[2022-06-07 12:36] ezio-melotti commented on #886
We should probably add a section/page to document the existing teams, their purpose, and the process to join them.  This came up in https://github.com/python/core-workflow/issues/458#issuecomment-1148558930 too.

[2022-06-08 01:24] CAM-Gerlach commented on #886
I might also suggest refining the team description a touch, perhaps along the lines of "Mention [...] for help with the finer points of English technical writing," to avoid sounding like its just for people who need basic help with English and to reduce any shame someone might feel asking us for help. Indeed, while some may need it more and others less, almost _anyone_'s writing could potentially

[2022-06-09 07:47] hugovk opened #888 "Git Bootcamp: similar content in two sections"
Two nearby sections have very similar content.

https://devguide.python.org/gitbootcamp/ has a section on "Staging and Committing Files", then after sections on "Reverting Changes" and "Stashing Changes", there's another on "Committing Changes".

* https://devguide.python.org/gitbootcamp/#staging-and-committing-files
* https://devguide.python.org/gitbootcamp/#committing-changes

![image](https://u

[2022-06-09 16:41] ezio-melotti commented on #888
I think we can remove it.  I would also recommend `git add -p`, which IMHO is easier and less error-prone than a simple `git add`.

[2022-06-09 16:50] ezio-melotti opened #890 "Document `git switch` instead of `git checkout`"
Some uses of the `checkout` command have been replaced by the `switch` command.  The `switch` command has been introduced in [git 2.23](https://github.com/git/git/blob/master/Documentation/RelNotes/2.23.0.txt#L61) (released in 2019-08-16) and by now it should be widespread enough that we can update the docs using `switch`, possibly with a note about the old command.

[2022-06-13 17:44] erlend-aasland opened #894 "Update the devguide on how to build with Homebrew supplied sqlite3 and zlib"
_Originally posted by @warsaw in https://github.com/python/cpython/issues/75457#issuecomment-1093756893_

[2022-06-18 14:03] Darnokiv commented on #888
#902
Hello there,
I created a draft Pull Request where I deleted the duplicated paragraph and added `git add -p`. Is this so ok?

I'm sorry if something is wrong, that is my first contribution.

[2022-06-18 15:10] hugovk commented on #888
Hi there! That looks good, thank you! You can mark it as ready for review :)

[2022-06-22 08:00] ezio-melotti commented on #888
The PR is now merged, thanks to @Darnokiv for working on it, @hugovk for the report, and @ambv for fixing the CLA issues!

[2022-06-22 08:00] #888 closed

[2022-06-27 11:48] moreajit opened #908 "remove element from list"
Hi Team,
I'm not sure this is bug or not but resolve my issue.
I have one list with integer. I want to remove all odd or even integer from list without using one more list.
I want to reflect this result in same list.

EX:
1) lis = [1,2,3,3,4,4,4,5,5,5,6,6,6,55,55,77,77,77,77,88,88,88,88]

like that I want to remove odd/even number.
simply I trying to resolve like

lis = [1,2,3,3,4,4,4,5,5,5,6,6,6,

[2022-06-27 11:54] encukou commented on #908
Hello,
This repository is related to developing Python itself. For questions about how to *use* Python, please ask on [Discourse](https://discuss.python.org/c/users/7).

[2022-06-27 11:54] #908 closed

[2022-06-27 13:50] encukou opened #909 "Point out that new stdlib modules need to be added to Makefile.pre.in"
Makefile.pre.in is frequently forgotten, see https://github.com/python/cpython/pull/13563, https://github.com/python/cpython/pull/30311, https://github.com/python/cpython/pull/31784.

The [instructions for adding a new module to stdlib](https://devguide.python.org/stdlibchanges/?highlight=adding#adding-a-new-module) currently focus on *what* can be added rather than *how* to add something, so addi

[2022-06-27 14:52] terryjreedy commented on #908
@moreajit When you add code blocks to a message on github, put 3 backticks \` on otherwise blank lines above and below the block.  This preserves indents.  This is fairly standard markup and may work on discourse.  Also, copy and paste the code you actually ran.  Do not retype.  What you post above stops with NameError.

[2022-06-27 17:11] moreajit commented on #908
[code]

[2022-06-27 18:16] ezio-melotti commented on #909
Can we also detect this programmatically (e.g. in `make patchcheck`) in addition to documenting it?

[2022-07-01 12:22] #861 closed

[2022-07-08 13:35] encukou opened #912 "Document bisect_cmd"
In 2017, Victor added a useful tool to find failing tests, [bisect_cmd](https://github.com/python/cpython/blob/main/Lib/test/bisect_cmd.py), and [blogged about it](https://vstinner.github.io/python-test-bisect.html). I wish I knew about it before!
IMO, the devguide should mention it.

[2022-07-09 10:01] tiran opened #913 "Document how to add a new C extension module"
**memo to me**

Python 3.12 will drop ``setup.py``. 3.11 has already detects most modules on ``configure`` and builds them through ``Modules/Setup.stdlib``. The new system is not well documented yet.

## configure.ac

- ``PY_STDLIB_MOD`` / ``PY_STDLIB_MOD_SIMPLE``
- ``SRCDIRS`` if module is in a subdirectory
- How to write ``PKG_CHECK_MODULES`` block

## Modules/Setup.stdlib.in

- ``@MODULE_SPAM_T

[2022-07-11 23:29] ezio-melotti commented on #842
Done in #901.

[2022-07-11 23:29] #842 closed

[2022-07-12 22:11] AA-Turner commented on #821
Labels are now consolidated into one place in the devguide (https://devguide.python.org/triage/labels/), but I just cut-and-pasted, so there is rampant duplication and likely a lot of the content is outdated (but no less outdated than previously).

A

[2022-07-13 01:34] ezio-melotti commented on #618
The link seems to work, so I'm closing this.

[2022-07-13 01:43] ezio-melotti commented on #886
FTR there is also a section in the devguide about proofreading that should mention the team: https://devguide.python.org/documentation/help-documenting/#proofreading

[2022-07-13 03:37] Julian commented on #618
Yep seems it's been fixed since.

[2022-07-13 03:37] #618 closed

[2022-07-14 02:38] ezio-melotti opened #917 "Add a workflow to regularly run `make linkcheck`"
This is a follow-up of #727 and related to #681.  Since `make linkcheck` is somewhat unreliable and can't be required for regular PR, the idea is to use a workflow to run it regularly and create (or update) an issue when a link is unreachable.  Note that `make linkcheck` is already run for PRs, but the result is only visible by looking at the logs.

@AlexWaygood shared a similar workflow in https:

[2022-07-30 20:40] CAM-Gerlach commented on #917
FWIW, for [spyder-ide/spyder-docs](https://github.com/spyder-ide/spyder-docs) which is of the same OOM as this repo, we do run it for every PR, and periodically (every couple months) update any redirects. However, I certainly wouldn't run it for a repo much bigger than this, like the PEPs or docs, and I could certainly see why that wouldn't be desirable even at this scale, depending on the number

[2022-07-30 21:01] CAM-Gerlach commented on #848
Another related item is that of the [Platform experts list](https://devguide.python.org/core-developers/experts/index.html#platforms), which is rather out of date, and partially duplicated by the more current information in [PEP 11](https://peps.python.org/11). Much of the list is obsolete platforms CPython has officially unsupported (per ) for a long time (e.g. HP-UX, OS2/EMX) or never officially

[2022-07-31 17:51] CAM-Gerlach commented on #324
Likewise, I could build the docs just fine with ``python -b -X dev -m sphinx -n . _build/html``.

If this issue should still be open, perhaps it could be retitled more appropriately, e.g. "Add brief non-make build invocation" or something like that.

For what its worth, even though I do have `make` on my system (as a Windows user), I nearly always build Sphinx docs with the full `python -m sphinx`

[2022-07-31 18:20] CAM-Gerlach opened #1000 "reST Primer duplicates the Sphinx version; should link to it instead"
Similar to [PEP 12](https://peps.python.org/12), the [reST primer](https://devguide.python.org/documentation/markup/#restructuredtext-primer) in the devguide duplicates the same information in the [Sphinx reST primer](https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#literal-blocks), along with some bits specific to its particular context.

In fact, unlike PEP 12, they are mo

[2022-07-31 18:39] AA-Turner commented on #324
There's a goal to move to a single `sphinx` command, which would obsolete make.bat and Makefile files. Personally I recommend the `-m sphinx -M html . _build` invocation, as it automatically creates appropriate subfolders per builder -- this would likely become the default under the new `sphinx` command.

A

[2022-07-31 18:59] CAM-Gerlach commented on #324
Ah, didn't know that existed—learned a new thing, thanks.

[2022-08-01 09:39] encukou commented on #848
(For clarity: support for platforms CPython core devs can't handle can still be maintained externally. The current out-of-date table is probably not useful at all, but as long as non-core devs are listed in these tables, a sub-tier-3 platforms is a valid interest area.
It could probably be merged into the general “miscellaneous” instead of getting special treatment, though.)

For Tier-1 platforms,

[2022-08-02 02:37] CAM-Gerlach commented on #848
That should be fairly straightforward, but the disadvantage is that its not machine-parsable. However, we could always still move the table sources to CSVs in the PEPs repo at any point, with no further changes needed over here.

[2022-08-03 22:07] CAM-Gerlach opened #927 "Clarify best practices with ref target labels in docs"
On python/cpython#94636 , specifically https://github.com/python/cpython/pull/94636#discussion_r934008442 , @ezio-melotti , @erlend-aasland and I discussed that that it might be helpful to clarify in the devguide some additional guidance related to reference target labels in the [Cross-linking markup](https://devguide.python.org/documentation/markup/#cross-linking-markup) section.

Specifically, i

[2022-08-04 13:17] tiran opened #928 "Add information how to deal with incorporation external code (license, credits)"
**Describe the enhancement or feature you'd like**
The devguide does not contain information what a triager and core dev has to do when adding files or non-trivial portions of code from an external project with non-core dev contributors. There are a couple of things we need to check or do:

- Is the license compatible with PSFL?
- Include proper provenance and license information in file header or

[2022-08-04 18:54] tiran commented on #928
Clarification: I'm not a lawyer and I don't feel qualified to write a DevGuide section for the problem. The bullet points in my initial comment are things I know or practices I followed in similar cases.

[2022-08-04 22:22] CAM-Gerlach commented on #928
There's currently the [accepting pull requests checklist](https://devguide.python.org/core-developers/committing/) that this would be related to, but I assume it would make sense as a separate document linked from there, since it applies to a fairly specific set of cases.

While I'm not the expert on Python's process, the above is similar to that which I've developed, documented and implemented fo

[2022-08-05 00:25] brettcannon commented on #848
I don't have an opinion (sorry, been sick, so still recovering).

[2022-08-05 05:57] CAM-Gerlach commented on #848
Hope you feel better soon @brettcannon ! Best wishes for a speedy recovery.

[2022-08-06 16:05] ezio-melotti opened #929 "Document the `triaged` label"
The `triaged` label was recently added, and should be documented.

See:
* https://github.com/python/core-workflow/issues/465
* https://github.com/python/steering-council/issues/130
* https://discuss.python.org/t/improve-communication-with-contributors-on-the-issue-tracker-and-prs-language-summit-follow-up/15812/30

I can take care of this while updating the other labels (see #821).

[2022-08-07 02:59] ezio-melotti commented on #868
I created https://github.com/python/bedevere/pull/500 to add a render of the state machine to the README of bedevere.

I'll fix the rest of the issue as part of #930.

[2022-08-08 08:12] erlend-aasland commented on #325
SGTM!

[2022-08-08 10:26] erlend-aasland opened #931 "Improve the "Making Good PRs" section"
I often see PRs with misleading or vague titles. This is problematic, as the PR titles often end up being the commit titles, and commit titles are one of the most important tools we have when searching for historic changes. Bad titles impact maintainability.

Suggested edits:

- Enforce a strick title format
- Promote writing accurate and concise PR titles/descriptions

Perhaps the "Making Good PR

[2022-08-09 16:13] terryjreedy commented on #518
Automerge is great for backports, but is is wretched for original merges as the default title and message are usually wrong.  Edits to title are ignored.  I am not sure about messages, but is is wrong if the original PR had multiple commits and if there are trivial edits to the patch or multiple edits by one person.

[2022-08-09 16:43] erlend-aasland commented on #518
This is not quite correct. There are two scenarios to consider, and they are confusingly handled very differently by GitHub:

| Scenario | Commit title | Commit message |
| --- | --- | --- |
| PRs with one commit | The title of the commit message for the single commit, followed by the pull request number | The body text of the commit message for the single commit |
| PRs with multiple commits | Th

[2022-08-11 02:50] ezio-melotti commented on #518
For backports I generally leave an "approve" review (after double-checking that the backport is indeed correct), and that is sufficient to trigger auto merging (at least for backports created by `miss-islington`).

There is also this setting:
![image](https://user-images.githubusercontent.com/25624924/184056868-e41291f9-49fa-47c5-9ed3-db1735096d7d.png)

[2022-08-11 07:51] erlend-aasland commented on #518
Ditto. By the way, do we mention the decisions GitHub takes when producing the squashed commit (re https://github.com/python/devguide/issues/518?notification_referrer_id=MDE4Ok5vdGlmaWNhdGlvblRocmVhZDU1NTc3NjI3ODoxMzc4MDYxMw%3D%3D#issuecomment-1209620652) in the devguide? If not, we should; a lot of devs are surprised by this behaviour. It created a lot of headaches for me before I found out, at l

[2022-08-11 12:59] erlend-aasland opened #935 "More clearly document what the contents of NEWS entries should be"
The devguide describes in great detail _how_ and _when_ to write NEWS entries (reST syntax, line length, using blurb, etc.), but it barely touches on the subject of what the NEWS entry should _contain_. IMO we should prioritise telling what a NEWS entry is, rather than how to write it.

- Audience: Who are we writing for? This affects the detail level, and the tone of the text. This varies dependi

[2022-08-13 00:47] JelleZijlstra commented on #935
Agree that this is important to cover.

Personally, I tend to think of two audiences:
- A user who is looking to upgrade, and wants to know what changed in the version they're about to upgrade to.
- A user who is seeing some issue after performing an upgrade, and wants to track down what caused it. They might search the changelog for some keywords.

Though I find that personally I wouldn't use NEW

[2022-08-18 09:56] arhadthedev opened #937 "Document CPython lifecycle periods of reduced core dev capacity"
As one of the core developers [commented](https://github.com/python/cpython/pull/94687#issuecomment-1219227216):

Hovewer, seeing no publicly visible increase in CPython PRs, I had no idea that the pre-release period (few last betas and all release candidates?) is loaded. Only after becoming aware of current priorities I've got the idea that monthly massive bumping of all my PRs is counterproducti

[2022-08-18 16:54] terryjreedy commented on #937
I believe the 'we' in Heimes' comment referred pretty specifically to himself and G. Smith.  Your PR is not labelled as 'bugfix' or 'feature'.  Some devs focus on bugfixes during the beta period.  Some devs (including me) are focusing on doc fixes during this first candidate period as that is what can be merged most easily.  Others on final critical bugfixes.  Others seem to be on 'vacation'.  The

[2022-08-19 17:08] ezio-melotti commented on #937
This will also need to be maintained and updated, and someone will have to link it from issues/PRs (possibly as a canned response), since it seems unlikely that contributors will go looking for it in the devguide.  As Terry mentioned, we could point to the annual version cycle, but if contributors are not going to see the pointer then it's kind of moot doing it.

I suggest closing this issue as no

[2022-08-19 17:12] #937 closed

[2022-08-23 12:54] markshannon opened #1159 "Update internals section of devguide"
# Documentation

The internals section of the devguide https://devguide.python.org/internals/ could do with updating.

The [compiler page](https://devguide.python.org/internals/compiler/) could do with updating. Particularly the "Introducing New Bytecode" doesn't belong here, and the "Known Compiler-related Experiments" should just be deleted.

The internals also needs links to the up to date docs

[2022-08-24 19:42] mdboom opened #940 "Update developer guide about C code coverage"

[2022-08-25 17:20] Globlost opened #942 "The following commit authors need to sign the Contributor License Agreement:"
The following commit authors need to sign the Contributor License Agreement:

* 110369697+Globlost@users.noreply.github.com

Click the button to sign:<br/>[![CLA not signed](https://cpython-clabot.herokuapp.com/cla-not-signed.svg)](https://cpython-clabot.herokuapp.com/contributor-license-agreement?state=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJnaXRIdWJVc2VySWQiOjExMDM2OTY5NywiYWdyZWVtZW50VmVyc2lvbk

[2022-08-25 17:21] #942 closed

[2022-08-29 10:53] encukou opened #944 "Update main PEP discussion venue from Python-Dev to Discourse"
The Steering Council [intends to change the canonical discussion venue from Python-Dev to Discourse](https://mail.python.org/archives/list/python-dev@python.org/thread/VHFLDK43DSSLHACT67X4QA3UZU73WYYJ/).
To make the switch we'll need a PR that updates the Devguide, to be merged with the announcement.
Does anyone want to do it before I get to it?

* Discourse (and common information) should be list

[2022-08-29 15:36] AA-Turner commented on #944
Isn't this abbreviation also used for docs.python.org?

A

[2022-08-29 16:53] warsaw commented on #944
"DPO" is way too overloaded to be useful.  I think it's better in this case to just spell it out as "Discourse" or "discuss.python.org".

[2022-08-30 09:47] encukou commented on #944
I should have mentioned: these are just collected notes. Don't do it if it doesn't make sense.

[2022-08-31 03:47] CAM-Gerlach commented on #944
To note, @vsajip 's PR #938 was already merged which updates several of the core devguide sections discussing dev communication channels. However, a careful inspection reveals a number of other places this comes up, particularly in the context of the PEP process. I've opened #945 which updates these accordingly.

One related thing—is the Committers category on Discourse also going to become the pr

[2022-08-31 08:55] encukou commented on #944
Votes, yes.
Internal discussion can happen anywhere, really – the goal is to *ensure relevant voices are heard*, and for stuff below PEP-caliber we currently trust core devs to manage that. So no canonical place, but the devguide should try to document existing practice.

+1, thanks for thinking it through! Yes, DPO was a bad idea.
As for admonitions, PEP 401's PSU is the gold standard we're aimin

[2022-09-02 03:10] CAM-Gerlach commented on #944
Thanks; I've update the PR accordingly :+1:

:laughing:

[2022-09-19 14:38] oliviasauls opened #1739 "Add Sponsor Logo Recognition section to https://devguide.python.org/"
**Location of change**
https://devguide.python.org/

**Describe the solution you'd like**
- Add an area or separate page for Sponsor Recognition to display logos for Visionary sponsors who receive this Core Development Sponsorship benefit
- if possible, automate logo upload from python.org/admin/sponsors/ once a contract is finalized

Reason for change
- Logo recognition on (https://devguide.pytho

[2022-09-20 09:49] #944 closed

[2022-09-27 01:04] adamweiss commented on #817
I think I have a solution for this. I'll create a pull request in the next day or two

[2022-09-29 12:28] methane commented on #817
I am using Monterey 12.6 on Intel Mac and I can build gdbm without any hack.
clang uses `/usr/local/include` by default.

Maybe, M1 Homebrew uses `/opt/homebrew` as prefix and clang don't use `/opt/homebrew/include` by default.
So adding `CFLAGS=-I/opt/homebrew/include` would be a simple solution.

I will replace my Intel Mac to M1 mac tomorrow. I will check it.

[2022-09-29 13:24] adamweiss commented on #817
@methane This was on my M1 Mac. `CFLAGS=-I${HOMEBREW_PREFIX}/include` did work for the main branch, however on 3.9, the build finishes, however:

[code]
It builds successfully when explicitly specifying gdbm and xz.

[2022-10-03 08:43] methane commented on #817
I confirmed that CFLAGS=-I/opt/homebrew/include LDFLAGS=-L/opt/homebrew/lib is enough to build Python 3.8 and 3.11.

[2022-10-03 17:16] warsaw commented on #883
There's also [endoflife.date](https://endoflife.date/python) for Python, which [I use to build the CI images](https://gitlab.com/python-devs/ci-images/-/blob/main/get_versions.py#L68) for all active Python versions.

[2022-10-03 17:22] ezio-melotti commented on #883
This is discussed in the PR, see:
* https://github.com/endoflife-date/endoflife.date/discussions/711

[2022-10-04 03:37] methane commented on #817
I don't know what is Homebrew recommendation. C_INCLUDE_PATH/LIBRARY_PATH or CFLAGS/LDFLAGS.

[2022-10-07 03:31] ezio-melotti opened #960 "Add links to files in `internals/parser.rst`"
[This comment by @CAM-Gerlach](https://github.com/python/devguide/pull/957#discussion_r989467777) suggested to add links to a few files mentioned in `internals/parser.rst`.

Even though direct links could be added, the page already refers to several other files using the `:file:` role, which [doesn't create any link](https://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#role-file)

[2022-10-07 04:13] ezio-melotti commented on #960
#961 adds a new role to link to `cpython` files.  The links are also checked by `linkcheck` automatically.  Based on the work @hugovk did in #932.

[2022-10-07 05:17] ezio-melotti opened #962 "Improve PR review checklist"
In https://github.com/python/cpython/pull/93823#issuecomment-1156152572 @erlend-aasland wrote a checklist about reviewing PRs.

In https://github.com/python/devguide/pull/914#issuecomment-1207257987, I suggested:

[2022-10-07 18:53] jaraco opened #964 "Simplify documentation between setup guide and boot camp"
Having all the commands here is convenient, since people doing a setup don't have to follow links back and forth from this page to the GitHub bootcamp page.  On the other hand, the bootcamp entries are also convenient on their own [^1].

I think the best approach would be to:
* list all upstream-related commands in a single step and code block[^2], with short inline comments (about what the comman

[2022-10-08 06:50] #850 closed

[2022-10-10 09:25] #817 closed

[2022-10-10 09:29] erlend-aasland commented on #962
Can we close this?

[2022-10-12 06:31] ezio-melotti commented on #962
#914 only included the changes that I had initially created, and I now merged it to keep things moving incrementally like Diataxis suggests.
The checklist you suggested in the comment linked above is more comprehensive and can still be integrated in the devguide to improve the current checklist, so I opened this issue as a reminder.

[2022-10-31 16:22] smontanaro opened #976 "Enhancement to devguide for MacOS (and 3.11?)"
This bug report is related to my recent experience [building from source](https://discuss.python.org/t/building-from-source-on-macos/20531) on my shiny new MacBook Pro, and my crash-and-burn experiences creating and managing a PR against the [`argparse` documentation](https://github.com/python/cpython/pull/98765) (and further discussion of the mess I made in [another PR](https://github.com/python/

[2022-10-31 21:55] hauntsaninja commented on #976
The exact command for macOS mentioned in the devguide works fine for me (I have working tkinter, ssl, etc):
[code]
Just to clarify, does this^ not work for you, or is it more that it's clunky — or both?

[2022-10-31 22:06] smontanaro commented on #976
Sorry, I never checked whether or not it worked, though I have no reason to doubt that it does. It would just have taken me several (many?) tries to converge on that solution. I know that the simpler configure command I gave:

[code]

Does work. I don't know if something changed with configure itself, but I suspect it might have. It would seem it attempts to use pkg-config to determine compile/lin

[2022-11-01 01:39] CAM-Gerlach commented on #976
It seems the [Step by step PR lifecycle guide](https://devguide.python.org/getting-started/pull-request-lifecycle/#step-by-step-guide) doesn't set an upstream tracking branch on first push (i.e. with the `-u` flag), as is standard in most workflows, and Git's own output recommends? This means all the other commands specified there manually specify the remote and branch name every time, which _will

[2022-11-01 17:21] Mariatta opened #980 "Mention that dependabot on fork repo should be ignored."

[2022-11-08 02:04] Mariatta commented on #980
Closing because GitHub fixed this.

[2022-11-08 02:04] #980 closed

[2022-11-08 02:11] ezio-melotti commented on #980
See https://github.blog/changelog/2022-11-07-dependabot-pull-requests-off-by-default-for-forks/

[2022-11-08 08:57] hugovk commented on #980
Not entirely fixed: existing forks will still get spammed unless each one explicitly disables it in their fork settings:

https://github.com/myusername/cpython/settings/security_analysis

![image](https://user-images.githubusercontent.com/1324225/200519942-1fda7ee5-36a7-47dc-8658-817c564802f2.png)

See https://github.com/dependabot/dependabot-core/issues/2804#issuecomment-1306038858

[2022-11-10 03:08] #883 closed

[2022-11-14 01:20] #960 closed

[2022-11-14 21:41] abdnafees commented on #964
Can I take this as my first PR? Could you please guide me on where to start? I would need exact pointers for [1] and [2].

[2022-11-14 22:39] ezio-melotti commented on #964
Most of this is already implemented.
In https://devguide.python.org/getting-started/setup-building/#get-the-source-code I would remove items 7 and 8 (so that they are included under 6), then combine their sentences and their examples, so that the end result looks like:

---
...

6. Add an `upstream` remote, then configure `git` to pull `main` from `upstream` and always push to `origin`:
[code]
7.

[2022-11-15 15:52] abdnafees commented on #964
I didn't get the following point. Please bear with me, I am new at this and understand how frustrating it might be to explain little things to beginners.

[2022-11-15 19:11] abdnafees commented on #964
I am creating a PR.

[2022-11-15 19:18] Mariatta commented on #964
I believe Ezio means that we need to add a comment, and using reStructuredText's comment markup to do it.

The comment is about the fact the commands are duplicated, and to add these comments to both the "setup-building" page and to the "git bootcamp" page.

To add a comment in restructuredText, you'd start a line with two dots

[code]

[2022-11-15 19:33] abdnafees commented on #964
@Mariatta Thank you. I figured it out and made my first real open-source PR. Please let me know if there are things that I can improve.

[2022-11-15 21:35] #964 closed

[2022-11-19 09:40] abdnafees commented on #931
As a budding open-source contributor and extremely excited to start contributing to my favorite language, I agree with your suggestion, especially for new devs eager to contribute. For example, when creating my first PR, I had to go through the previous closed PRs to gauge the format and structure of the title, branch name, and commit message itself. A format for PRs won't hurt the dev workflow.

[2022-11-19 09:45] abdnafees commented on #885
Has this issue been resolved? Can I work on this? I have a few ideas in my mind. It took me a week to infiltrate all community channels including mailing lists, Discourse, and GitHub itself. It took me this long specifically for Discourse notification and email settings and to go through important threads.

[2022-11-24 13:34] vstinner commented on #991
Hum, for me it's strange that the CPython is "gone" (moved). For next issues, I suggest to create a new issue in the devguide project, rather than transferring issues. Well, that's my opinion. It's not a big deal.

[2022-11-24 20:13] abdnafees commented on #962
@ezio-melotti Can I please work on this issue?

[2022-11-24 20:13] abdnafees commented on #913
@tiran Has this issue been resolved?

[2022-11-30 11:45] pablogsal commented on #991
Apparently this is already in the dev guide:

[2022-11-30 11:45] #991 closed