[2016-07-22 18:07] brettcannon opened #1 "Create a `github` branch"
This will house changes in regards to migrating the cpython repo to GitHub.

[2016-07-22 18:07] brettcannon opened #2 "Add Read the Docs support"
This in regards to #1 so that people working on changes in relation to the GitHub migration can easily see how their changes look.

[2016-07-22 18:40] #1 closed

[2016-07-22 19:09] #2 closed

[2016-07-22 19:09] brettcannon opened #3 "Add Travis support"
That way we can make sure that the docs build as cleanly as possible.

[2016-07-22 19:12] brettcannon opened #4 "Migrate over issues from bugs.python.org"
- [x] Create duplicate issues from the [`Devguide` component](http://bugs.python.org/issue?%40search_text=&ignore=file%3Acontent&title=&%40columns=title&id=&%40columns=id&stage=&creation=&creator=&activity=&%40columns=activity&%40sort=activity&actor=&nosy=&type=&components=26&versions=&dependencies=&assignee=&keywords=&priority=&status=1&%40columns=status&resolution=&nosy_count=&message_count=&%40

[2016-07-22 19:13] brettcannon opened #5 "Make hg.python.org/devguide read-only"
Instructions at https://www.python.org/dev/peps/pep-0512/#make-old-repository-read-only

[2016-07-22 19:17] brettcannon commented on #3
One possible way to do it is like https://github.com/dabeaz/curio/blob/master/.travis.yml, although I don't know if that's the best way.

[2016-07-22 19:46] brettcannon opened #6 "Update devguide style to use a similar theme as Docs"
Originally from http://bugs.python.org/issue23951 .

[2016-07-22 19:47] brettcannon opened #7 "Add a Sprints organization/preparation section to devguide"
Originally from http://bugs.python.org/issue24016

[2016-07-22 19:48] brettcannon opened #8 "Add Quick Start: Communications section to devguide"
Originally from http://bugs.python.org/issue24682

[2016-07-22 19:49] brettcannon opened #9 "Add tips for effective online communication to devguide"
Originally from http://bugs.python.org/issue24689

[2016-07-22 19:50] brettcannon opened #10 "dev task of documenting undocumented APIs"
Moved from https://github.com/python/cpython/issues/55174

[2016-07-22 19:51] brettcannon opened #11 "buggy heading numbers"
Moved from http://bugs.python.org/issue17227

[2016-07-22 19:54] brettcannon opened #12 "devguide should mention rules about "paragraph reflow" in the documentation"
Originally from http://bugs.python.org/issue23320

[2016-07-22 19:55] brettcannon opened #13 "mention issues with code churn in the devguide"
Moved from http://bugs.python.org/issue18041

[2016-07-22 19:56] brettcannon opened #14 "include rendered output in addition to markup"
Moved from https://github.com/python/cpython/issues/58426

[2016-07-22 19:57] brettcannon commented on #4
Component was `26,7047:18982,,,Devguide,2.5`

[2016-07-22 19:57] #4 closed

[2016-07-22 19:59] willingc commented on #4
@brettcannon Thanks! This is looking great :tada:

[2016-07-22 21:48] brettcannon opened #15 "Update github branch to document using GitHub/git"
This is part of [PEP 512](https://www.python.org/dev/peps/pep-0512) and needing to update the devguide to no longer mention Mercurial and hg.python.org.

All work should be done on the [`github` branch](https://github.com/python/devguide/tree/github) which will require occasional merging with `master`.

[2016-07-22 21:53] brettcannon commented on #15
This is a bit broad, so I'm going to break this down into smaller pieces.

[2016-07-22 21:53] #15 closed

[2016-07-22 21:54] brettcannon opened #16 "Remove mentions of hg.python.org"

[2016-07-22 21:55] brettcannon opened #17 "Remove mentions of Mercurial"

[2016-07-22 21:57] brettcannon opened #18 "Document how to commit using git"
This will be in regards to squashed commits taken from a PR on GitHub.

[2016-07-22 21:57] brettcannon opened #19 "Document how to backport a change in git"
I.e. how to cherrypick a squashed commit.

[2016-07-22 22:26] willingc commented on #16
@brettcannon Removed references to the devguide source being on ``hg.python.org`` in PR #20. I left references to ``hg.python.org/cpython`` as is.

[2016-07-23 16:49] willingc opened #22 "Add link to documentation in the GitHub repo description"
It's helpful for users to have a link to the documentation in the GitHub repo's description. Add http://cpython-devguide.readthedocs.io/en/latest/

Change must be made by a developer with privileges on the repo.

<img width="716" alt="screen shot 2016-07-23 at 9 48 55 am" src="https://cloud.githubusercontent.com/assets/2680980/17079087/b94e0fa0-50ba-11e6-9260-3935df25b6d7.png">

[2016-07-23 17:13] brettcannon commented on #22
Done!

[2016-07-23 17:13] #22 closed

[2016-07-23 18:07] willingc opened #23 "Add RTD badges to README"
To provide a simple visual on the docs build status as well as links to both the latest and github versions of the devguide.

[2016-07-23 18:53] #23 closed

[2016-07-24 08:27] willingc commented on #6
I believe that this had been closed in the original issue but not marked as so before the issue was migrated here.

[2016-07-24 09:29] berkerpeksag commented on #6
No, it should stay open: http://bugs.python.org/issue23951#msg270884

[2016-07-26 18:12] brettcannon opened #27 "Delete the FAQ"
It's not necessary as it was written for a time where we used version control systems that aren't as widely used or documented at git. [All references](https://github.com/python/devguide/search?utf8=%E2%9C%93&q=faq) should also be removed.

[2016-07-26 18:15] brettcannon opened #28 "Write a git tutorial geared entirely toward CPython needs"
Since we will have some things like cherry-picking, etc. that is not part of the standard GitHub workflow, we will need to have a tutorial that covers from beginning to end how to handle the various potential scenarios of a change:

- [x] Accepting a PR against `master` only
- [x] Accepting a PR against a version branch
- [x] Accepting a PR that needs to apply to `master` and another version branc

[2016-07-26 18:18] brettcannon commented on #18
Subsumed by #28

[2016-07-26 18:18] #18 closed

[2016-07-26 18:18] brettcannon commented on #19
Subsumed by #28

[2016-07-26 18:18] #19 closed

[2016-08-02 23:16] matrixise commented on #11
@brettcannon this issue is closed on b.p.o, should we update it ?

[2016-08-03 17:28] brettcannon commented on #11
The issue on b.p.o is closed because this issue now supercedes it, so any updates for the issue should happen here.

[2016-08-14 11:44] willingc commented on #27
A suggested workplan to address this issue:

1. Verify that any useful content (esp. section [29.1 Communications](http://cpython-devguide.readthedocs.io/en/latest/faq.html#communications)) is found elsewhere in the devguide. If not, migrate that content to an appropriate devguide section.
- [ ] 29.1 Communication
- [ ] 29.2 Version control
- [ ] 29.3 SSH
- [ ] 29.4 General

2. Remove all FAQ cont

[2016-08-15 08:17] willingc opened #30 "Keeping github branch in sync with master"
The `github` branch is no longer in sync with `master`.

Currently, the `github` branch is `This branch is 3 commits ahead, 4 commits behind master.` Contributors, unless they are core devs with privileges to push to `master`, are working with out of date code.

I recommend that we find a way to automate keeping the github branch ahead or even with master.

[2016-08-15 18:25] brettcannon commented on #27
I don't think we should document version control stuff outside of our workflow as there's enough content on git online, so I say just drop that section. The same I think goes for SSH.

[2016-08-15 18:29] brettcannon commented on #30
Beyond occasionally creating a PR manually to merge across the branches, you are talking about solving one of the great issues in version control. :) Solve this and you may have solved it for CPython backporting fixes.

[2016-08-26 17:34] brettcannon opened #32 "Document how to make `apt-get build-dep python3.5` to work"
I.e. if you get the error about needing to update `sources.list`, then point out how to do that.

[2016-08-26 17:34] brettcannon commented on #32
http://askubuntu.com/questions/496549/error-you-must-put-some-source-uris-in-your-sources-list, although on 14.04 I just copied the three lines I had and then changed `deb` to `deb-src`.

[2016-08-26 20:55] warsaw commented on #32
I don't see a diff, but that should pretty much work.

[2016-08-28 17:18] brettcannon commented on #32
@warsaw you "don't see a diff" as in you "don't see a diff file", or you "don't see a difference"? If it's the former it's because I just didn't have the time to do a PR. If it's the latter, not sure what you mean other than maybe not explaining exactly and instead just linking to the askubuntu.com link?

[2016-09-09 20:41] zware commented on #6
I'd vote in favor of keeping rstlint.py (it's not ideal to have copies of it in multiple repositories, but it is pretty stable) and the mis-committed patch file was already reverted, but @berkerpeksag's first and third points in msg270884 stand.  I believe @lisroach wrote the patch that was committed, would you mind taking a look at those points?

[2016-09-09 20:48] berkerpeksag commented on #6
Also, if you don't have time, I can have a look at this next week :)

[2016-09-13 10:02] ncoghlan opened #35 "Idea: mention 3rd party "extended stdlib" modules in developer guide"
We have a section in the developer guide specifically on proposing changes to the standard library: http://cpython-devguide.readthedocs.io/en/latest/stdlibchanges.html

One of the alternatives to standard library additions that frequently needs to be brought up on python-ideas is the possibility of adding to one of the "stdlib enhancement" projects that adds assorted general purpose programming ut

[2016-09-13 21:55] lisroach commented on #6
I'll take a look today! I think serving the images and javascript from the same page is a good idea, I'll see if I can implement it. I'll also try to make that hover color better.

I am also of the opinion that rstlint should stay. Running 'make check' now shows some issues do come up, so maybe having it in place will encourage people to check their files before pushing.

[2016-09-14 03:32] lisroach commented on #6
Okay, check out my commit here: https://github.com/lisroach/devguide/commit/7dc1131732fbfca757577fe5e6715f2c741420c0

I've hotlinked the py.png and copybutton.js from docs.python.com and deleted them from tools/static. Hotlinking normally isn't a great practice, but they are both python.org sites and I'm not sure of another way around it (I looked into intersphinx mappings but that is just for the

[2016-09-14 20:17] Mariatta opened #36 "Dev Guide Get Started Guide"
I found that the Get Started document here https://docs.python.org/devguide/ to be not very effective way for me to get started.

The page started by saying, "here are the basic steps":
1.  check out source code
2. compile
3. run tests
4. make patch
5. submit to issue tracker

I agree that these five steps correctly describe the full cycle of contributing to the code base.
**However**, to really g

[2016-09-14 20:57] gvanrossum commented on #36
Thanks for persevering Mariatta! If you want to you can submit a PR with changes to the devguide that would have helped you. Any one of us will then be able to review and merge that change! (Hopefully getting started with the devguide is simpler than getting started with Python. :-)

[2016-09-14 22:44] willingc commented on #36
@mariatta Feel free to ask question about Sphinx or how to build the devguide here if needed too :-)

[2016-09-21 04:55] Mariatta commented on #36
Thanks, I made pull request for this. Would appreciate any feedback 😃

[2016-09-21 05:35] ncoghlan commented on #36
I merged the initial PR, which can be seen at http://cpython-devguide.readthedocs.io/en/latest/ (the main site will also update automatically, but that's currently time based rather than per commit).

If there's anything else you'd like to tweak in that section (or elsewhere in the dev guide), feel free to send additional PRs.

I think you've addressed the concerns you raised above, though, so I'm

[2016-09-21 05:35] #36 closed

[2016-09-23 00:38] ncoghlan opened #38 "Provide more guidance on what makes an issue "easy""
https://github.com/python/devguide/blob/master/triaging.rst#keywords currently states that "easy" issues shouldn't take more than a day for someone new to CPython development, but @gvanrossum pointed out in http://psf.upfronthosting.co.za/roundup/meta/issue605 that that *at least* needs to be qualified for C level changes based on whether or not the contributor already knows how to program in C.

[2016-09-23 21:00] brettcannon opened #39 "Go through devguide file-by-file for GitHub migration"
We need to go through the entire devguide for the GitHub migration. Having a module marked off as done means that it is ready to go in the `github` branch or a separate issue to track what needs to be done for a page has been created. The key point is that once every page is checked off there will be a clear understanding of what is left to do for the GitHub migration.

- [ ] `committing.rst` (#44

[2016-09-23 21:01] brettcannon opened #40 "Add an appendix to the index page"
Stuff that is not part of what a normal person will care about can go in there, e.g. details about the compiler or how to update the grammar.

[2016-10-06 17:18] brettcannon commented on #17
Tracking through #39

[2016-10-06 17:18] #17 closed

[2016-10-06 17:18] brettcannon commented on #16
Tracking through #39

[2016-10-06 17:18] #16 closed

[2016-10-06 17:18] brettcannon opened #44 "Update committing.rst for Git/GitHub"

[2016-10-06 17:19] brettcannon opened #45 "Update coredev.rst for Git/GitHub"

[2016-10-06 17:20] brettcannon opened #46 "Update devcycle.rst for Git/GitHub"

[2016-10-06 17:20] brettcannon opened #47 "Update developers.rst for Git/GitHub"

[2016-10-06 17:21] brettcannon opened #48 "Update FAQ.rst for Git/GitHub"
Only necessary if #27 doesn't happen.

[2016-10-06 17:23] brettcannon opened #49 "Update gitdevs.rst for Git/GitHub"
I don't' know if it should just be deleted or reworked to document the preferred workflow (although that should be covered by other pages).

[2016-10-06 17:23] brettcannon opened #50 "Update index.rst for Git/GitHub"

[2016-10-06 17:23] brettcannon opened #51 "Update patch.rst for Git/GitHub"

[2016-10-06 17:24] brettcannon opened #52 "Update setup.rst for Git/GitHub"

[2016-10-06 17:24] brettcannon opened #53 "Update triaging.rst for Git/GitHub"

[2016-10-06 17:30] brettcannon commented on #39
Now that there are separate issues for the remaining pages, the GitHub milestone can be used to track what's left to do.

[2016-10-06 17:30] #39 closed

[2016-10-06 17:35] willingc opened #54 "Streamline workflow"
@brettcannon I'm wondering if we can do away with the `github` branch now or in the future. Since this is likely a good repo to have folks onboard, it might be helpful to follow the more standard workflow of `master` and the PRs get merged into `master`.

Benefits:
- Consistent with many other open source projects
- The submitter of the PR gets credit for the contribution.
- Avoids the extra burde

[2016-10-06 18:11] brettcannon commented on #54
Once the GitHub migration occurs we will merge `github` into `master` and then delete the `github` branch. This split workflow is only until GitHub switch so that we don't have to basically toss out the devguide for a few months until the migration occurs as core devs still use it for their own reference. And no one has or will lose credit as I wasn't planning on doing a squash merge when merging

[2016-10-06 18:19] willingc commented on #54
Cool. Glad to see it's a temporary thing. If you add me to the RTD maintainers for the devguide, I could easily build multiple branches and have badges/links in the README to have one click access to both versions or really any version.

It would also be good to set up Travis for the build and linkcheck.

[2016-10-06 18:33] berkerpeksag commented on #54
I assume `github` branch will be removed by 2017 so I don't think it's worth to deal with serving multiple branches on both rtfd.org and docs.p.o/devguide.

[2016-10-06 18:38] willingc commented on #54
@berkerpeksag I agree with you re: docs.p.o. Not a big deal re: RTD, but I don't think it hurts to have RTD build both.

[2016-10-06 18:42] brettcannon commented on #54
TRFD already does build both branches, i.e. http://cpython-devguide.readthedocs.io/en/latest/ tracks `master`, http://cpython-devguide.readthedocs.io/en/github/ tracks `github` (switch is in the bottom-right corner).

[2016-10-06 18:52] #52 closed

[2016-10-08 04:01] willingc opened #59 "Clarify step-by-step process to merge 'github' changes into 'master'"
@brettcannon I wanted to clarify the CPython devguide process before making any merging branches and pushing update to master.

Assuming you want a no-ff merge instead of cherrypicking and/or rebasing.
### Process to merge 'github' branch into 'master'

[code]

[2016-10-08 08:10] berkerpeksag commented on #59
I think core devs can do it the way they prefer. I prefer ff merges, but the question is that do we really need to spend a lot of time to keep them in-sync? It's a temporary branch, `master` is not getting 10+ commits every day (`index.rst`, `developers.rst` and `experts.rst` are the most active files and they don't have a lot of Mercurial-specific contents), and the chance of getting a merge conf

[2016-10-08 14:19] willingc commented on #59
Thanks @berkerpeksag :sunny:

Keeping the branches in sync or at the very least the 'github' branch' always ahead, not behind, 'master' is important. It's a courtesy to community contributors who may not yet have the 'git' proficiency to go to master and grab the changes in master that are not in the github branch.

[2016-10-10 12:10] berkerpeksag commented on #59
Working on the github branch requires to have:

1. Knowledge about the current development process of CPython
2. Experience with both Mercurial and Git

I don't think it's a suitable area to work on for someone who may not have experience with one of the VCSs yet.

[2016-10-14 22:15] brettcannon commented on #59
Why do you want to merge `github` into `master` except when we are done with the `github` branch? Wouldn't it be easier to merge `master` into `github` (which is what I have been doing on occasion)? Most of the changes in `master` are spelling mistakes and such while all the churn is in `github`, so I would think we would want to merge from calm to crazy and not the other way around.

[2016-10-14 22:43] matrixise opened #61 "devguide-git bot"
Hi Brett,

I know this issue is not related to the devguide, but to a robot used by github.

When devguide-git push a message to #python-dev, the http url is not complete. There is only "http" and nothing else. I don't know where is the code of devguide-git, but could you try to fix it or how can we fix it ?

[code]

Thank you

[2016-10-14 22:55] bitdancer commented on #61
That looks like truncation of some sort.  The url is normally a complete shortened url.

But the answer is no, we can't fix the github bot.  We could use a different bot, though, if someone wants to decide which one.

[2016-10-15 05:05] matrixise commented on #61
Hi @bitdancer,

so in this case, we can't fix it, fortunately, we have the number of the issue in the message.
But where can I find this bot or read the configuration ?

Thank you

[2016-10-15 12:42] matrixise commented on #7
@willingc I have started a new section with your comment from https://bugs.python.org/issue24016

I have organised a sprint on 13rd and 14th october and I would like your feedback and maybe improve the text. https://github.com/matrixise/devguide/blob/add-sprint-section/sprints.rst

I can give you the access rights on this repo if you think you can help me.

[2016-10-15 12:46] matrixise commented on #7
I think we can add @bitdancer in the loop, because he has organised the sprints during PyCon US.

[2016-10-15 13:24] willingc commented on #7
Hi @matrixise,

Great start. :sunny: Feel free to open a WIP PR and I can comment (just one or two wording things) or access to your fork. The first may be simpler since it keeps all the discussion in one place.

Overall, I would call this a checklist (similar in spirit to what we created for OpenHatch https://github.com/openhatch/in-person-event-handbook/blob/master/checklists.pdf). OpenHatch's O

[2016-10-15 14:38] matrixise commented on #7
@willingc you have received the access rights for my repo, I would be really happy if you want to contribute to this part.

[2016-10-15 15:30] willingc commented on #7
Thanks @matrixise. Will do later this weekend. I'm actually helping run a hackathon today at a local university.

[2016-10-17 16:24] lisroach commented on #6
Anyone get the chance to take a look at this yet? Thanks!

[2016-10-17 18:56] brettcannon commented on #61
It's just the IRC integration that GitHub provides.

[2016-10-17 19:01] brettcannon commented on #6
I just looked quickly and it seems fine. Can you send a PR to make it easier to review?

[2016-10-17 19:25] lisroach commented on #6
Thanks Brett! It's pull request [#65](https://github.com/python/devguide/pull/65)

[2016-10-18 14:39] matrixise commented on #53
Here is my PR https://github.com/python/devguide/pull/66

[2016-10-19 09:41] willingc commented on #59
@brettcannon What I would like to see for contributors, perhaps I'm not doing a good job of explaining it, is:

- a branch that reflects the current production state (production)
- a branch that is alway ahead and never behind the production branch (staging)

Currently, some folks commit directly to master (which I view as production). Due to the direct commits to master, the staging branch (githu

[2016-10-19 16:13] ncoghlan commented on #59
We're not as worried about linear history for the devguide as we are for CPython, so merges from `master`->`github` would look like:

    git checkout github
    git pull
    git merge origin/master
    git push

Thanks for being prepared to tackle that! I personally find collaborating on feature branches is always a bit of a pain (regardless of context), and that need to merge in changes made thr

[2016-10-19 18:01] brettcannon commented on #59
Nick's steps are what I have been doing, so that's fine by me.

As for people committing only to the `github` branch, that's fine by me as well (to help make everyone happy I will change the default branch that GitHub shows people to be the `github` branch instead of `master` and update Read the Docs to continue to display `master` by default). It's just you can't merge the `github` branch into `m

[2016-10-20 07:27] matrixise commented on #53
Hi @brettcannon , since my PR has been merged, you can close this issue.

[2016-10-20 11:12] #53 closed

[2016-10-21 15:55] matrixise commented on #7
I am going to work on this part during this week-end. @willingc, did you have the opportunity to work/think about this section ?

[2016-10-21 16:05] Mariatta commented on #7
@matrixise @willingc Perhaps once you have the checklist ready, I can work on creating the cookie cutter project based on it. Thanks 😃

[2016-10-21 16:06] matrixise commented on #7
@Mariatta with pleasure, and of course, I can help you once you have a small proto.

[2016-10-21 16:18] matrixise commented on #50
check this branch https://github.com/python/devguide/pull/67

[2016-10-21 16:19] matrixise commented on #46
check this PR: https://github.com/python/devguide/pull/67

[2016-10-21 16:24] matrixise commented on #45
@brettcannon where is the repo of https://hg.python.org/committers.txt ? because I think there is no Git repo for this file and I would like to update this file.

[2016-10-21 19:22] brettcannon commented on #45
@matrixise there is no repository for that file as it's auto-generated from the registered SSH keys of committers.

[2016-10-21 19:32] matrixise commented on #45
@brettcannon ok, in this case, I won't change this part in the coderev.rst file.

[2016-10-21 22:01] #51 closed

[2016-10-21 22:23] #3 closed

[2016-10-21 22:25] brettcannon commented on #54
Travis is now set up but without linkcheck as it's constantly failing on the URLs from the buildbot page.

[2016-10-22 02:54] ncoghlan commented on #45
I believe the GitHub equivalent would be to pull the list of "Python Core" team members from https://github.com/orgs/python/teams/python-core

[2016-10-22 05:38] Mariatta opened #70 "Mention buildbots in the core dev section of the devguide"
Saw this ticket in bugtracker http://bugs.python.org/issue20357
Thought it's better suited here :)

There is some info about build bots in this page
https://www.python.org/dev/buildbot/

Is it a matter linking to that from dev guide?
cc @ncoghlan who opened the original ticket in bugtracker.

Thanks.

[2016-10-24 13:17] willingc commented on #7
@matrixise @Mariatta I was at Grace Hopper all last week. I'm going to catch up today after traveling, and then full steam ahead.

[2016-10-24 16:41] brettcannon commented on #45
@ncoghlan it is but I don't think that list is public.

[2016-10-25 01:56] ncoghlan commented on #45
@brettcannon OK, in that case it probably makes sense to assume that `committers.txt` will stick around in some form as a public export generated from the team list.

[2016-10-25 16:31] brettcannon commented on #45
@ncoghlan what do we even need the list for? GitHub clearly delineates who is a Python team member in code reviews and bugs.python.org does as well, so it isn't to call out who is or is not a core dev.

[2016-10-26 07:17] ncoghlan commented on #45
Sorry, I was assuming we used it somewhere based on @matrixise's comment above. If we can get rid of it entirely, so much the better :)

[2016-10-26 08:25] matrixise commented on #45
in fact, https://github.com/orgs/python/teams/python-core is not public because I get a 404 when I try to access to the page.

[2016-10-28 18:07] #48 closed

[2016-10-28 18:20] #47 closed

[2016-10-28 18:22] brettcannon commented on #50
@matrixise your PR looks to take care of this issue, but it currently has merge conflicts so I can't close this issue until you update your PR.

[2016-10-28 18:24] brettcannon commented on #49
The only reason I can think of keeping this around is that a very select number of repos will probably stick around on hg for a little while (e.g. the bugs.python.org repo). But since the doc is already written then the opening paragraph should be tweaked to not suggest that CPython uses Mercurial and then leave it be.

[2016-10-28 18:36] #49 closed

[2016-10-28 19:12] #46 closed

[2016-10-28 19:13] brettcannon commented on #46
I actually needed to clarify some wording on workflow changes so I needed to do my own PR.

[2016-10-28 19:40] #44 closed

[2016-10-28 21:21] #45 closed

[2016-10-28 21:22] #28 closed

[2016-10-28 21:40] #50 closed

[2016-11-02 03:25] zware commented on #6
Fixed by #65.

[2016-11-02 03:25] #6 closed

[2016-11-03 01:00] willingc commented on #59
@brettcannon @ncoghlan @berkerpeksag Thanks for the help on this. I'm going to close this as @zware has brought things up to date in `github` branch with #65. :heart:

[2016-11-03 01:00] #59 closed

[2016-11-15 21:57] matrixise commented on #11
Hi @brettcannon

I am not totally sure but I think we can close this issue because all the questions have a good number. https://docs.python.org/devguide/faq.html#communications or http://cpython-devguide.readthedocs.io/en/latest/faq.html?highlight=faq#communications  @willingc could you confirm too ?

Thank you

[2016-11-15 22:01] willingc commented on #11
Looks good to me @matrixise. +1 to closing.

[2016-11-15 22:09] matrixise commented on #11
thanks for your feedback, and therefore we can close this issue, @brettcannon ? could you close it I don't have the rights. Thank you

[2016-11-15 22:10] #61 closed

[2016-11-15 22:10] matrixise commented on #61
I am closing this issue because it's a bug with the github bot.

[2016-11-15 22:14] #11 closed

[2016-11-15 22:15] willingc commented on #11
@matrixise I've gone ahead and closed this. @brettcannon, hope that is ok for you. Perhaps giving @matrixise permissions on this repo would be helpful given the work he has been doing.

[2016-11-15 22:53] brettcannon commented on #11
@willingc I actually offered them to him on Sunday at PyCon CA, so the time machine strikes again. 😄 I have gone in and given @matrixise write access, so now he just needs to accept the invite.

[2016-11-15 23:11] matrixise commented on #11
Thank you so much. Of course, I have accepted the invitation, Thank you

[2016-12-08 20:52] ned-deily opened #79 "https://docs.python.org/devguide/ is broken?"
Looks like some static files aren't being loaded there.  The RTD mirror is OK.

[2016-12-08 21:04] berkerpeksag commented on #79
I'm getting 403 when I try to load https://docs.python.org/devguide/_static/jquery.js It looks like something is wrong with the server configuration.

[2016-12-08 21:09] ned-deily commented on #79
Yeah, the group id of the files on the server there seems to be wrong.  @birkenfeld or @benjaminp, can you take a look at it?

[2016-12-08 21:38] brettcannon commented on #79
I just discovered this today and emailed the infrastructure team to start a discussion about retiring docs.python.org/devguide and moving to Read the Docs (either with the current RTFD site or under a dev.python.org subdomain). With this and the issues moving the devguide over to git I think it's better to try and shift to Read the Docs since they're set up better for managing this sort of thing.

[2016-12-08 23:09] brettcannon commented on #79
Since @ewdurbin got this fixed, I'm going to close this.

[2016-12-08 23:09] #79 closed

[2016-12-08 23:44] ned-deily commented on #79
Thanks @brettcannon and @ewdurbin!

[2016-12-09 03:40] Mariatta commented on #46
@brettcannon Do you want to keep the issue open? So we know that there's work pending still?

[2016-12-09 03:43] Mariatta commented on #39
Do you want to check off these issues? Since they're closed already...
#44 #45 #47 #48 #49 #50 #51 #52 #53

#46 seems to be closed, but you mentioned about needing to make another PR.

[2016-12-09 04:01] Mariatta commented on #10
Just so we don't have to go to the bugtracker to remind ourselves of what this is about, here's a recap:

[2016-12-09 20:44] brettcannon commented on #46
No, this can be closed as my PR should have covered everything.

[2016-12-09 20:55] Mariatta commented on #27
Is the FAQ ready to be removed? I can prepare a PR 😃

[2016-12-09 22:21] brettcannon commented on #27
Someone should go through the FAQ to see if there's any relevant info in there that isn't either easily/better found elsewhere online or that is replicated in the proper place somewhere else in the devguide. So I don't know if it's ready yet until that's occurred.

[2016-12-09 23:32] willingc commented on #27
@Mariatta If you have time to go through the FAQ, that would be awesome. Thanks!

[2016-12-09 23:34] willingc commented on #54
@brettcannon I'm going to close this as the originator of the issue since I believe that we have resolved this. Thanks for all the work you are doing on the migration too. :cake:

[2016-12-09 23:34] #54 closed

[2016-12-09 23:52] willingc commented on #30
Closing as resolved since I was the original issue creator.

[2016-12-09 23:52] #30 closed

[2016-12-10 00:00] brettcannon commented on #27
Yes, if that wasn't clear, it's open to anyone to try and tackle. 😄 (long list of todos today that I'm trying to rush through)

[2016-12-13 05:45] Mariatta opened #85 "Question: What version of sphinx should be used to build python docs?"
Dev guide only mentioned that we are expected to install a *recent* version of sphinx.
http://cpython-devguide.readthedocs.io/en/latest/documenting.html#building-doc

By *recent*, do you mean *latest*?
Or, is there a minimum version that is acceptable?

Thanks :)

[2016-12-13 11:09] willingc commented on #85
Hi @Mariatta. The minimum acceptable version should be found in Sphinx's`conf.py` file https://github.com/python/cpython/blob/master/Doc/conf.py#L37 It states 1.2 is acceptable. Sphinx is currently at 1.5.

@bitdancer Do you have a recommendation? Thanks!

[2016-12-13 17:54] Mariatta commented on #85
Thanks @willingc  :) I've been using 1.3.5, so I guess I'm fine for now.
Any idea if there's difference in the output when using these different sphinx versions?
(I'm new-ish to sphinx)

Can add into devguide that the minimum sphinx version is 1.2?
As newcomer I didn't know that I could look into conf.py to find out which sphinx version is needed.

[2016-12-13 18:03] brettcannon commented on #85
You should be able to just use the latest version. As for the output, it should be the same. The only real change I ever notice is that newer versions warn about different things.

[2016-12-13 18:17] willingc commented on #85
I would recommend the latest stable version of sphinx in the devguide as @brettcannon mentions. Thanks @Mariatta. Feel free to ping me directly if you have specific sphinx questions too.

[2016-12-13 23:19] Mariatta commented on #85
Thanks @brettcannon and @willingc :)
I proposed a PR to the devguide based your input.

[2016-12-13 23:34] #85 closed

[2016-12-15 00:09] Mariatta commented on #70
Turns out there's a section about buildbots already :sweat_smile: (I just found it)
http://cpython-devguide.readthedocs.io/en/github/buildbots.html#checking-results-of-automatic-builds

Closing this issue :smiley:

[2016-12-15 00:10] #70 closed

[2016-12-29 19:13] brettcannon opened #89 "Make it abundantly clear random people should not ask for commit privileges"
Twice in the past two weeks people have sent in their SSH keys and GitHub usernames to get commit privileges even though they have never contributed to Python. It seems we need a much louder, explicit message that commit privileges are not for people who are just looking to contribute (maybe #40 would help with this?).

[2016-12-29 19:44] berkerpeksag commented on #89
Did they say anything about how they find hgaccounts@p.o? Perhaps we can delete the following paragraph from https://docs.python.org/devguide/coredev.html

[2016-12-29 20:31] willingc commented on #89
Strange. I concur with @berkerpeksag that the recommended passage should be deleted.

It would be great to have a direct statement similar to the following added to the READMEs once all repos are on GH and perhaps included message from the bot that asks for new contributors to sign the release:

[code]

@Mariatta Thoughts on being welcoming yet direct and practical?

[2016-12-30 13:08] ncoghlan commented on #89
+1 from me for removing the paragraph @berkerpeksag mentioned (and that can be done without replacing it with anything). The open source dev model already implicitly rewards robust self-confidence, so we really don't need to explicitly encourage that bias :)

In terms of providing a clearer explanation for what it means to become a core committer/reviewer, I'm not sure how to word it concisely, bu

[2016-12-30 18:29] willingc commented on #89
@ncoghlan This is probably the best written distinction that I've seen - both positive and clear.

[2016-12-30 20:47] #89 closed

[2016-12-30 20:49] brettcannon commented on #89
OK, paragraph has been deleted in master and github branches. If someone wants to clarify responsibilities as Nick has laid out (although I would add the responsibility of accepting/rejecting contributions on top of the ramifications is part of it), then feel free.

[2016-12-30 21:08] willingc commented on #89
Thanks @brettcannon. Happy 2017 :smile:

[2016-12-31 04:56] ncoghlan commented on #89
A second attempt at spelling out the additional privileges & responsibilities of core developer status:

[2016-12-31 15:26] yan12125 opened #90 "Windows build instructions out-dated/unclear for 2.7 branch"
Since http://bugs.python.org/issue24508, building 2.7 on Windows is complicated. A typical setup involves Visual Studio 2008 as well as 2010. However, https://github.com/python/devguide/blob/github/setup.rst#windows simply says:

Maybe picking some important notes from https://hg.python.org/cpython/file/2.7/PCbuild/readme.txt

[2017-01-01 20:25] brettcannon commented on #90
I would also be fine with simplifying the docs to just point people towards the readme.

[2017-01-03 05:29] yan12125 commented on #90
Thanks @zware! Things are much clearer now!

[2017-01-03 05:29] #90 closed

[2017-01-04 17:14] #27 closed

[2017-01-14 11:18] ncoghlan commented on #89
I created a PR for a new section that clarifies the additional responsibilities of core developers: https://github.com/python/devguide/pull/95

[2017-02-10 17:18] nilabja10201992 commented on #9
I'm a new contributor and I would like to help.

[2017-02-10 18:12] #5 closed

[2017-02-10 18:34] willingc commented on #9
Hi @nilabja10201992,

Welcome. Rereading the original issue, it looks as if there are two possible actions:

- [ ] [Section 12.1](https://cpython-devguide.readthedocs.io/communication.html#mailing-lists) Review mailing list descriptions and add any that are missing. Review the textbox and correct the formatting within the box.

- [ ] [Section 12.4](https://cpython-devguide.readthedocs.io/communica

[2017-02-11 01:17] louisrawlins commented on #9
Hi @willingc and @brettcannon.

Thanks a bunch for your help on the [core mentorship](https://www.python.org/dev/core-mentorship/) list.

I'd like to help with documentation. I'm new to Open-source, but comfortable with Git workflows (once we've established what they are).

@willingc, I could use most help finding documentation updates and discussing what needs doing. Please let me know how (or if

[2017-02-11 01:35] ezio-melotti opened #103 "Add a step-by-step list (with git commands) to the pullrequest page"
The [pullrequest](https://cpython-devguide.readthedocs.io/pullrequest.html) page should include a step-by-step list with the required git commands required to create a pull request.

The list should be something like:

1. Create your fork of CPython by clicking on the "Fork" button on https://github.com/python/cpython
2. Create a local clone of your fork by doing `git clone https://github.com/your

[2017-02-11 01:48] Mariatta commented on #103
Thanks @ezio-melotti :)

I think we should also update the Getting Setup page to include instructions to first fork the repo, instead of cloning the official cpython repo.

https://cpython-devguide.readthedocs.io/setup.html#getting-the-source-code

Step 2 of Quick Start guide should also be updated https://cpython-devguide.readthedocs.io/index.html
I think it will be confusing when people cloned t

[2017-02-11 03:07] ezio-melotti commented on #103
I agree on both points.  Some sections and commands have been converted directly from hg to git, but the current workflow doesn't fit the previous structure anymore, so I think we should reorganize things a bit.

The [Getting Set Up section](https://cpython-devguide.readthedocs.io/setup.html#getting-set-up) should also include the info that are currently in the [Minimal Configuration section](http

[2017-02-11 04:14] Mariatta opened #104 "Should an issue be created first, before the Pull Request?"
In the Quick Start section of the Dev Guide:
[code]

Just wondering if it might be better if an issue be created first (in bpo) before the pull request?
This way Pull Request can be created with `bpo-NNNN:` in the PR title as well as the commit message.

[2017-02-11 06:02] ezio-melotti commented on #104
Maybe we could even leave this out from the quick start, in most of the cases there is already an issue, or one is created beforehand in order to discuss the details of the fix.  Eventually we might also automate the issue creation for PR that don't refer to any existing issue.

[2017-02-11 10:56] matrixise commented on #104
Or just add "If there is no issue, create it before the PR and note the PR with "bpo-ISSUENUMBER Description".

[2017-02-11 11:01] berkerpeksag commented on #104
We should also mention that there is no need create an issue for trivial changes like typo fixes.

[2017-02-11 12:25] tiran opened #105 "Add git worktree command [was: hg share -> git worktree]"
I used hg share a lot to share a single hg clone between multiple working directories. It's convenient to have a lean copy for each branch of Python (2.7, 3.5, 3.6). git has a similar feature called worktree, https://git-scm.com/docs/git-worktree . It took me a bit to find it. Other developers may find the feature useful, too. What do you think about documenting git worktree in the dev guide?

[co

[2017-02-11 12:29] methane commented on #105
Oh, I used git-new-workdir (in git's contrib directory).
git worktree seems better.  Thank you.

[2017-02-11 12:36] tiran commented on #105
https://github.com/blog/2042-git-2-5-including-multiple-worktrees-and-triangular-workflows#git-worktree-one-git-repository-with-multiple-working-trees

[2017-02-11 12:51] ncoghlan commented on #105
+1 from me. I'd suggest looking up where we used to document hg share and adding a similar example for git worktree.

[2017-02-11 13:38] warsaw commented on #105
+1 for documenting worktree, it's a great feature of git especially when you might be working in multiple branches often (e.g. in our case devel, 3.6, and 3.5).

Also, +1 for documenting triangular workflows.  Maybe I should open a new issue on this but as I was reading the devguide I noticed that it suggested pushing to origin, i.e. the main repo.  In our case since many people won't have permiss

[2017-02-11 14:08] tiran commented on #105
I have been using ```upstream``` and ```origin``` with the described semantic for years. It seems to be pretty standard and even the recommended way on github, too. https://help.github.com/articles/configuring-a-remote-for-a-fork/

I wonder, should core devs really push to the main repos? In all my projects (work and private) I always push to my private clone and then use PR to merge from my priva

[2017-02-11 14:11] matrixise commented on #105
@tiran normally we should propose a PR

[2017-02-11 14:19] warsaw commented on #105
On Feb 11, 2017, at 06:08 AM, Christian Heimes wrote:

No, we should also push to our forks.  That way, core devs more closely use
the same workflow non-core devs use, plus it doesn't clutter up the main repo
with additional branches (that often, but not always, get pruned after a
merge).

I personally push to the main repos for some of my projects, but it really
depends on the size of the contrib

[2017-02-11 23:33] brettcannon opened #107 "Clean up coverage instructions"
Thanks to Codecov and Travis, not only do we have continuous code coverage reports, but we have included instructions on how to run coverage.py as well. Once python/core-workflow#18 is dealt with we should strip those instructions down to their bare minimum and rely more on Codecov for where people can get current coverage results and Travis for instructions on how to run things.

[2017-02-12 19:11] #104 closed

[2017-02-12 23:28] willingc opened #110 "Clarify step 4 in pull request template"
In both the devguide and CPython repos, the PR template (see [example](https://github.com/python/devguide/pull/106#issuecomment-279165704)) lists the steps for a new contributor to sign the CLA, add their GitHub username to bpo, and check if the bpo account shows the CLA as signed.

Adding a small visual to "Step 4: Adding GitHub user name to bpo account" would probably save maintainers from remin

[2017-02-13 10:42] methane opened #112 "https://docs.python.org/devguide/ is old"
https://docs.python.org/devguide/ still describe mercurial step.

Why there are two site to maintain?
Can't we use only http://cpython-devguide.readthedocs.io/ ?

[2017-02-13 10:55] berkerpeksag commented on #112
I've purged Fastly cache. It should show up-to-date information now.

[2017-02-13 11:12] berkerpeksag commented on #110
Did we get any reports about this? I think the steps are quite easy to follow. The only vague part is

[code]

IMO https://github.com/python/the-knights-who-say-ni/pull/89 will make step 4 clearer.

[2017-02-13 13:32] methane commented on #112
close this for now.
But I don't understand why there should be two site yet...

[2017-02-13 13:32] #112 closed

[2017-02-13 13:49] berkerpeksag commented on #112
I think the ultimate goal is to use RtD and redirect docs.p.o/devguide to RtD.

[2017-02-13 16:55] willingc commented on #110
@berkerpeksag Just a suggestion. I've seen a number of new contributors neglect adding their GitHub address to bpo, and then a maintainer has to remind.

Looking at it from someone familiar with bpo, I agree that the text is clear. Yet, a new contributor will likely benefit from further guidance since they will likely not be familiar with bpo.

[2017-02-13 18:57] brettcannon commented on #105
The only reason someone should end up with a personal branch on python/cpython is if they are fixing a spelling mistake in the browser and they will be deleting their branch in less than 24 hours. Otherwise everything else should go to a personal fork and get merged in through a PR.

And it sounds like people like the idea of documenting `git worktree` so I don't see why you shouldn't go for it, @

[2017-02-13 19:06] brettcannon commented on #110
My only worry with adding an image is it will make an already large comment even larger and I would be worried about making it come off as intimidating (I tried to make it as friendly and self-explanatory as possible at the same time, hence its current length). I'm not opposed to providing a link to the image in the message, though.

[2017-02-13 19:09] willingc commented on #110
@brettcannon Link to an image would be wonderful. :smile:

[2017-02-13 19:51] brettcannon commented on #110
@willingc any ideas on where to host the image to provide the link? Or should we just link to https://cloud.githubusercontent.com/assets/2680980/22867185/d3aedcf8-f137-11e6-8469-d5f7861a1073.png ?

[2017-02-13 19:56] willingc commented on #110
The PNG is pretty small. Perhaps create a static directory where the Pull Request template lives (knights who say ni repo?) and put it there. Though I suppose linking as you mention would be fine too.

[2017-02-13 19:57] brettcannon commented on #110
Let's try using the link we already have. Did you want to make a PR for the bot, @willingc ?

[2017-02-13 20:01] willingc commented on #110
Sure. I'll add it later this afternoon. Thanks @brettcannon.

[2017-02-13 23:42] #110 closed

[2017-02-14 19:33] Mariatta opened #114 "FAQ page is still in docs.python.org/devguide"
FAQ section was removed in GH-27
Recently docs.python.org/devguide has been updated to reflect the github branch.

Somehow this page is still alive 😅
https://docs.python.org/devguide/faq.html

Any idea of what should be done?

The FAQ is referenced in https://docs.python.org/3/faq/general.html and this issue is related to https://github.com/python/cpython/pull/8

[2017-02-14 19:36] brettcannon commented on #114
Just delete it again. 😄

[2017-02-14 19:39] ned-deily commented on #114
I believe the problem is that the docs build job doesn't remove deleted pages.  I'll ask infra to manually remove it and also the patch.html page.

[2017-02-14 20:11] ned-deily commented on #114
OK, https://docs.python.org/devguide/faq.html and https://docs.python.org/devguide/patch.html are now gone; you might need to refresh your browser to get the 404.

It might make sense to turn this issue into a request to get the docsbuild script to remove deleted pages when updating the on-line html (if such an issue does not already exist; this isn't the first time something like this has happene

[2017-02-14 20:24] brettcannon commented on #114
python/core-workflow#4 is about moving the devguide to Read the Docs and then adding a subdomain on python.org for the devguide. That would alleviate the custom infrastructure dependency.

[2017-02-15 03:11] ezio-melotti commented on #103
I created GH-115 to address the issues with the quick start.

[2017-02-15 05:18] louisrawlins commented on #103
Hi @Mariatta and @ezio-melotti

I'm new to the breadth of documentation for CPython, and I haven't run it myself yet. But, I thought I'd offer some thoughts and take an attempt to help organize the quick-start list (since it's meant for people like myself who haven't had a chance to build CPython, make changes, etc).

A point that kept sticking to me before contributing was trying to remember the

[2017-02-15 05:45] ned-deily commented on #114
The problem with deleted pages isn't limited to the devguide.  It affects all docs builds.

[2017-02-15 17:51] brettcannon commented on #103
@louisrawlins Based on your "push a branch to their local repo" question, I don't see any step of how the branch you created gets on to internet for anyone to see (let alone on to GitHub for people to create a pull request from).

And forking actually has nothing directly to do with cloning. A fork on GitHub is nothing more than GitHub making a copy of a repository and placing it under your accoun

[2017-02-15 19:34] Mariatta commented on #114
Thanks @ned-deily
I'm not familiar with docsbuild script. Do you mean that the issue is something to be reported to https://github.com/sphinx-doc/sphinx/ ? If so, I will file a bug there :)

btw I just checked https://docs.python.org/devguide/faq.html  and https://docs.python.org/devguide/patch.html both are still active. Could there be caching issue?

[2017-02-15 19:38] zware commented on #114
@Mariatta See https://github.com/python/docsbuild-scripts for the script that triggers the builds of everything on docs.python.org.

[2017-02-15 19:42] Mariatta commented on #114
Aha! Thanks @zware will check it out :)

[2017-02-15 19:49] louisrawlins commented on #103
@brettcannon what you note is where I'm curious to get clarity:

Outside of Github, if I were to make a clone of CPython and create a new branch -- can I create a Pull Request?

It's definitely an extra-step to clone from Github, then push a repo back up to Github rather than forking the repo. My curiosity is whether that is a valid workflow or something similar to what you guys were doing with hg

[2017-02-15 19:50] ned-deily commented on #114
Grrr! They were deleted yesterday but I think the files came back because they also need to be deleted from the docs build directory that probably just gets copied over to the directory from which they are served (I don't have read access to the build directory).  I've asked the admins to remove both sets.  Hopefully, that will make them permanently go away.

[2017-02-15 20:14] ned-deily commented on #114
The two pages are now gone again, with luck they will stay that way this time.  Since you've opened the issue under docsbuild-scripts, I guess we can close this one?

[2017-02-15 20:18] Mariatta commented on #114
Sounds good :)

[2017-02-15 20:18] #114 closed

[2017-02-15 20:22] brettcannon commented on #103
You can only create a pull request if the branch exists somewhere on GitHub. Otherwise you have to create a patch file and upload it to the issue tracker.

[2017-02-15 20:29] louisrawlins commented on #103
Gotcha. Thanks. It's the third way that I keep forgetting.

Contribution looks like:
1a. Create Pull Request in Github to merge a branch from your Fork
1b. Create Pull Request in Github to merge a branch from your Cloned Repository
1c. Upload Patch to bugs.python.org

Is that a fair representation at a broad level?

[2017-02-15 20:33] brettcannon commented on #103
1b doesn't work; if you didn't fork on GitHub then it has no way of knowing that your repo is supposed to somehow come from the cpython repo.

[2017-02-15 21:53] JDLH opened #116 "Update Devguide about building documentation."
The Devguide section 7.5.1 "_Building the documentation_" / "_Using make / make.bat_" is out of date.  The document lists 10 documentation targets for `make`. The Doc/Makefile lists 17.

One important omission is `make check`, which looks for errors in reStructuredText syntax, using `rstlint.py`. It's important for contributors to know about and to run `make check`, because with the move to GitHub

[2017-02-15 21:55] JDLH commented on #116
Carrying over comment from http://bugs.python.org/issue29563, by Zachary Ware (zach.ware), 2017-02-15 03:58:
"I'd suggest replacing as much as possible in the devguide with a link to Doc/README.rst (or Doc/README.txt, if that's what it still is).  Other improvements should be made in the README."

[2017-02-15 22:06] JDLH opened #117 "Devguide §6.3 says Devguide issues are tracked on b.p.o."
The Devguide, section [_6.3. Helping with the Developer’s Guide_](https://cpython-devguide.readthedocs.io/docquality.html#helping-with-the-developer-s-guide), says, "The Developer’s Guide uses the same process as the main Python documentation…. Bug reports and patches should be submitted to the [Python bug tracker](http://bugs.python.org/) using the `devguide` component." Note the link to bugs.pyt

[2017-02-15 22:21] louisrawlins commented on #103
Okay. After some convoluted cloning and branching, I see what you're talking about.

When you select "New Pull Request" from the CPython repo, you're prompted to find it either from the branches within that repo, or a forked repository:

[My branch from cloned CPython](https://github.com/louisrawlins/cpython-test/tree/and_spam) won't show up in Github for a Pull Request to CPython unless I've fork

[2017-02-15 22:29] louisrawlins commented on #103
This is what I have currently for a Quick Start Guide:

&nbsp;* This linked documentation needs work on how to create branches, work on them, resolve conflicts, create pull request, then delete a branch.

[2017-02-15 23:29] brettcannon commented on #117
You're right, the link is wrong and issues are tracking here on GitHub.

[2017-02-15 23:33] brettcannon commented on #103
Does step 2 include cloning your fork? I would also move step 5 up to be immediate after cloning. I think step 7 should move after step 8. As for step 10b, it can be mentioned but should not be emphasized. And step 11 should be the first thing if you're explicitly working on something -- so if you're just exploring then it can be step 6 -- to make sure that someone else doesn't also start working

[2017-02-16 00:24] willingc commented on #103
@louisrawlins Yesterday, GitHub released an open source guide on contributing and maintaining open source projects.

- [Main open source guide landing page](https://opensource.guide/)
- [Site on contributing to open source](https://opensource.guide/how-to-contribute/)
- [Section on how to contribute including the typical GitHub workflow](https://opensource.guide/how-to-contribute/#how-to-submit-a-

[2017-02-16 00:35] ezio-melotti commented on #103
FWIW I think that:
* the quick start should be short and outline the main steps only;
* the quick start should link to other devguide pages that describe the steps in greater detail (including the detailed steps, alternatives, how to deal with issues and exceptions, etc);
* by following the quick start and the internal links, one should be able to do everything from setting up to having the PR mer

[2017-02-16 03:47] zhangyangyu commented on #105
+1 on this. IIRC there was a similar part about hg in devguide before. It's disappointing to not see such a part which does help my workflow.

[2017-02-16 14:37] tiran commented on #105
I might be able to squeeze in some time next week. If somebody else is going to beat me instead ... go ahead! I wouldn't mind.

[2017-02-16 22:19] louisrawlins commented on #9
@willingc Wanted to share some thoughts on changed before I commit anything. I've made some changes to help clarify the common Python mailing lists here:

https://github.com/louisrawlins/devguide/wiki/https:--cpython-devguide.readthedocs.io-communication.html%23mailing-lists

Can you tell me what "Review the textbox and correct the formatting within the box." means? I'm happy to add any lists that

[2017-02-16 23:22] ezio-melotti commented on #105
+1 for me too.

A good place where to add this would be [the tool setup section of the pullrequest page](https://github.com/python/devguide/blob/master/pullrequest.rst#tool-setup) with a link to it in [version control setup section of the setup page](https://github.com/python/devguide/blob/master/setup.rst#version-control-setup).

FWIW in #103 I also suggested to add more git commands to the pull

[2017-02-16 23:26] ezio-melotti commented on #105
Another good place to add this would be [the remotes setup section of the committing page](https://github.com/python/devguide/blob/master/committing.rst#remotes-setup) (even though I don't like that the info are currently scattered around a few different page, and I'm going to propose some refactoring in a separate issue).

[2017-02-17 00:37] ezio-melotti opened #120 "Post-migration Devguide reorganization"
I think the Devguide is due for some reorganization after the migration.

In particular:
* [The version control setup section](https://github.com/python/devguide/blob/master/setup.rst#version-control-setup) should link to a separate page "git" page.
* [The lifecycle of a PR page](https://github.com/python/devguide/blob/master/pullrequest.rst) seems to expand on the quick start, but doesn't include

[2017-02-17 07:21] nilabja10201992 commented on #9
@louisrawlins  If you feel like to add more changes, it's fine, nothing to be sorry. I made changes which I felt appropriate if you feel more changes are necessary you can surely work on it.
Thank You!

[2017-02-17 15:37] DimitrisJim commented on #32
Just bumped into this myself on `16.04` and had to comment out a couple of `deb-src`s. Would adding a url to  the question on ask-ubuntu suffice? Or would a simple line of the form "Back up your `/etc/apt/sources.list` and then uncomment the `deb_src` lines" do the trick?

[2017-02-17 19:11] ezio-melotti commented on #117
This has been fixed now, thanks for the report!

[2017-02-17 19:11] #117 closed

[2017-02-18 13:08] ncoghlan commented on #105
I just set this up myself, and it seems very nice. From my `cpython` dir, it was just a matter of doing:

    git checkout 3.6
    git worktree add ../py36 3.6
    git checkout 3.5
    git worktree add ../py35 3.5
    git checkout 2.7
    git worktree add ../py27 2.7
    git checkout master

(I didn't check if you could use "origin/X.Y" directly as the source branches for the worktrees)

[2017-02-18 14:34] serhiy-storchaka commented on #105
How to create the second worktree for the same branch (for debug build)? What is `git` equivalent of following `hg` commands?
[code]

[2017-02-18 15:10] yan12125 opened #122 "Handling of generated files after migrated to Github"
Currently, setup.rst says:

Things are different now. As Stinner said, [1] auto-generated files should be included in pull requests now. Here's my reasoning:

1. Travis CI tests may fail if configure and pyconfig.h.in are not updated
2. It's inconvenient for core developers to update generated files and push. (Github allows adding commits to pull requests. Seems CPython community does not use it?)

[2017-02-19 05:08] methane commented on #105
Use `git worktree add --force` (or `-f`) or `git worktree add --detach`.
See `man git-worktree` for detail.

[2017-02-19 14:39] CuriousLearner opened #124 "Github organization link is secret and not accessible from core-dev guide"
On visiting link: https://docs.python.org/devguide/coredev.html#github

The first sentence is "You will be added to the Python core team on GitHub."

The ``Python core team`` refers to a link to Github which is not accessible to anyone except for those who are part of the organization.

I'd like to suggest to either remove the link from the documentation or make the team visible to public.

This w

[2017-02-19 15:07] tiran commented on #105
@ncoghlan ```-b 3.6``` performs ```git checkout 3.6``` in one go.

@serhiy-storchaka You can also use out-of-tree builds to build different flavors from the same checkout. I use ```ccache``` to speed up compilation, too.

[2017-02-19 20:40] serhiy-storchaka commented on #105
Thank you @methane and @tiran.

[2017-02-19 23:30] zware opened #125 "Add core-dev guidance on squash merge commit messages"
See python/core-workflow#27: we should amend the devguide to specify how squash merge messages should be amended from GitHub's default message for a PR.

[2017-02-20 09:49] CuriousLearner commented on #124
If this requires change like removing the link form the devguide, I'd be more than happy to pick this up!

[2017-02-20 18:26] willingc commented on #124
Hi @CuriousLearner,

I agree that it would be helpful to have an indication that only core devs are able to access the link, make the link direct to a public team, or remove the link but not the text.

@mariatta Thoughts?

[2017-02-21 01:46] louisrawlins commented on #103
Hey ya'll. Thanks for the great feedback. Hope you had nice weekends.

Here are incorporated edits:

https://github.com/louisrawlins/devguide/wiki/pullrequest.html%23quick-guide

I've split off "3.1.5. Quick Guide Step-by-step" because I'm not quite sure where it belongs. We now have *commands* and *links to documentation* which are fine to interleave, but they felt a little clearer when separated

[2017-02-21 18:42] Mariatta commented on #124
Thanks @CuriousLearner and @willingc :)
I vote for removing the link and keeping the text.

So, the change is to be made in coredev.rst:
[code]

[2017-02-21 21:10] Mariatta opened #126 "Document backport and cherry-pick labels"
There should be a documentation explaining what to do with the labels `needs backport to X.Y` and `cherry-pick for X.Y`. Perhaps as a new section in committing.rst?

I think this is the current workflow: (as discussed in https://github.com/python/core-workflow/issues/23)

- Apply `needs backport to X.Y` label to the PR against `master`.
- Once `master` PR is approved and merged, create the cherry-

[2017-02-21 21:16] Mariatta commented on #120
Perhaps we can create smaller issues to address each items, and create a new GitHub project for this :)

[2017-02-21 23:22] berkerpeksag commented on #126
+1 from me. We probably need to wait for a bit to settle on the exact workflow before starting to document it.

We could probably cover the GitHub part in http://cpython-devguide.readthedocs.io/committing.html#backporting-changes-to-python-3-6-or-older-version (or split it to two separate subsections?)

+1. This is also my assumption.

[2017-02-21 23:50] ezio-melotti commented on #120
I wanted to gather some initial feedback before starting working on this, then I think I can start proposing PRs addressing each point.  It should be fine to discuss on the PRs rather than opening new issues, but if issues are better I'm not against using this as a meta-issue and opening other issues for each point.
I'm not familiar with GitHub projects, but I guess we can try.  One problem is tha

[2017-02-22 01:44] willingc commented on #120
Perhaps make the bullet list into a checklist. The individual items could then be checked off as individual PRs address one or more of the items.

[2017-02-22 05:17] CuriousLearner commented on #124
@Mariatta @willingc I've added a PR for the same.

[2017-02-22 05:22] orsenthil commented on #124
Thank you! Merged: https://github.com/python/devguide/pull/127

[2017-02-22 05:22] #124 closed

[2017-02-22 05:24] CuriousLearner commented on #124
Thanks @orsenthil !

[2017-02-22 14:06] ncoghlan opened #129 "Provide guidance on editing PRs prior to merge"
The GitHub "command line instructions" for PR merging assume you'll be merging and pushing changes from the command line rather than amending the original PR. This means I'm not entirely clear on how to amend the following prior to accepting someone's change:

- update ACKs
- add a NEWS entry
- add a What's New entry
- any other tweaks I want to just fix myself rather than pushing back for another

[2017-02-22 14:23] warsaw commented on #129
It's an interesting problem that I run into in other projects.  I don't want to necessarily block a merge because things like a NEWS file entry are missing, but then I also don't like merging a branch that's missing the things you mention above.  I'll usually use the command line to fetch their branch, clean it up, then either push it to master (not an option for CPython repo) or push to a new bra

[2017-02-22 14:27] ncoghlan commented on #129
Using https://github.com/python/cpython/pull/171 as my example, it looks like the following command gives me a shallow clone with the PR contents:

    git clone -b bpo-26128 --depth=1 git://github.com/Ghost-script/cpython.git

(The branch name and repo URL can be accessed by looking at the "command line instructions" on the PR)

Next step will be to actually push the update with the Author overri

[2017-02-22 14:39] ncoghlan commented on #129
OK, after trying it, the shallow clone idea is a non-starter, since you'll need the full history if you actually want to rebase the PR branch (which is likely to be essential for the time being, in order to edit and push Misc/NEWS without conflicts).

I'm going to try a different approach making a fresh clone of my local repo (so "origin" is my own main working copy rather than anything on GitHub)

[2017-02-22 15:08] ncoghlan commented on #129
This worked better for making a local branch that I could rebase:

    git remote add Ghost-script git://github.com/Ghost-script/cpython.git
    git fetch Ghost-script
    git checkout -b bpo-26128 --track Ghost-script/bpo-26128

However, I couldn't actually push the resulting rebase back to the original branch.

[2017-02-22 15:48] Carreau commented on #129
you can set the following in your (global) `.gitconfig`:
[code]

That allows you to
[code]
(update to your liking the naming scheme) which is useful to at least checkout without having to add the remote. I haven't figured out how to push to a PR without setting a remote, but that helps.

It does that to me as well, I had to switch git:// to ssh:// (and --force if I rebase).

I would recommend tryi

[2017-02-22 15:59] ncoghlan commented on #129
I use git hosts other than GitHub, so I have no intention of adopting a GitHub specific client.

[2017-02-22 16:07] Carreau commented on #129
hub does work with non-github client, it just add commands that work only with github. But understandable.

[2017-02-23 00:49] ezio-melotti opened #130 "Preferred cloning URL"
So far I met a few different ways to get a clone:
[code]
AFAICT there is no difference between the first two but when I use those it asks me for user/password whenever I try to push something, whereas if I use the third way it doesn't.
Is there a preferred form that we should use in the devguide?  Are there other differences that should be noted?  Do contributors and core devs use the same URL?

[2017-02-23 02:41] ezio-melotti commented on #35
Is the goal having a link you can post on python-ideas to avoid redundant discussion?

Folks proposing additions to the stdlib usually want to solve the problem _the stdlib doesn't have X_, often overlooking all the additional problems that come with _adding X_.  Telling them "use Y instead" doesn't really solve their (perceived) problem, so I think it would be better to shift the focus on explain

[2017-02-23 03:08] ezio-melotti commented on #27
A bit late to the party, but just yesterday I was looking for faq.rst and then accidentally came across this issue.
I think removing it was a bad idea, and just by reading the diff I got answers to a few questions I had that are currently not covered in the devguide.

I also disagree with the rationale:
`It's not necessary as it was written for a time where we used version control systems that are

[2017-02-23 04:26] ncoghlan commented on #129
After comparison with my main CPython checkout, I found the right remote definition to enable updating contributor PRs:

[code]

And then a rebase of the PR on master looks like:
[code]

So given that, you can edit the PR as needed on the contributor's branch, push the updates back to their repo, and then accept the amended PR via squash & merge.

[2017-02-23 05:00] ncoghlan commented on #35
Yeah, it's mainly a matter of explaining that stdlib inclusion comes with significant downsides (such as the increased cognitive burden for future learners, that only being available in future versions creates high barriers to adoption, and that the stdlib imposes an inherently slow iteration cycle for adjusting the API in response to real world usage), and that in many cases using an add-on modul

[2017-02-23 05:12] ncoghlan commented on #130
The second form is the one GitHub offers for "Clone with HTTPS", while the last is the one it offers for "Clone with SSH", so I think it makes sense to stick with recommending those two and suggest:

- the HTTPS form for "read-only" clones
- the SSH form for "read-write" clones

The default recommended flow would then be:

1. Fork the cpython repo through the GitHub UI
2. Clone your fork:

[2017-02-23 05:21] Carreau commented on #129
If put in the dev guide, I would suggest `--force-with-lease` instead of `-f`, potentially `git config --global alias.pushf "push --force-with-lease"` once to avoid the long option. It force pushes only if remote have not changed in the meantime.

[2017-02-23 06:02] ncoghlan commented on #129
Oh, nice, I didn't know about `--force-with-lease`. I agree, that would be a much better option when rebasing a shared PR branch.

[2017-02-23 06:38] berkerpeksag commented on #130
Note that technically we don't have "read-write" clones anymore since we can't push directly to any branches on python/cpython. In any case, +1 for making the upstream (python/cpython)-origin (yourfork/cpython) model the default recommendation.

[2017-02-23 06:49] methane commented on #129
While I love rebase at my private branch  (no one other than me push to it),
I don't like using `-f` or `--force-with-lease` on branch shared by more than two people.
It may make trouble, and contributor may not git expert.

So if solving conflict is required, I prefer merge to rebase.
merge commit will be removed when "Squash and merge".

[2017-02-23 07:52] ncoghlan commented on #130
By read-write clones, I was referring to clones-of-your-fork, vs read-only clones of the primary repo.

[2017-02-23 07:55] ncoghlan commented on #129
That makes sense, and would make that part of the instructions just:

    git merge origin/master
    git push Ghost-script

With a note clarifying that the later squash & merge will remove the interim merge commit.

[2017-02-23 08:19] pfmoore commented on #130
Advantages of the https form:

1. It works better behind a proxy (corporate proxies often don't allow custom protocols like git).
2. You're using a consistent form for everything.

The https form prompts for a password each time, but you can set up a git credential manager to address that (Windows git comes with git credential manager as part of the install).

[2017-02-23 15:43] warsaw commented on #130
I like how GitLab recommends getting a local copy of a pull request (which they call merge requests).  They recommend using `git fetch` to grab the branch, then `git co -b <name> FETCH_HEAD` to check the branch out.  I just fine it more intuitive, and easier to rebase locally, etc.  Just FYI.

E.g. from a Mailman MR:

[code]

I usually substitute something shorter for the `-b` option, e.g. `-b iss

[2017-02-23 15:49] warsaw commented on #35
Are you proposing to include a curated list of third party modules that enhance or replace stdlib modules?  I think it would have to be curated, since there may be competing replacements.  Would projects like unittest2 and contextlib2 qualify?  What about aiosmtpd which is a much better (IMHO :) replacement for smtpd.py?

[2017-02-24 01:54] ezio-melotti opened #132 "Run `make check` automatically on PRs"
In #131 I documented that `make check` is automatically run for both the CPython docs and the devguide, however it appears that is only executed for python/cpython PRs.
It should be enabled for this repo as well.

[2017-02-24 02:09] #116 closed

[2017-02-24 08:15] lulouie opened #133 "Update Devguide about pull request commit documentation."
I think the documentation of pull request commit should be improved, the current version with `3. Subitting` isn't that clear for people who were new to GitHub or Python CPython development process.

[2017-02-24 08:53] ezio-melotti commented on #133
This is a duplicate of #103, but since you have a PR I'll leave it open.

The PR looks good -- I'm going to review it in detail and merge it tomorrow.

[2017-02-24 21:14] brettcannon commented on #27
I think the general feeling has been that instead of a FAQ we should have a doc(s) that cover scenarios and include the appropriate instructions. So that would mean if you were looking for something and it wasn't in the relevant doc that covered that scenario then that doc needs an update instead of a random entry in an FAQ.

[2017-02-24 23:01] brettcannon commented on #9
@louisrawlins the link you provided didn't seem to work and in the various wiki pages I couldn't find the word "textbox" so I don't know the context of the text you would like more info about.

[2017-02-24 23:04] brettcannon commented on #32
Depends on how easy it is for that question to becomes outdated in the future. If it's easy then listing the individual steps would be good, but if the answer is stable then linking to it should suffice.

[2017-02-24 23:28] louisrawlins commented on #9
Hi Brett. Shoot, sorry about that. I've updated my comment to clarify. My
question about "textbox" was intended for Carol, but if you have input,
please let me know.

On Fri, Feb 24, 2017 at 3:01 PM, Brett Cannon <notifications@github.com>
wrote:

[2017-02-24 23:32] brettcannon commented on #120
The other option for managing this is to create a project and add the appropriate PRs and issues as they come up, but checkboxes were already added so that's obviously the simplest. 😄

[2017-02-24 23:35] #132 closed

[2017-02-25 02:54] ezio-melotti commented on #35
If the list needs to be curated and maintained, it should probably go to the wiki.  Mentioning projects like unittest2 and contextlib2 is a good idea, but it's enough to provide a couple of examples to show that such projects exist -- people can then go look for what they need themselves.

[2017-02-25 05:18] ncoghlan commented on #35
I'm looking for something a bit more authoritative than that - a way for stdlib maintainers to say "If we say no, consider proposing your idea over here instead".

A list on the wiki doesn't provide that to the same degree, since it's then collectively maintained by the community without a defined review and approval process, rather than specifically by the stdlib maintainers. With the devguide on

[2017-02-25 08:43] grapherd opened #136 "Add a chapter for introducing common function / class' corresponding source file"
Maybe we can add a chapter for common function/class corresponding source file.

For example:
[code]

I'm pretty sure this information is very important for who what to contribute, but not familiar to cpython code base. (For example, where does str `stringobject.c` goes in 3.7...?)

[2017-02-25 09:52] ncoghlan commented on #136
We currently have the "Directory Structure" subsection in the Getting Started chapter: https://docs.python.org/devguide/setup.html#directory-structure

However, I agree it would make sense to have an expanded "Navigating the code base" chapter (perhaps `structure.rst`?) that explains things like:

- for Python modules, the typical layout is:
    - `Lib/<module>.py`
    - `Modules/_<module>module.c

[2017-02-25 09:54] ncoghlan commented on #136
To be clear, I think given this new section, the existing Directory Structure subsection in Getting Started would be replaced by a suitable cross-reference, but not eliminated entirely.

[2017-02-25 15:23] willingc commented on #130
2. Clone your fork. Choose one of the following:

    SSH (when you have an SSH key set up for GitHub)
[code]

    HTTPS (when you do not have an SSH key set up or you are behind a proxy)
[code]

[2017-02-25 18:23] terryjreedy commented on #136
Those 'typical layouts' would have been helpful when I started and even now are a bit helpful.  Are the exceptions just not changed yet, or intentionally left for easier backporting to 2.7?  In the latter case, will we rename in 2020?

[2017-02-25 22:41] warsaw commented on #35
On Feb 24, 2017, at 09:18 PM, Nick Coghlan wrote:

+1

[2017-02-26 03:19] ncoghlan commented on #136
As far as I know it was a combination of:

1. Making it easier to share bug fixes between 2.7 and 3.x
2. As a general rule, it's worth avoiding refactoring your regression tests without a really compelling reason (as that's a good way to inadvertently disable or lose a test and subsequently let regressions slip through)

That said, in 2020+ after the first half of the rationale goes away, "make th

[2017-03-01 20:24] #122 closed

[2017-03-02 09:21] ezio-melotti commented on #27
This works for me as long as the commands are documented and easy to find.  You could argue that each scenario answer a specific question though :)

[2017-03-07 09:15] marienz opened #142 "Explain how to fill out the CLA"
Before contributing to Python, I searched the developer guide (https://docs.python.org/devguide/) for "CLA", to make sure I would not have to file one. The string "CLA" does not appear on that page, and there was no reference to having to sign something in the quickstart section, so I assumed there was no need.

When I actually sent my pull request, I received a github message claiming signing the

[2017-03-07 10:05] marienz commented on #142
Ah, and I just found https://docs.python.org/devguide/pullrequest.html#licensing, which is probably what I should have found to begin with. That one says I need to sign the CLA "for non-trivial changes".

[2017-03-07 18:17] DimitrisJim commented on #142
I thought the-knights-who-say-ni would've included that url in the text reply it leaves. It might be worth to add it there.

[2017-03-07 18:23] brettcannon commented on #142
Technically we can skip the CLA signing for any changes where we can't be sued over patents or copyrights.  The problem is that's not exactly well-defined, so the bot automatically just says "sign the CLA" rather than try and explain the nuance of the situation in a single GitHub comment. (Ultimately it's up to Python core developers to make a call as to whether to ignore when someone doesn't sign

[2017-03-07 18:55] DimitrisJim commented on #142
Linking to the devguide would probably be better, both the `NO_CLA_BODY` and `NO_USERNAME_BODY` sections of the reply could be greatly simplified.

I'll open a new issue to discuss this.

[2017-03-07 19:11] brettcannon commented on #142
I've hijacked this issue since it all ties together about when to fill out the CLA (always), and how.

[2017-03-07 19:30] DimitrisJim commented on #142
The Licensing section of `pullrequest` seems like the best place for this. It should also be positioned before the changes proposed in #140 so users can first deal with the licencing before the actual submission.

[2017-03-08 08:25] marienz commented on #142
As currently written, the [quick start guide](https://docs.python.org/devguide/index.html) does not reference licensing requirements or link to `pullrequest` before telling the contributor to "Push the branch on your fork on GitHub". I think it should, for two main reasons:

* Getting the CLA signature processed can take a while. It's nice for the contributor to get it out of the way early, in par

[2017-03-08 13:43] willingc commented on #142
One way to concisely and effectively address the CLA in the quickstart would be to add one sentence at the end of Step 7:

First time contributors will need to sign the Contributor Licensing Agreement (CLA) as described in the [Licensing](https://docs.python.org/devguide/pullrequest.html#licensing) section of this guide.

[2017-03-13 18:54] willingc opened #145 "Add references to opensource.guide resources"
A number of individuals from the Python community (including @brettcannon) have contributed to a series of excellent guides at opensource.guide.

Two guides, in particular, should be referenced in the devguide as useful resources for core devs and contributors:

- [How to contribute to open source](https://opensource.guide/how-to-contribute/)
- [Building Welcoming Communities](https://opensource.g

[2017-03-14 19:32] #145 closed

[2017-03-14 21:00] willingc commented on #145
Thanks @Mariatta :sunflower:

[2017-03-15 10:13] DimitrisJim commented on #142
If someone is working on this, please tell me. If not, I'll try and make a PR in the following days.

[2017-03-16 05:59] #125 closed

[2017-03-17 17:10] Mariatta commented on #129
Must admit I don't know how to properly edit other people's code too, and I know I'm not the only one.
Can anyone who has done this successfully, write it up in the devguide? Please? Thanks :)

[2017-03-17 17:59] #126 closed

[2017-03-18 04:56] ncoghlan commented on #129
Ah, you just reminded me I promised @nayafia a write-up of the specifics of the documentation problem here, so I should be able to tackle both of those at the same time.

[2017-03-18 08:17] ncoghlan commented on #129
PR submitted here: https://github.com/python/devguide/pull/150

I think the main requirement before merging that is for someone else (@Mariatta?) to actually try them out and confirm that I didn't miss anything when transcribing the steps I took to edit https://github.com/python/cpython/pull/171

I used merging in master as an example of a change to make, since it came up above, and let me gloss o

[2017-03-18 21:56] Mariatta commented on #129
Nice! Thanks :)

[2017-03-19 08:54] ncoghlan commented on #129
@Mariatta suggested attempting to define a git alias for this (akin to the git PR one) in order to avoid having to write out the following 3 commands every time:

    $ git remote add <contributor> git@github.com:<contributor>/cpython.git
    $ git fetch <contributor>
    $ git checkout -b <branch_name> --track <contributor>/<branch_name>

@zware pointed out that given a suitable "push" command, i

[2017-03-21 17:47] eamanu opened #152 "Translate docs to others language"
I am working to translate the devguide's Python to Spanish.

Do yo think that it is important?

[2017-03-21 18:35] brettcannon commented on #152
While I appreciate the thought, @eamanu , I don't think it is important since all communication around the development of Python takes place in English. That means while it might be easier for someone to get started if the doc is in Spanish, someone who doesn't feel comfortable reading English is going to hit a wall very quickly when they try to participate.

[2017-03-21 18:49] eamanu commented on #152
That's right  @brettcannon. You let me a good reason.

Regards!

[2017-03-21 18:50] #152 closed

[2017-03-22 06:07] Mariatta commented on #129
I was able to edit @ncoghlan PR #150 by following the steps mentioned there 🎉

I updated the instructions to recommend using `git pr` alias, but did not create ``git pr-amend`` alias.

[2017-03-22 07:12] ncoghlan commented on #129
I merged the PR with @Mariatta's edits, so closing this - if folks are using this enough to want a git alias, the instructions for creating the `pr` alias are already there, and adapting them should be relatively straightforward.

[2017-03-22 07:12] #129 closed

[2017-03-27 00:42] DimitrisJim commented on #142
@marienz if you can, take a look at the submitted PR and tell me if you think it addressed your concerns.
We can then close this issue :-)

[2017-03-27 12:15] marienz commented on #142
Thanks, that completely addresses the concerns I had when opening this issue.

The "committing" section of the dev guide still says "It’s unlikely bug fixes will require a Contributor Licensing Agreement unless they touch a *lot* of code". I suspect that's not quite right, but with the PR you submitted new contributors are unlikely to stumble across that section.

[2017-03-27 19:56] #142 closed

[2017-03-27 20:15] brettcannon commented on #142
@marienz that wording got tweaked to be stronger so that takes care of everything!

[2017-04-06 17:00] strugee opened #156 "CPython contribution docs reference missing /issuetracker page"
https://cpython-devguide.readthedocs.io/pullrequest.html#licensing (and presumably other pages in this project) references https://cpython-devguide.readthedocs.io/issuetracker, but this page returns 404 Not Found.

(Moved from https://bugs.python.org/issue30001)

[2017-04-06 18:12] Mariatta commented on #156
Thanks for the report @strugee
A new contributor is currently working on this issue, so I'm assigning this to myself to not duplicate anyone's effort.

[2017-04-06 18:23] #156 closed

[2017-04-06 23:29] strugee commented on #156
@Mariatta that's phenomenal! Yay for more contributors :tada:

[2017-04-10 17:11] #136 closed

[2017-04-10 19:36] Mariatta opened #159 "Mention that PR author should not squash their commits"
Sometimes it's useful for the reviewers to see the changes from one commit to another to verify that the previous comments have been addressed.
I think we can add this in pullrequest.rst

[2017-04-10 19:59] orsenthil commented on #159
+1.

[2017-04-10 23:35] brettcannon opened #161 "Document when it's okay to dismiss another core dev's review"
If a core dev requests changes, when it is okay to dismiss that request? Discussion in python/core-workflow#36 and the reached conclusion that we should probably document.

[2017-04-11 02:31] Thtboi420 commented on #161
Sent using Zoho Mail

---- On Mon, 10 Apr 2017 16:36:01 -0700 notifications@github.com wrote ----

If a core dev requests changes, when it is okay to dismiss that request? Discussion in python/core-workflow#36 and the reached conclusion that we should probably document.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the

[2017-04-12 20:46] #159 closed

[2017-04-12 21:57] #103 closed

[2017-04-13 20:14] Mariatta opened #163 "Always provide a reason when reverting a commit"
Related to https://github.com/python/core-workflow/issues/72

Perhaps this should be added in committing.rst.

When reverting a commit, we should always add a "Reason: " field in the commit message.

[2017-04-13 20:17] Mariatta opened #164 "Remove/Update the paragraph about Squashing Commits in Committing.rst"
Since squashing is done via GitHub UI, this section is not needed.
http://cpython-devguide.readthedocs.io/committing.html#squashing-commits

It might give the impression that we expect contributors to squash their commits when submitting a PR.

[2017-04-14 09:46] #164 closed

[2017-04-14 14:59] #163 closed

[2017-04-14 17:05] lulouie commented on #133
#140 Close this.

[2017-04-14 17:05] #133 closed

[2017-04-17 11:42] lulouie opened #168 "Add how to pull (checkout) a PR locally at "3.4.1. How to Review a Pull Request""
After reading this chapter, I think it should adding instruction how to checkout PR locally.

The GitHub instruction is here: [Checking out pull requests locally](https://help.github.com/articles/checking-out-pull-requests-locally/)

[2017-04-17 11:52] Mariatta commented on #168
Thanks :) We have it written here.
https://docs.python.org/devguide/gitbootcamp.html#downloading-other-s-patches

[2017-04-17 11:52] #168 closed

[2017-04-17 12:13] lulouie commented on #168
@Mariatta Thanks for the note, I made another PR for adding reference to this at `pullrequest.rst`

[2017-04-17 12:19] lulouie commented on #32
I just encounter the same problem today on `17.04`, and the error says that must update `source.list`. And resolve by manually install all dependency files. (the method list here isn't quite easy to found at Internet...)

[2017-04-17 12:59] lulouie opened #170 "Who is BCP at developers.rst"
Found that the latest permission dropped on request was remove by `BCP`.

But can't found BCP abbr. to the person name. I assume is `Benjamin Peterson` (who commit the document)?

[2017-04-17 13:27] orsenthil commented on #170
@lulouie  - that is correct.

[2017-04-17 13:27] #170 closed

[2017-04-17 13:35] orsenthil commented on #170
Addressed this in https://github.com/python/devguide/pull/171

[2017-04-17 14:47] willingc opened #172 "Add PDF build"
We currently have an HTML zip that is downloadable from ReadTheDocs. It would be helpful to also build and offer a PDF for download. Possibly epub too.

[2017-04-17 15:10] lulouie commented on #172
For epub, it can generate by `make epub`; for pdf, there is a `rst2pdf` package can use.

On ReadTheDocs, `advance` setting can both enable pdf and epub to build and download.

[2017-04-17 16:15] berkerpeksag commented on #172
What's the use case? Most of the devguide requires a computer and a python/cpython checkout to follow its content. I don't think it's suitable for a morning read on an ebook reader :) I'd prefer avoid using more RtD resources.

[2017-04-17 18:52] willingc commented on #172
Some of us periodically download PDF and ebooks to use as a reference, especially when off-line or in areas with poor internet access. It's a simple addition that requires very little effort or resource. @berkerpeksag It could also help those with insomnia ;-)

[2017-04-17 19:10] brettcannon commented on #172
I initially turned it off as I wasn't sure if anyone was going to want them, but now that we have a request I have ticked the boxes for PDF and epub.

[2017-04-17 19:10] #172 closed

[2017-04-17 19:12] willingc commented on #172
Thanks @brettcannon 👍

[2017-04-21 04:40] Mariatta opened #173 "Update the section about backporting changes"
The section:
http://cpython-devguide.readthedocs.io/committing.html?highlight=backport#backporting-changes-to-python-3-6-or-older-version
has instructions on how to apply a patch to master, which is not desirable in the current workflow. We should be working on branches other than master.

I think this should be updated somehow. Maybe also consider merging it with the next section http://cpython-d

[2017-04-21 18:29] DimitrisJim opened #174 "Clarify position on spaces after sentence ending period"
I've seen this a couple of times when a review for doc changes is done: a user forgets to add two spaces after a period and a comment urging him to do so is made. Problem is, the section on writing docs doesn't really state a preference for this in any way:

Since, it seems to me, the double space after the period is strongly preferred, should the text above be changed to state this preference or,

[2017-04-22 04:00] willingc commented on #174
Hmm... Current documentation best practices typically recommend one space after a period. As for CPython style, I would hope that we are flexible on one or two spaces for reST.

[2017-04-22 06:27] ncoghlan commented on #173
I'd suggest updating it to show using `git log -10 --oneline` to get a list of the recent commit hashes and the first line of their commit messages.

[2017-04-24 12:20] #161 closed

[2017-04-25 17:31] #173 closed

[2017-04-25 18:18] #32 closed

[2017-04-26 17:42] brettcannon commented on #174
I personally prefer one space, but I don't think we have ever really enforced that (I honestly had never seen a comment about it until our move to GitHub; maybe GitHub just makes it more obvious in their UI compared to Rietveld?). I'm afraid this is  going to require more of a python-dev discussion to decide if we actually care to enforce anything or just let people do what they want.

[2017-04-26 17:44] brettcannon commented on #107
Another thing we may want to do is emphasize people should focus on low-hanging fruit when it comes to coverage instead of trying to get every hard-to-reach corner of a module. They should also not initially worry about code not covered by the requisite test module -- e.g. importlib only being tested by test_importlib -- and instead worry about testing as a whole from the entire CPython test suite

[2017-04-27 03:41] terryjreedy commented on #174
I am old enough to have been taught 2 spaces after sentence ending . when typing.  It is an old habit, and I probably prefer the look of 2 in raw source like this.  But I can deal with either. StackOverflow is forgiving and displays the same space in formatted text with either 1 or 2 spaces.  I think we should be too.  If there is a real concern, someone should write a commit hook that will standa

[2017-04-27 07:55] pfmoore commented on #174
I was taught 2 spaces *for text that was to be displayed monospaced, e.g., on a typewriter*. For formatted text, I believe that TeX might have handled two spaces in input differently from 1 space, but that's the only case I'm even remotely aware of. And I think Emacs (and maybe Vim) react differently to double spaces. But that's a matter for how users configure their tools. Formatted versions of t

[2017-04-27 16:03] DimitrisJim opened #181 "A couple of issues with compiler.rst"
There's a couple of issues I've found, I'm creating this issue to see if some of them were intentional.

I'm not sure if the following were intentional or not:

 - Many of the functions and filenames aren't highlighted in any way. This fact leads to, at least in my opinion, harder to read sentences. Backticks and `:file:` directives could be used.
 - The `C` snippet isn't highlighted with a `code-

[2017-04-27 16:07] DimitrisJim commented on #174
It seems there's no one advocating strict usage of two spaces so I guess the python-dev discussion might not be needed :-). I think it's a good idea to leave this issue open for a bit longer and then close it if no other opinions surface.

[2017-04-27 19:44] bitdancer commented on #174
restructured text is designed to be displayed monospaced when viewed as text (as opposed to when reformatted by some ReST consuming tool), which is why I believe the two space rule applies.  I don't care about it being made a requirement, as long as I can use two spaces in all the docs I edit.  But I do strongly prefer it.

[2017-04-27 23:47] csabella opened #182 "Adding FAQ or "Do's and Don'ts" type section"
I'm new to contributing and, as such, I don't always know when something has been discussed before or if there's a reason for something being the way it is.  If the devguide had a FAQ or 'open discussions' section or 'decisions made' section, then it would be a helpful resource.

For example, some documentation pages follow PEP-8 and PEP-257 (thanks, Terry) of using an active verb, but other pages

[2017-04-28 00:28] brettcannon commented on #182
The problem is that "you can come up with a lot more of these types of scenarios" 😉 . They are essentially endless, which is why we try to document everything once in a doc that thematically collects everything in one page. Otherwise we would end up with a FAQ full of odds-and-ends that don't get updated and is never quite good enough (we used to have a FAQ and we deleted it a couple of months ago

[2017-04-28 00:28] #182 closed

[2017-04-28 00:30] brettcannon commented on #181
All of the formatting issues are because I originally wrote that doc as an informational PEP before I wrote the original version of the devguide (which makes me realize how much I write 😅 ). So fixing the formatting of the page to utilize reST better is totally fine.

[2017-04-28 00:50] csabella commented on #182
Makes sense, thanks.  :-)

Is there a place in the devguide that mentions the preference for updating the action verbs on docs?  For example, the sqlite3 mixes styles, so when I made a change, I wasn't quite sure what to do.

[2017-04-28 20:34] brettcannon commented on #182
@csabella Probably https://cpython-devguide.readthedocs.io/documenting.html should mention it somehow.

[2017-04-30 05:26] ncoghlan opened #184 "Mention the "Green Tree Snakes" AST guide"
Via a link in the standard library's AST module docs, I just learned of https://greentreesnakes.readthedocs.io/en/latest/index.html

I think this would make an excellent addition to https://docs.python.org/devguide/exploring.html, and would probably be worth referencing from https://docs.python.org/devguide/compiler.html as well.

[2017-04-30 18:13] willingc commented on #184
I agree. @takluyver has developed quite a lot of cool Python things. This guide is a helpful one.

[2017-05-03 10:36] takluyver commented on #184
:smiley: thanks!

[2017-05-04 06:33] louisom opened #186 "Clarify how to review on GitHub"
the pull request review step is here: http://cpython-devguide.readthedocs.io/pullrequest.html#reviewing

But it didn't involve how to review on GitHub, maybe it should be update for how to review on GitHub (the step, and how to request change ...etc)

[2017-05-04 22:01] brettcannon commented on #186
If you're suggesting explaining how to use GitHub to leave a review, we are purposefully not doing that as we don't want to duplicate GitHub's own documentation on how to use the site.

If you're suggesting something else, @lulouie , I unfortunately don't know what it is.

[2017-05-04 22:25] terryjreedy commented on #186
The devguide could link, for instance, to  https://help.github.com/articles/reviewing-changes-in-pull-requests/.  The Help link at the bottom of Review pages is to the general index.  It took me a while to find this link.

[2017-05-04 22:28] brettcannon commented on #186
Yep, linking is fine and a good idea.

[2017-05-05 13:45] lulouie commented on #186
@brettcannon yes, a link will help others, since devguide didn't mention any step on GitHub, only local's.

[2017-05-05 13:55] DimitrisJim opened #187 "Add steps needed to run a basic performance test in benchmarks"
It would be a nice addition to the devguide if the benchmarks section of *runtests.rst* contained the minimal commands needed to run `pyperformance` for comparing the potential performance diffs introduced by a change a user performed. Usually when a performance issue arises, the result of `compare_to` is posted for others to examine.

Specifically, if possible, a small section of the form "how to

[2017-05-05 14:26] berkerpeksag commented on #186
IMO we shouldn't really add links to every single article on help.github.com. They can easily be found by using Google or the search feature of help.github.com. There is no need to clutter the devguide with every single and trivial details of Git and GitHub.

[2017-05-05 15:25] willingc commented on #186
I believe that this issue's goal is to assist core devs (or future core devs) how to use GitHub and git when doing a review. I imagine that whatever links are proposed in the PR for this issue will be ones that are helpful to achieve that goal.

[2017-05-05 16:30] berkerpeksag commented on #186
@willingc, I'm pretty sure that almost all of the core devs used a review tool before and they are capable of doing their own research when they need additional information. Please stop treating us like idiots.

Devguide is already full of duplicate content. Accepting every single issue/PR is not going to make it a better resource.

[2017-05-05 17:22] Mariatta commented on #186
I'm with @berkerpeksag on this. There is already a link to GitHub help page at every Github pull requests and issues.
I suggest, if we want to add any link at all, to refer people to GitHub help page, and if they need further help on how to use GitHub, go to that page first.
Maybe the link to GitHub help page can be added here: http://cpython-devguide.readthedocs.io/#contributing

[2017-05-05 17:47] willingc commented on #186
@berkerpeksag That comment is a bit harsh and out of bounds.

The devguide's purpose is to serve the developer community. Terry had requested information and @lulouie was trying to accommodate the request on the core mentorship list. Of course, there's a balance needed between too much and not enough information. I agree with @Mariatta that the link to the help page would be useful.

[2017-05-05 18:37] Mariatta commented on #186
Thanks @willingc and I'm really sorry for this.
To clarify, I agree with @berkerpeksag that we shouldn't be adding every single link to GitHub help page, not to the rude behavior and the use of harsh language.

Please remember that PSF Code of Conduct applies to core developers too.

I am thankful and welcome everyone's contribution, but we can't always accept every single idea or pull request tha

[2017-05-05 18:55] terryjreedy commented on #186
The link I suggested was carefully selected as *the* link to add to the reviewing section of the devguide.  It is an overview page that links to 7 specific pages.  It is enough for this issue.

It also has a link back up the TOC tree to https://help.github.com/categories/collaborating-with-issues-and-pull-requests/, which is a pure sub-TOC page.   This might be added the section on 'Life cycle of

[2017-05-05 19:04] berkerpeksag commented on #186
Well, I didn't know that CoC can be used as a weapon to intimidate someone who disagrees with you.

@willingc feel free to share your opinion on what would be useful for future core devs, but please keep core devs (or at least just me) out of it. I can find my own way without an assistance or I can ask for help when I needed.

[2017-05-05 20:13] willingc commented on #186
Thank you for the feedback. I can see that my thoughts and effort would be better spend on projects that need contributors.

[2017-05-05 21:49] brettcannon commented on #187
@haypo might have some ideas of what to say in the devguide as the author of python/performance. I can see the appeal of having very targeted instructions for the specific case of testing a change you are making (both robust verification and quick checking).

[2017-05-05 22:24] brettcannon commented on #186
OK, this issue has gotten out of hand. I have locked the issue to prevent others from contributing who have not already done so.

@berkerpeksag I think exception was taken with the phrase "Please stop treating us like idiots" because in North America that's taken as an insult. As for @Mariatta mentioning the CoC, it was to act as a reminder that us core devs have to be attentive to how we phrase t

[2017-05-05 23:43] willingc commented on #186
Thanks @brettcannon.

I'm sorry too. I can write this particular issue off as a common misunderstanding of words or intent. If anyone felt any ill will by me, I am sorry about that.

My intent was simply to point out that it's good to have empathy for all users of the devguide whether or not the user is a core dev or new contributor. While I can see how core devs might think that specific directio

[2017-05-06 00:29] brettcannon opened #189 "Simplify the index page by audience"
The index page has become rather long and is starting to feel like a wall of text. It should probably be clearly separated into 3 sections:

1. New contributors
   a. New to open source (e.g. needs help to build Python)
   b. Just new to the project (i.e. just needs to know how the project does things
2. Core devs
3. Appendix

Once we do this I think it will help show redundancies that have accumu

[2017-05-06 00:30] brettcannon commented on #186
@willingc I have opened #189 to clean up the index page in hopes that will clearly separate the audiences. That should also help show us any redundancies we have to help prune down the information to make the overall guide more manageable.

[2017-05-06 04:02] ncoghlan commented on #189
I think the core dev section may also need to be split, although I'm not sure what the two sub-audiences should be called. The way I think of them:

* Professional software developer: your day job specifically involves writing software to meet the needs of someone other than yourself. As part of that work, you're already familiar with automated testing, reviewing code changes, discussing design tr

[2017-05-06 06:45] terryjreedy commented on #189
Thank you for identifying the two groups and suggesting that the second group, which includes me, should not necessarily by empty.

[2017-05-06 08:04] pfmoore commented on #189
Agreed - I'd put myself in the second group too. Even though I'm technically a developer, in practical terms the processes used in my line of work are so different from those used in open source that it may as well be a different profession. (Although I've worked enough in open source that the tools are familiar, the processes are most decidedly not).

I'd also point out that for group 2 we should

[2017-05-06 11:17] ncoghlan commented on #189
Attempting a more value-neutral description of the two categories:

* Procedurally aligned profession: the processes and practices you use in your day job are well-aligned with those used in the CPython project (for example, working for an open source redistributor, working as an independent contractor building open source based systems, or working for a large organisation with clearly defined pol

[2017-05-06 17:41] brettcannon commented on #189
IOW "software development as a job" and "software development for fun" 😉 .

[2017-05-07 01:13] brettcannon opened #191 "Clarify policy of personal branches"
https://cpython-devguide.readthedocs.io/committing.html#working-with-git says you shouldn't push personal branches to the cpython repo, which is accurate. But an exception should be mentioned for when you make a quick edit through the web UI, in which case the branch can exist for less than 24 hours.

[2017-05-07 02:25] ncoghlan commented on #189
Not quite, as folks in the second category may still develop software as their day job (just with radically different practices & processes - that was the case for me when I was at Boeing), while folks in the first category may still be participating in *CPython* development out of purely personal interest.

[2017-05-07 18:41] DimitrisJim commented on #184
I think it would make a nice addition too. Though, since I can't see in which table of `exploring.rst` it could be added, I think some restructuring of the tables might be needed first.

[2017-05-10 17:14] Mariatta opened #193 "Document how to apply patch from mercurial to git"
How I do it:

1. In the CPython mercurial repo, re-create the patch using --git parameter:
    hg diff --git > issueNNNN-git.patch

2. In the CPython git repo, create and switch to a new branch. Apply the patch into CPython git repository:
    git apply /path/to/issueNNNN-git.patch

3. Commit, push, and open the PR.

[2017-05-10 17:32] Mariatta commented on #193
I think this can go in committing.rst

[2017-05-10 17:39] DimitrisJim commented on #193
Wouldn't this be better in `gitdevs.rst` or `gitbootcamp.rst`?

[2017-05-10 17:55] Mariatta commented on #193
gitdevs.rst (Mercurial for git developers)  might go away, as proposed in https://github.com/python/devguide/issues/120

About adding it to gitbootcamp.rst, it's fine by me :)

[2017-05-10 18:59] brettcannon commented on #193
Does `patch -p1 < path/to/patch.diff` not work?

[2017-05-10 19:51] Mariatta commented on #193
If it works, let's use `patch -p1 < path/to/patch.diff`.
I'm traveling today and on my phone right now so I can't try it myself 😝

[2017-05-10 20:33] ezio-melotti commented on #193
Several patches on the tracker have already been created with `--git`, so for those, the 1st step is unnecessary.  `git apply` might also work with non-`--git` patches, but I haven't tested.
`patch` is generally not available on Windows.

[2017-05-10 21:09] terryjreedy commented on #193
I believe git patches do not work with Rietveld, so people have often been asked to resubmit.  In any case, the top of the file indicates format.
Program 'patch' does not come with Windows; don't know if it exists.

[2017-05-11 05:48] Mariatta commented on #193
Alright just got around trying out `patch`. It works on my Macbook.

If we want to document `patch` and mentioning it works for Mac & Unix only, the steps would be
1. In the CPython git repo, create and switch to a branch
2. `patch -p1 < /path/to/issueNNNN.patch`
3. commit, push and open the PR.

[2017-05-11 19:21] brettcannon opened #194 "Promote helping with reviews more"
This might fall out as part of #189 , but as of right now all of the highly promoted activities for people to contribute by are (in order of the index):

1. Docs
2. Test coverage
3. Silence warnings
4. Fixing issues from buildbots
5. Fixing "easy" issues
6. Triaging issues

There is no mention of helping to review PRs. And idea 6 for helping triage issues is at the end. Unfortunately triaging issu

[2017-05-11 23:54] Mariatta opened #195 "Explain requirements to convert someone else's patch on b.p.o to a PR"
There's a note [here](http://cpython-devguide.readthedocs.io/pullrequest.html#quick-guide-step-by-step) that says:
`You can still upload a patch to bugs.python.org, but the new pull request workflow is preferred.`

While patches can still be uploaded to b.p.o, in the end we still ask people to create a PR based on that patch anyway. Maybe this note should be removed?

[2017-05-12 01:31] brettcannon commented on #195
We ask, but people can still say "no" so I think the comment is fine and should stay as we technically can still accept patches the old-fashioned way (which core devs bother with them is another question). It could be made stronger, though, by saying the new workflow "is **strongly** preferred".

[2017-05-12 03:17] terryjreedy commented on #194
One cannot edit headers right away, but one can evaluate issues and leave comments right away.  1. Is issue bug or enhancement? 2. If bug, present on current release or different OS or system?* 3. If enhancement, is it useful?  Is function already present?  That is how I started and would advise others to start.

* Some issues really need testing on multiple systems, and this is something most peo

[2017-05-12 04:20] ncoghlan commented on #195
We don't want to make a GitHub account mandatory for contributions, so "post a patch to the issue tracker and ask someone else to submit it as a PR" is still a supported option.

The note should probably state that, and also request that when this is the case, folks explicitly grant permission on the issue tracker for others to take their patch and turn it into a PR - otherwise it's likely to ling

[2017-05-12 04:53] Mariatta commented on #195
So what's the 'rule' about signing CLA when someone submitted a patch on the bug tracker, and later asked another person to prepare the PR? Both need to sign the CLA? Or just the original author?
Thanks.

[2017-05-12 05:07] lulouie commented on #195
Here is a similar situation to @Mariatta describe: In [msg293523](http://bugs.python.org/issue30181#msg293523) Ben says that he/she will not using GitHub because of GitHub's ToS. And brainmay ship his patch from b.p.o to GitHub [here](https://github.com/python/cpython/pull/1505), which GitHub consider is a signed-off work (there is two icon above commit history).

[2017-05-12 05:26] DimitrisJim commented on #195
My guess would be they both sign the CLA, that seems like the safest and least complicating route.

[2017-05-12 06:36] ncoghlan commented on #195
Copyright (if any) would accrue to the original patch author, so the main requirement would be for them to have signed it.

However, my guess is that anyone keen enough to be transcribing other people's patches into PRs will also have signed the CLA, so a "both should have signed it" requirement is likely to be effectively the same in practice.

[2017-05-12 16:14] brettcannon commented on #195
The trick with this is the provenance of the code is a mess to track. In the case of python/cpython#30181 it's gotten complicated as @brianmay was nice enough to make sure that Ben Finney got attribution, but then Ben hasn't tied his GitHub account to bugs.python.org and so the CLA bot is saying the code is covered by the CLA (if someone inspects the email then it might match up, but then again th

[2017-05-12 18:43] brettcannon commented on #194
@terryjreedy hopefully that's covered by https://cpython-devguide.readthedocs.io/tracker.html#helptriage (which should probably be merged with https://cpython-devguide.readthedocs.io/triaging.html with a clear separation of what anyone can do and what people with Contirbutor privileges can do).

[2017-05-12 20:04] terryjreedy commented on #195
The 'confusion' urls are https://bugs.python.org/issue30181 and
https://github.com/python/cpython/pull/1505.  The unique messiness is due to someone both 'rejecting' git and using git instead of the tracker to submit PR changes.

Attributions have always been messy because a) commits to the repository typically have multiple authors and b) only a few authors can commit, and c) as far as SVN and Hg

[2017-05-13 00:21] brettcannon commented on #195
My "staying on bpo" comment is the idea that only core developers convert patches on bugs.python.org into PRs so we can more clearly track where the code originated from as I inherently trust core devs to know where the code they commit came from versus someone else who has not signed the CLA (this is obviously different than the specific case we're talking about at this point).

[2017-05-13 05:23] terryjreedy commented on #195
So on point 3, I was agreeing without knowing it.  The impetus for my comments was https://bugs.python.org/issue21261, with uploaded issue21261.patch by Eduardo Seabra, and https://github.com/python/cpython/pull/1511, by Louie Lu.  The initial commit in the PR,  de42b33,  is a lightly edited version of Eduardo's patch with no credit to the latter.  Since it fails all three of my points, I may clos

[2017-05-13 05:42] lulouie commented on #195
So if there have an attached patch on the issue, what kind of edit from this patch should be considered as *lightly* edit or *not lightly* edit?

For hypothesis, if someone didn't open or look at the patch on b.p.o, and then sent PR to GitHub which has only slightly different between patch on b.p.o, should it consider as a shipment of the original patch to GitHub?

[2017-05-13 06:06] Mariatta commented on #195
Thanks everyone. Sorry if this question becomes more complicated.
I'm fine with mentioning that GitHub PR is **strongly** preferred in the docs for now.

It seems like we need to clarify and document the workflow of handling b.p.o patches that are not our own, but it's a separate issue from this. I'll ask at core-workflow for further clarification of exactly what the workflow is, and then we can w

[2017-05-13 06:20] terryjreedy commented on #195
@Mariatta  We find complications by experience ;-).  We definitely need another issue.

@lulouie  Any edit is at least a light edit, and I believe that the initial change to a fresh new branch should be the application of the downloaded patch, followed immediately by a commit with credit in the commit message (see my previous message).  There should be no difference in the code, only in the header

[2017-05-15 17:31] kirbyfan64 commented on #193
FWIW there's also Mozilla's [hg-patch-to-git-patch](https://github.com/mozilla/moz-git-tools/blob/master/hg-patch-to-git-patch), with which the entire workflow can be shortened to:

[code]

[2017-05-15 19:36] berkerpeksag opened #199 "Improve "Commit Messages" section in committing.rst"
It would be great if we could tweak the section at http://cpython-devguide.readthedocs.io/committing.html#commit-messages a bit. For example,

1. It doesn't include `(GH-NNNN)` suffix in the first line:
[code]
2. It doesn't mention about stripping unnecessary parts when doing the merge (see https://github.com/python/cpython/commit/6924ed55c9807d69757e03bbe1caeec1104efacb for example)
3. It doesn't

[2017-05-15 21:35] Mariatta commented on #199
Sounds good.

Some comments:

It's briefly mentioned in [here](http://cpython-devguide.readthedocs.io/gitbootcamp.html#accepting-and-merging-a-pull-request), but I think makes more sense now to move this into **Committing** section.

I'm inclined to keep the [X.Y] in the commit message, only because cherry_picker.py is doing this by default. I also understand that not everyone uses it, and also ch

[2017-05-16 09:11] tomkooij opened #200 "git bootcamp: `git pr` alias needs documentation"
In the `git bootcamp` section `Downloading Other's patches` there is a git alias for easy checkout of a github PR:

 `git pr $1`  [Link to gitbootcamp.rst](https://github.com/python/devguide/blame/master/gitbootcamp.rst#L220)

Issue: This alias uses the github `refs/pull/` refspec. This refspec refers to the **pull request number**, not the repo/branch name.

This is what the alias does, when chec

[2017-05-16 09:18] tomkooij commented on #200
Mmmmh... Reading this again. This seems clear enough. Let's not bother.

[2017-05-16 09:18] #200 closed

[2017-05-18 15:53] Mariatta commented on #105
@tiran if you're not working on this, can I unassign you and add help-wanted label instead?
Perhaps we can find a new contributor at the sprint to work on this issue :)

[2017-05-18 16:07] Mariatta opened #202 "Mention core-workflow mailing list / repo"
It should worth mentioning in the devguide somewhere that there's core-workflow mailing list and core-workflow repo.

[2017-05-18 18:55] terryjreedy commented on #105
For me, this is the most needed addition to the devguide.

[2017-05-18 19:25] terryjreedy commented on #105
There are two versions above of how to set shares (worktrees) for 3.6, 3.5, 2.7.  Equivalent?  I presume that if I want to test a 3.6 backport, I cd into ../3.6 and do the same PR fetch into a new branch as I currently do in cpython.  What is not completely clear to me is how to efficiently update multiple repositories, with one fetch from remote.  This was easy with hg.

One hg-git difference see

[2017-05-18 19:29] terryjreedy commented on #105
@Mariatta , see Tiran's Feb 16 message (it said, in effect, 'yes').

[2017-05-18 19:32] pfmoore commented on #105
@terryjreedy There's a ```-C``` option for git that's similar to hg's ```-R```

[2017-05-18 21:19] terryjreedy commented on #105
Thank you.  By experimenting, I discovered that 'git help git' opens the local git.html man(1) page that both lists and explains the git options that go before specific subcommands.  "-C <path>:   Run as if git was started in <path> instead of the current working directory."

[2017-05-18 22:05] brettcannon commented on #195
I talked with our lawyer and he said that as long as the long submitter to GitHub has signed the CLA and we verify at least on bugs.python.org that the original creator of the patch signed the CLA then we're fine (we don't have to do any crazy code checking, just make sure everyone has signed the CLA who has participated and may have written code).

[2017-05-19 04:10] Mariatta commented on #105
Ah I didn't see that 😅 Thanks @terryjreedy 😃

[2017-05-19 10:28] ncoghlan commented on #202
New entries in https://docs.python.org/devguide/communication.html would probably make sense for that. That page is also likely a reasonable place to list "Additional Repositories" (for core-workflow, the benchmark suite, and probably the issue tracker).

[2017-05-20 04:10] Mariatta commented on #195
Thanks for looking into this @brettcannon

So in conclusion, these are what need to be documented:
- preferably patch author should submit their own PR
- if patch author is unresponsive or is unable to do that, another contributor can submit the PR (so it's not limited to core devs)
- both patch author and PR submitter should sign the CLA.

[2017-05-23 01:15] brettcannon commented on #195
@Mariatta yep, that sounds right!

[2017-05-23 18:07] brettcannon commented on #199
I took a small poll here at the PyCon US sprints and basically everyone uniformly said "keep the branch label" and "don't care about the listed PRs", so basically just keep the title intact compared to what we have people specify for PRs currently.

[2017-05-23 23:27] matrixise opened #208 "python or python3 in the documentation"
Hi,

Sometimes, I can read `python` or `python3` in the documentation and in the devguide.
Maybe we could take a decision and indicate which term we should use for the documentation.

For me, just my humble opinion, we should use python, because:
* `python` is the name of the binary when we compile Python
* name of the executable when we use a `venv`
* starts to become the default name of Python 3

[2017-05-24 06:44] ncoghlan commented on #208
I agree with the conclusion, but not entirely with the rationale. As per https://www.python.org/dev/peps/pep-0394/ an unqualified "python" still refers to the system Python 2 installation in most Linux installations.

What's changed is that folks are being more strongly encouraged to *not use* the system Python installation directly unless they're specifically scripting the operating system, or wo

[2017-05-24 12:55] terryjreedy commented on #208
On Windows, there is only 'python', so use of 'python3' would have to be qualified.

[2017-05-24 12:57] matrixise commented on #208
@terryjreedy just updated the description of my issue with `python.exe` on Windows

[2017-05-24 13:04] matrixise commented on #208
@ncoghlan thanks for your explanation

on cpython/master, about `python -m`, we have 43 references and for `python3 -m` , only 7.
on devguide/master, `python -m` -> 7 references, `python3 -m` -> 0 references.

in this case, we could change the 7 references of `python3 -m` in cpython/master.

do you agree?

[2017-05-24 13:17] matrixise commented on #193
+1 for `git apply`.
in the past, I used `patch` with the patches from `hg.python.org` when I wanted to patch my working directory for a test and sometimes, I got an error.
Since I use `git apply`, it's really rare when I have an issue.

About `hg-patch-to-git-patch` maybe we could use it if we create a copy in the `tools` directory of CPython just for the maintenance, because if Mozilla stops the

[2017-05-24 13:22] terryjreedy commented on #208
Do you not like the situation  on Windows?  There is no system python (too bad, in a way).  A single version can be run with 'py'.   Multiple versions are run with 'py -2', 'py -3', with 'py' then defaulting to 'py -3'.

[2017-05-24 13:25] matrixise commented on #208
@terryjreedy I don't use Python on Windows and Windows and in this case, your feedback is important. I just want to find a good solution for this issue with `python` or `python3` in the documentation.

[2017-05-24 13:56] terryjreedy commented on #208
I was implying that general docs should use 'python' consistently.  At some place, say that we are using 'python' generically, and that 'python' may be replaced by OS-specific terms, as given in OS sections of Python Setup and Usage.  (There may even by distribution specifics.) Have system experts check that specifics and recommendations are up to date.  (For instance, Windows 'py' once defaulted

[2017-05-24 15:47] warsaw commented on #208
It's also true on the Linux distros that /usr/bin has the more qualified `python3.5` or `python3.6` binaries too, and those are sometimes the preferred way of invoking scripts.

Several concepts have long been conflated, so it may be worth teasing them out.  There are the shebang lines (on *nix) which for system scripts should point to a system Python, but for user scripts would point to a "user P

[2017-05-24 15:57] pfmoore commented on #208
I agree, the docs should consistently use ```python```. Operating systems and users may have different details, but in the abstract the Python interpreter is started using the ```python``` command. Operating system specific documentation (and/or "Python Setup and Usage") can provide the details, but the convention outside of those documents should be to use ```python```.

The Windows section of "P

[2017-05-25 04:20] ncoghlan commented on #208
https://docs.python.org/3/installing/#installing-into-the-system-python-on-linux should continue to use `python3` in the appropriate location, but other than that I'd expected us to be using the generic `python`.

[2017-05-26 02:58] ncoghlan opened #211 "Document ctypes support policy (or rather, the lack thereof)"
In writing https://bugs.python.org/issue30478#msg294528, I went looking in the `ctypes` docs to see if there was a note saying that it's relatively trivial to trigger segfaults with that module, so if you get a crash when using it, our default assumption is going to be that the bug is in how ctypes is being used, rather than being in ctypes itself.

However, I didn't see any such note, and I don't

[2017-05-26 18:38] Mariatta commented on #7
Maybe this can be closed in favor of https://github.com/python/devinabox/issues/12 ?

[2017-05-27 04:45] ncoghlan commented on #7
Even if the details are delegated to the devinabox documentation, it would still make sense to have section about it in the developer guide.

However, that section could be smaller, perhaps just a subparagraph in "Communications" that primarily covers effective sprint *participation* (and expectation setting), and then points to the `devinabox` documentation for guidance on *running* a CPython foc

[2017-05-27 19:18] brettcannon commented on #7
I'm also fine with simply closing devinabox and moving the relevant documentation here. It started out as a separate repo because there were more helper scripts in the past, but they have slowly been pared down and so it's basically just a big README now. 😄

[2017-05-27 20:12] willingc commented on #7
@brettcannon How would you feel about using devinabox repo to contain docs that could be used by a sprint organizer to create a static site (from their fork) that could be customized for the same event?

We did something similar for OpenHatch's Open Source Comes to Campus events as does Django Girls. Here's a rough repo that we used each year for Grace Hopper's Open Source Day (https://github.com/

[2017-05-27 21:48] brettcannon commented on #7
@willingc SGTM

[2017-05-28 04:21] ncoghlan commented on #7
Software Carpentry also use that "Copy-and-customise" model for their bootcamps, so setting up something similar for CPython sprints sounds sensible to me.

It also provides a separate issue tracker for folks to ask questions specifically about running a CPython sprint, rather than about contributing to CPython in general.

[2017-05-31 05:03] Mariatta opened #215 "Editing pull request: Can we rebase instead of merge?"
Regarding this [section](http://cpython-devguide.readthedocs.io/gitbootcamp.html#editing-a-pull-request-prior-to-merging):

In step 3, is it possible to do `rebase` instead of `merge`?

When we do `git merge`, we could be getting a whole bunch of unrelated changes in the PR.

[2017-05-31 05:28] methane commented on #215
-1 from me.
rebase rewrites history.
If we push rewritten history to contributor's branch and the contributor has local change,
the contributor may be surprised when they do `git pull`.

Since we use "squash and merge" button when merging pull request,
there are no reason to use rebase.

[2017-05-31 07:54] ncoghlan commented on #215
It's possible to skip the merge entirely - that's just the example we used of a change someone might want to make.

It's probably better to simplify the example to:

    $ git add <changes>
    $ git commit -m "<commit message>"

And then add a separate note saying to only use `git merge` rather than `git rebase` if you need to bring in changes from the target branch (for the reason @methane descr

[2017-05-31 10:28] serhiy-storchaka commented on #215
I concur with @methane.

Unfortunately AppVeyor build failed if it can't merge the branch to master without conflicts (which are likely if Misc/NEWS is changed).

[2017-05-31 17:21] Mariatta commented on #215
My concern is that when a PR was created quite a long while ago, when we do a merge from a more recent `origin\master`, it can bring in too many unrelated changes, making it difficult to review perhaps.
But I agree with the point about not wanting to rewrite the contributor's branch history.
I'll leave the instruction as is for now.
Thanks :)

[2017-05-31 17:21] #215 closed

[2017-06-02 05:42] ncoghlan commented on #215
@Mariatta For those cases, it may make sense to ask the contributor if they'd mind doing a rebase before doing a merge ourselves and/or asking them if they're OK with us doing one.

The main problem we want to avoid is doing a rebase without the contributor being aware it's happening.

[2017-06-02 06:16] methane commented on #215
I think Github won't show commits from `master` branch.
Github will show only one "merge commit".

[2017-06-05 16:48] terryjreedy opened #217 "Quoting for config alias.pr"
The following in Bootcamp does not work on windows because the quoting is wrong for Windows:
git config --global alias.pr '!sh -c "git fetch upstream pull/${1}/head:pr_${1} && git checkout pr_${1}" -'
git responds with a usage message.

Windows only recognizes "..." quotes on a command line.  Reversing the quotes creates the alias.
git config --global alias.pr "!sh -c 'git fetch upstream pull/${1}

[2017-06-06 03:29] Mariatta commented on #217
hmm I tried reversing the quotes on my machine (MacOS) and it doesn't work

[code]

So we need to add a note that says "on windows, reverse the quotes" something like that?

[2017-06-06 06:21] terryjreedy commented on #217
"On Windows, reverse the single (') and double (") quotes." should do it.

[2017-06-06 15:43] terryjreedy commented on #105
git worktree add ../36 3.6
seems to work without first checking out 3.6 in the master repository.  In fact, once 3.6 is checked out in the worktree directory, it is no longer possible to check it out in the original repository.
pcbuild/build.bat in the new directory builds 3.6.1+.

[2017-06-07 20:13] #217 closed

[2017-06-08 13:12] matrixise commented on #202
@ncoghlan issue tracker ? b.p.o or the issue tracker of the infra ?

[2017-06-08 13:48] matrixise commented on #202
Hi @ncoghlan and @Mariatta

I just created the PR for this issue, need your reviews.

Thank you

[2017-06-08 15:47] matrixise opened #221 "broken links and 404"
I have executed `make linkcheck` and I have some broken links.
[code]

for news.gmane.org I think the project is dead but there is a new maintainer and the current url `news.gmane.org` does not work but there is a replacement: http://home.gmane.org/

for the release 3.4.4, I have this link: https://www.python.org/downloads/release/python-346/

for buildbot, we could remove the anchor

and scan5.co

[2017-06-08 15:54] zware commented on #221
For the buildbot link, just do `s/current/0.8.14/` since that's the version we're running.  Alternately, `s/buildslaves/workers/g`.

[2017-06-08 19:19] terryjreedy commented on #221
news.gmane.org still works for nntp, but apparently not for http(s).

[2017-06-12 22:08] #193 closed

[2017-06-15 12:21] ncoghlan opened #230 "Add a reference link to the "Python Extension Patterns" guide?"
I recently stumbled across https://pythonextensionpatterns.readthedocs.io, and I think it's an excellent introduction to the idioms of the Python C API for folks that already know C, but aren't yet familiar with the Python C API specifically.

I figure that kind of guide may also be useful to folks taking their first steps into CPython's C code.

[2017-06-15 12:28] mlouielu commented on #230
+1 for this in the devguide, and I think the greensnake (ast guide) should put into it.

[2017-06-22 00:44] brettcannon opened #231 "Update links to point to https://devguide.python.org/"
Yes, the subdomain now works. 😄

[2017-06-22 01:44] Mariatta commented on #231
Yay! 🎉
Can you change the link on GitHub? 😀

<img width="593" alt="screen shot 2017-06-21 at 6 41 20 pm" src="https://user-images.githubusercontent.com/5844587/27413632-6a00f7de-56b1-11e7-9399-1e69d6a1ee2e.png">

[2017-06-22 02:09] Mariatta commented on #231
So, replace these links:
- https://docs.python.org/devguide
- http://cpython-devguide.readthedocs.io

with

- https://devguide.python.org

Right? Thanks.

I think this will be a good task for a first timer :)

[2017-06-22 02:37] Mariatta opened #232 "Links don't work in the new URL"
From https://devguide.python.org/

click on `set up` link or setup guide link which points to https://devguide.python.org/setup/#setup

It says "Sorry this page does not exist yet"

[2017-06-22 02:44] Mariatta commented on #231
Let's hold this off until #232 is resolved :)

[2017-06-22 03:43] brettcannon commented on #232
If you look from http://cpython-devguide.readthedocs.io you discover the URL should be http://cpython-devguide.readthedocs.io/setup.html#setup and that's actually what the page on devguide.python.org has. So my suspicion is theres a URL rewrite rule that was misconfigured. I've emailed Mark about this (on my phone so no @ completion to mention him on this issue).

[2017-06-22 04:09] brettcannon commented on #232
Looks like if we can't get this easily fixed we can turn on Sphinx HTMLDir building on RTD: builders.html#sphinx.builders.html.DirectoryHTMLBuilder. We could then turn on redirects from HTML to HTMLDir: http://docs.readthedocs.io/en/latest/user-defined-redirects.html#sphinx-redirects (or vice-versa).

[2017-06-22 04:12] brettcannon commented on #232
Actually not vice-versa because that leads to a redirect loop, so HTML -> HTMLDir is the only option (just need to check if anything breaks if the build type is changed).

[2017-06-22 16:14] brettcannon commented on #232
OK, I went ahead and went with my quick fix to build the docs using the HTMLDir builder and then setting up a redirect from HTML -> HTMLDir and everything seems to work!

@MarkMangoba

[2017-06-22 16:14] #232 closed

[2017-06-22 16:15] brettcannon commented on #231
I also don't expect many mentions of the link since reST makes it so we can use relative links that are auto-generated, but I figured it wouldn't hurt to do a quick grep for the old domains.

[2017-06-22 16:34] Mariatta commented on #231
Cool, thanks for the clarification.
I think there are a few hardcoded links from CPython docs, and also in the message by the-knights-who-say-ni.
I've recruited a first-time contributor, and they're interested to work on this. Stay tuned.

[2017-06-22 17:06] Mariatta commented on #231
I created [bpo-30737](http://bugs.python.org/issue30737)

[2017-06-23 02:20] #231 closed

[2017-06-28 17:06] Mariatta commented on #195
I don't want this to linger on forever so I will work on this later today.

[2017-06-30 17:08] #195 closed

[2017-07-03 12:33] #181 closed

[2017-07-21 05:35] ncoghlan opened #238 "Clarify that backports should start from the squashed-and-merged commit"
After pointing a new contributor to https://docs.python.org/devguide/gitbootcamp.html#backporting-merged-changes to handle their own backport PRs, I discovered that it's currently taking a step for granted: finding the relevant commit to backport from the CPython master branch, rather than squashing your original PR branch locally.

Since we specifically want to use the squashed-and-merged commit

[2017-07-21 05:45] ncoghlan commented on #238
Some initial thoughts on how we might improve this:

1. Move https://docs.python.org/devguide/gitbootcamp.html#backporting-merged-changes to be directly after https://docs.python.org/devguide/gitbootcamp.html#accepting-and-merging-a-pull-request
2. Add a note suggesting the following pair of commands:

    git fetch upstream
    git rev-parse ":/bpo-12345"

3. Mention that the relevant commit hash

[2017-07-21 05:49] Mariatta commented on #238
There's a write up about which commit hash to use in [cherry_picker](https://github.com/python/core-workflow/blob/master/cherry_picker/readme.rst#id4) It can be copied over here.

[2017-07-21 06:36] terryjreedy commented on #238
I presume 'bpo-1235' is a stand-in for the fork branch the PR is based on.  Once the merge is done, it disappears from the PR (as the PR can no longer be added to using the branch name ;-).  Copying the commit hash available after the PR is merged seems best.  I try to remember to grab it before I start typing the cherry_picker command.  (Which is working quite well for simple backports.)

[2017-07-21 06:40] ncoghlan commented on #238
@terryjreedy `git rev-parse ":/bpo-12345"` searches for a commit *message* containing the given string (rather than a branch name) and returns the commit hash(es).

[2017-07-21 06:41] NicholasKobald commented on #238
I found the link Mariatta mentioned to be very useful. The reason I ended up doing it the way I did despite seeing that reference, was because I got errors trying to use the final merge commit hash, since I had no correctly set python/cpython to be upstream of my forked repository (and so the hash gave me a `fatal: bad object ..` error.)

Because of running into that error and not being sure at fi

[2017-07-24 21:12] vstinner opened #241 "Document how to add a new file or a new directory"
The issue title seems trivial, but in practice there are many traps. See for example: https://github.com/python/cpython/pull/2851/files Adding a new test directory requires to modify Makefile.pre.in and PCbuild/lib.pyproj.

[2017-07-25 01:31] ncoghlan commented on #241
Adding new C files can also be trickier than it seems at first glance, as even though forgetting that will give you immediate build failures, you still need to know where to make the modifications for both autotools and MSVC in order to get pre-merge CI to pass.

[2017-07-25 01:36] ncoghlan commented on #241
I'm not sure where you'd put this info in the current dev guide though - we don't really cover the build process right now beyond what's in https://devguide.python.org/setup/#compiling-for-debugging

It may make sense to expand https://devguide.python.org/setup/#troubleshooting-the-build into a new top level section on the build process, akin to the sections on changing the grammar or working on t

[2017-07-25 02:51] svelankar opened #242 "Git Bootcamp and Cheat Sheet - Section 32.10 - Creating a Pull request needs an additional step"
Section 32.10 - Creating a Pull Request

Step 2 should be changed to Step 3 and so on. Add  a new step i.e. step 2 as "Press new pull request button"

[2017-07-25 03:43] #242 closed

[2017-07-25 17:14] matrixise commented on #230
Hi @ncoghlan
It's just a small section but at least, there are a link to the official documentation and to the introduction

See this PR: https://github.com/python/devguide/pull/246

[2017-07-25 20:17] matrixise commented on #202
please @ncoghlan and @Mariatta, could you review this PR ?

Thank you

[2017-07-31 02:44] Mariatta commented on #202
Closed in #220

[2017-07-31 02:44] #202 closed

[2017-07-31 02:44] Mariatta commented on #202
Thanks for the PR @matrixise 🌮

[2017-07-31 15:33] csabella opened #249 "Document working on other releases"
Hi,

I couldn't figure out how to sync and work on a release other than master until I found this thread on core-mentorship.  If this isn't in the devguide already, would it be valuable to add?  I know you don't want to copy everything into the devguide, but this:

git checkout origin/2.7
git checkout -b 2.7

was not something I could come up with and I also couldn't find it by googling.

https://

[2017-07-31 15:44] Mariatta commented on #249
I think the two can be combined into
[code]
which is similar to what's mentioned in https://devguide.python.org/gitbootcamp/#creating-and-switching-branches for branching off local `master`.
Perhaps in that section we can add this example for branching off `origin/<branch>` or `upstream/<branch>.

[2017-07-31 17:27] csabella commented on #249
Thanks, Mariatta, that makes sense now - that the branch would be the release name.  I just couldn't figure out these things on my own:
1.  Naming a local branch `2.7` in order to sync it with my remote (`origin`).
2.  And, as you said, that you would use `origin/<branch>` or `upstream/<branch>` to create that new branch.

I don't remember creating `master` and all the working branches that I've c

[2017-08-02 06:08] #249 closed

[2017-08-15 10:58] ncoghlan opened #252 "Missing LICENSE file"
Should the developer guide have its own license file?

[2017-08-15 15:29] Mariatta commented on #252
I think so 😄
The same License in [core-workflow](https://github.com/python/core-workflow/blob/master/LICENSE)? or something else?

[2017-08-15 15:43] brettcannon commented on #252
Whatever @VanL tells us the license should be. 😉 Not sure if it should be different for documentation.

[2017-08-16 06:21] ncoghlan commented on #252
Yeah, this actually came up when I was picking the initial license for https://github.com/python/redistributor-guide/issues/1

While I picked the Apache Software License for now (since that's what core-workflow uses, and its one of the inbound licensing options when signing the PSF CLA), as a general principle, the OSI licenses aren't recommended for primarily documentation focused projects.

My p

[2017-08-16 22:37] brettcannon commented on #252
I've emailed @VanL to weigh in here on the preferred license for docs and for new code so we can document it in the devguide somewhere.

[2017-08-16 23:25] brettcannon commented on #252
Heard back from @VanL and he said, "Prefer CC0. CC-BY is ok, as long as we also have a section in the docs that points to the commit log as the place where attribution is given."

[2017-08-17 07:30] ncoghlan commented on #252
I'm fine with CC0 - these are needs-driven docs, so if folks want to borrow and repurpose them, we don't really mind either way whether they give attribution or not.

[2017-08-29 00:30] Mariatta commented on #194
Maybe include the following shortcuts:

Open PRs awaiting reviews: is:pr is:open label:"awaiting review"
https://github.com/python/cpython/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Aopen%20label%3A%22awaiting%20review%22

Open PRs awaiting core reviews:
https://github.com/python/cpython/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Aopen%20label%3A%22awaiting%20core%20review%22%20

[2017-08-29 17:40] #252 closed

[2017-09-04 23:27] ezio-melotti opened #257 "Documenting pushdefault config option"
There seem to be 3 variations of the `git push` command:
1. Use `git push origin branchname` and always specify the remote and the branch
2. Use `git push -u origin branchname` on the first push to set `origin` as the default and then just use `git push`
3. Set the `pushdefault` to `origin` in `.git/config` and just use `git push`

The first method is the one suggested in the devguide
(e.g. in the

[2017-09-05 00:00] ezio-melotti commented on #189
I'm looking into this as part of #120.  The 3 main places where the git info are are:
1. https://devguide.python.org/gitbootcamp/#gitbootcamp
2. https://devguide.python.org/committing/#working-with-git
3. https://docs.python.org/devguide/pullrequest.html#quick-guide-step-by-step

I'm currently thinking about leaving 1 alone (its faq nature doesn't even require separating between contributors and c

[2017-09-05 14:36] Mariatta commented on #257
I prefer method number one, the explicit way: `git push <remote> <branchname>`, and make this consistent throughout the docs.

About the cons:

- Longer to type, yes. But it gives people the assurance that they're pushing the right branch to the right remote. Fewer mistakes will be made. Often I switched branches and not remembering which one I'm in.

- Harder to remember, that's subjective. I als

[2017-09-05 16:12] ezio-melotti commented on #189
I'm looking into this as part of #120.  The 3 main places where the git info are are:
1. https://devguide.python.org/gitbootcamp/#gitbootcamp
2. https://devguide.python.org/committing/#working-with-git
3. https://docs.python.org/devguide/pullrequest.html#quick-guide-step-by-step

I'm currently thinking about leaving 1 alone (its faq nature doesn't even require separating between contributors and c

[2017-09-05 17:10] ezio-melotti opened #258 "Delete the "Mercurial for git developers" page"
[The mercurial for git developers page](https://github.com/python/devguide/blob/master/gitdevs.rst) page has been updated to include a note that says:

AFAIK the only repos that still use Mercurial are the ones for bugs.python.org.  The structure of those repos is fairly simple and the activity is low, so most of the information included in that page is not relevant to them.

Can the page be remov

[2017-09-05 17:32] Mariatta commented on #258
+1 for removing :)

[2017-09-05 18:33] ezio-melotti commented on #174
+1 to what @bitdancer said.  I always use two.

[2017-09-05 19:25] ezio-melotti commented on #241
If I add a new file in a place that requires additional steps, do I get any error?
I think I would first try, then get an error, and then go look for a solution, so it makes sense to document this in the troubleshooting section.

[2017-09-05 21:48] #184 closed

[2017-09-06 17:20] ezio-melotti commented on #258
Merged, thanks for the review!

[2017-09-06 17:20] #258 closed

[2017-09-07 02:46] #238 closed

[2017-09-07 17:43] willingc commented on #257
I also prefer Method 1 as the preferred way as it is most explicit. Most of the time, I will type out the command, but I have also aliased the frequently used ones in my bash config and have tab completion too.

Method 2: I rarely use this. When working on multiple repos across different orgs, it's easier and less error prone for me to just be explicit.

Method 3 is handy but is an advanced workfl

[2017-09-08 19:11] ezio-melotti commented on #189
I made some changes in #263 and #265.

I don't think this is necessary.  Since the workflow is now mostly the same for contributors and core devs, the only core-devs-specific information should be in the committing.rst page.  The distinction between new to open source and new to the project is also not necessary: the devguide describes all the steps, if people already have git installed or have al

[2017-09-08 19:16] ezio-melotti commented on #189
A different distinction I want to make is:
* process-oriented pages that you should read:
  * setup.rst for initial setup
  * pullrequest.rst for instructions about the PR-based workflow
  * (for core devs only) committing.rst for instructions about accepting/merging PRs
* additional pages that you should consult once the need arises

See also the "Devguide Reorganization" thread on core-workflow.

[2017-09-27 17:29] jeff5 opened #267 "Cannot build devguide in virtual environment on Windows"
On Windows `make html` does nothing.

There are several problems here:
1. There's a use of `goto` inside parenthes. Yeah, it ought to work but [it doesn't reliably](https://ss64.com/nt/syntax-brackets.html). In fact, it stops the action dead.
2. A virtual environment is not set up for you as claimed in the guide.
3. The python command used is py -3 which ignored the active venv I created. (Not sur

[2017-09-27 18:18] zware commented on #267
Have a look at what [Doc/make.bat](https://github.com/python/cpython/blob/master/Doc/make.bat) does, I think it's in better shape than this make.bat is at this point.

[2017-09-27 20:30] jeff5 commented on #267
@zware Thanks. There are some interesting things there, but not the use of a virtual environment.

I'm aiming for as much like the Makefile as possible and otherwise minimum change. (`.bat`s are so fragile.)

I take the hint from [this conditional](https://github.com/python/cpython/blob/db50ba7c72bd5f0617c50df3f1a1bb8b26955882/Doc/make.bat#L9) however that if you've defined your own command in SPH

[2017-09-27 20:41] zware commented on #267
Ah, you're right; we haven't added venv support to Doc/make.bat.  Sorry for the red herring :(

Yes, if SPHINXBUILD is set, we should assume the user knows what they're doing and just go with it.  Otherwise, I like your plan of trying to match Makefile's behavior as closely as possible.

[2017-09-29 00:07] ezio-melotti commented on #257
During the recent updates I kept method 1 in the docs, since it was the preferred form.  The alternative methods are currently not documented, but they could be added to the gitbootcamp page.  I was thinking we could also collect this and similar tips under a "tips and tricks" section in the gitbootcamp page.

[2017-09-29 16:52] brettcannon commented on #257
I used to do method 1 for the reasons everyone outlines, but I have switched to method 3 since I like to think I finally know what git is doing. ;)

[2017-09-29 16:53] brettcannon commented on #257
And I should mention that method 3 is rather handy once you're comfortable with git, so it should only be in a section targeting core devs and with a mention that if you don't understand the implications of this shortcut then you shouldn't do it.

[2017-09-29 21:51] brettcannon commented on #257
I should also mention that another really useful thing to go with the `pushdefault` setting is:
[code]
That way `master` always tracks upstream since you rarely want to do or pull work from `origin` on the `master` branch.

[2017-10-02 21:19] jeff5 commented on #267
Resolved in #268.

[2017-10-02 21:19] #267 closed

[2017-10-03 23:04] svelankar opened #271 "26.3. Abstract Syntax Trees (AST) - yield expression should be optional."
In the python ASDL example , Yield expression should be optional.

[2017-10-03 23:33] terryjreedy commented on #271
Open an issue of bugs.python.org.  PRs are for code patches, nearly always in response to a bpo issue, not for bug reports.

[2017-10-04 01:52] svelankar commented on #271
The last time i had opened a bug for  devguide  issue on bugs.python.org (issue 31023) , i was told not to open a bug on bugs.python.org but a file a ticket here. Am i missing anything ?

[2017-10-04 02:50] ezio-melotti commented on #271
I assume that you are reporting an issue about the example at https://devguide.python.org/compiler/#abstract-syntax-trees-ast and that this issue is related to #272 so this is the right place.

[2017-10-04 03:02] #271 closed

[2017-10-04 06:00] terryjreedy commented on #271
Sorry, there is a separate issue tracker on git for the devguide repository.

[2017-10-04 20:31] SurenNihalani commented on #105
I am interested in doing this. I'll assign this to myself and start working on a pull request.

[2017-10-04 20:49] Mariatta commented on #105
Awesome! Looking forward to your PR @SurenNihalani

[2017-10-12 16:38] #194 closed

[2017-10-12 16:47] Mariatta commented on #230
Closed in https://github.com/python/devguide/pull/279

[2017-10-12 16:47] #230 closed

[2017-10-12 17:09] Mariatta opened #280 "Running Python test suite with checkout build requires command line."
In https://devguide.python.org/runtests/, it says:

According to @haypo in https://bugs.python.org/issue31761#msg304225 this is wrong, it should only be run in command line.

[2017-10-12 17:16] Mariatta commented on #191
Done in https://github.com/python/devguide/pull/276

[2017-10-12 17:16] #191 closed

[2017-10-12 18:01] Mariatta commented on #280
@serhiy-storchaka [mentioned](https://bugs.python.org/issue31761#msg304273) that running tests from IDLE used to work, but not anymore since [2015](https://bugs.python.org/issue25588).
I'm thinking that we should still update the devguide saying it doesn't work at the moment.
And then we should remember to update it again once [bpo-25588](https://bugs.python.org/issue25588) has been resolved..

[2017-10-12 20:19] Mariatta opened #281 "Mention that backport can happen automatically"
In this section: https://devguide.python.org/committing/#backporting-changes-to-an-older-version, it can mention that miss-islington will first try to do the backport automatically. In case that miss-islington is unable to do it, then the PR author or the core dev who merge it should look into backporting it themselves.

[2017-10-12 23:09] terryjreedy commented on #280
'from test import autotest' also fails in a python shell, so merely removing 'or IDLE' may not be the right fix.
I will post to https://bugs.python.org/issue31761 when the already failing control run finishes.

[2017-10-20 01:50] terryjreedy commented on #280
'Running & Writing Tests' begins with "This document assumes you are working from an in-development checkout of Python".  Can you tell from the git log when that was added, and by who?  I wonder why it begins this section, rather than the document as a whole?

If we take the statement as true, then the 'document' assumes that one works with a command line.  Hence the alternative would be irrelevan

[2017-10-20 06:34] Mariatta commented on #280
Added in 2011:

https://github.com/python/devguide/commit/f3f0b7bae59e134c8935e71d8a105b5cd78bb644#diff-c04a615d0a3d3ced3419675de9c0f66a

[2017-10-23 17:15] Mariatta commented on #281
This has been addressed in #287. Thanks @blossomica for the PR :)

[2017-10-23 17:15] #281 closed

[2017-10-23 19:33] blossomica commented on #281
You are welcome, @Mariatta ! It's an honour!

[2017-10-24 23:56] Mariatta commented on #199
@berkerpeksag I think everything has been addressed, so I'm closing this. Please reopen if it turns out that I miss something. Thanks.

[2017-10-24 23:56] #199 closed

[2017-10-25 02:20] berkerpeksag commented on #199
@Mariatta thank you, it looks pretty good to me. I missed PR #275. I've just opened #288 for my tweaks.

[2017-10-30 21:40] zware opened #290 "Update buildslave.rst page for Buildbot 0.9.x"
In part, the whole page needs `s/slave/worker/g`; any links to the master page will be wrong, and there may be other updates necessary as well.

[2017-10-31 06:56] levlaz commented on #290
@zware I would love to tackle this issue.

I ran `linkcheck`, and focused on the buildbot specific links.

[code]

I can go through and update all of these references, as well as updating the documentation itself for `s/slave/worker/g`.

I would also like to rename the file itself to `buildworker.rst` if that is alright with you.

Assuming this is all good, PR incoming in the next day or two.

[2017-10-31 16:01] zware commented on #290
All of those updates sound good.  Let me know if you have trouble finding a link that `linkcheck` likes on buildbot.python.org; we can try adding redirects if needed.

Any other things that look out of date for Buildbot 0.9.x as you're making those changes, please feel free to fix.  I haven't had a chance to look through the page again myself to point out anything else in particular.

I look forwa

[2017-11-01 07:48] levlaz opened #292 "Add linkcheck to CI"
I noticed a TODO in the [.travis.yml](https://github.com/python/devguide/blob/master/.travis.yml#L8) file to add linkcheck to CI.

This is simple enough to do, is there a historical reason why it has not been done?

[2017-11-01 15:11] zware commented on #292
I suspect it's just the fact that it would be failing, or take significant time to run.  It would be worth a PR to turn it on and see what it does, but there's no guarantee that we'd merge it yet.

[2017-11-02 01:50] levlaz commented on #292
It might be useful to run the report on each build (and not cause the build to "fail") and save it as an artifact for handy reference.

It seems that in order to use artifacts on travis you need to [upload them to S3 manually](https://docs.travis-ci.com/user/uploading-artifacts/). Which seems not ideal.

Would you be opposed to switching to CircleCI? They host artifacts for free.

Disclaimer: I wo

[2017-11-03 20:51] Mariatta opened #296 "Add a section to explain the different GitHub PR labels"
Not sure if this is in the DevGuide already.
There should be an explanation somewhere of what the different labels mean, especially:
- skip issue
- skip news

It's not always clear especially to new contributors of what makes an issue "trivial", maybe that needs to be clarified somewhere, either in the devguide or in https://github.com/python/cpython/blob/master/.github/CONTRIBUTING.rst

I think i

[2017-11-03 21:29] terryjreedy commented on #296
I notice that some core devs have a much broader idea of 'trivial' than others, and I think better agreement would be good.

The main use of 'skip news', other than no issue, is for follow-up PRs on the same issue that do not require editing the existing  news blurb .

[2017-11-04 02:27] ncoghlan commented on #296
https://docs.python.org/devguide/committing.html#what-s-new-and-news-entries has the details on when "skip news" is appropriate.

"skip issue" is similar but isn't currently documented anywhere: if it's a follow-up to an unreleased change, re-use the existing issue number (and NEWS entry), otherwise it should get a new issue, so the change can be associated with the corresponding release.

The mai

[2017-11-04 21:24] Mariatta opened #298 "Document cpython-source-deps repo"
I learned of the purpose of https://github.com/python/cpython-source-deps repo while working on  https://github.com/python/cpython/pull/4246 :)

It should be documented somewhere in the devguide, not sure where.

Maybe under "Additional Repositories" in https://devguide.python.org/communication/ ?

[2017-11-05 00:56] ncoghlan commented on #298
The section on getting set up with the build dependencies would be the right place: https://devguide.python.org/setup/#build-dependencies

Since these are mainly useful for Windows (where we can't use the system package manager or homebrew to get them), I'd suggest the Windows-specific subsection: https://devguide.python.org/setup/#windows

[2017-11-07 04:06] Mariatta opened #299 "Broken link to Copyright page."
At the very bottom of https://devguide.python.org, there is a copyright link. That link is 404.

[2017-11-07 04:23] Mariatta opened #300 "devguide was last updated at None."
At the very bottom of this page: https://devguide.python.org/, it says `Last updated on None.`.

[2017-11-08 00:21] Mariatta commented on #299
I wonder if the link should be removed, so it becomes a regular text?
Otherwise, which page should it point to?

[2017-11-08 00:37] brettcannon commented on #299
I have no idea what it ever pointed at, nor why it would need to point to anything. I guess ask @VanL , otherwise just make it plain text.

[2017-11-08 02:37] Mariatta commented on #299
I'm just gonna make it into plain text. :)

[2017-11-08 05:10] ezio-melotti commented on #299
Maybe the template was copied from docs.python.org: https://docs.python.org/3/copyright.html

[2017-11-08 05:18] Mariatta commented on #299
Oh hmm .. Ok then maybe best to ask @VanL about this...

[2017-11-08 18:18] #300 closed

[2017-11-09 05:19] #290 closed

[2017-11-09 05:23] zware commented on #290
Thanks @levlaz!

[2017-11-19 16:10] MarkMangoba commented on #299
I just e-mailed @VanL about this.  Plain text is just fine if we don't hear back within 2 days, that is how it is via python.org.

[2017-11-19 16:22] Mariatta commented on #299
Thanks @MarkMangoba :)

[2017-11-22 03:31] Mariatta commented on #299
Since there hasn't been any updates, I'm committing the change to make it plain text :)

[2017-11-22 03:31] #299 closed

[2017-12-07 19:40] CuriousLearner opened #306 "Firefox Search Engine plugin link returns 404 error"
Under the key resources section:
https://devguide.python.org/#key-resources

Link to `Firefox search engine plug-in` pointing to https://www.python.org/dev/searchplugin/ appears to be broken.

[2017-12-07 19:53] brettcannon commented on #306
Probably should just remove the reference.

[2017-12-07 20:22] CuriousLearner commented on #306
@brettcannon Fixed that in the PR.

[2017-12-07 21:18] vstinner opened #308 "Update the devguide with the discussion on bug triage"
Discussion on python-committers: https://mail.python.org/pipermail/python-committers/2017-December/004960.html

cc @ezio-melotti

[2017-12-08 18:28] #306 closed

[2017-12-08 18:29] ezio-melotti commented on #306
Fixed, thanks for the report and the PR!

@brettcannon do you remember what this plugin was?

[2018-01-22 23:30] csabella opened #313 "'Show source' links to text pages and not Github"
In `docs.python.org`, 'Show source' in the sidebar links to the Github source page, but in the dev guide, it links to a static text page.  Should they function the same?

[2018-01-24 19:44] brettcannon commented on #313
I don't see any reason not to have the devguide point to the equivalent repo page.

[2018-01-26 18:00] ericsnowcurrently opened #317 "Add a section on how to add an extension module to the stdlib."
Every once in a while someone adds a new extension module to the stdlib.  How to do so isn't very clear, particularly regarding all the cross-platform bits.  I suppose nobody has added that info to the devguide because it doesn't happen very often; however, it would be particularly helpful in the devguide specifically because we don't do it very often. :)  You can mostly look for prior art (e.g. s

[2018-01-27 05:21] ncoghlan commented on #317
Heh, "look for the commits from the last time an extension module was added" is *exactly* how I've handled our current lack of docs myself :)

[2018-01-30 04:22] ncoghlan opened #319 "Explain how to revert maintenance branch commits"
It came up in https://bugs.python.org/issue32690 that it's not at all clear how to revert commits to a maintenance branch if we decide that a change shouldn't have been backported after all.

Transferring over my notes from that issue to be cleaned up and added to the dev guide:

- check out the branch of interest and ensure it's up to date
- `git checkout -b bpo-32690-revert-3.6-backport`
- `git

[2018-01-30 05:13] rhettinger commented on #319
For the record, I initialized tried using Github's revert button on the original PR, https://github.com/python/cpython/pull/5390 . However, it unhelpfully said this cannot be reverted automatically.

Next I tried command-line git:

[code]

Next, I went back to my Github account to create the PR but the preview was showing it as many thousands of lines.  This indicated that it was being applied aga

[2018-01-30 05:37] Mariatta commented on #319
From what @rhettinger described, it seems that when reverting using GitHub web UI, GitHub by default selected the `master` branch, even though it was reverting from the `3.6` branch. I think GitHub should have known better to select the `3.6` branch in this case. 🤔

@ncoghlan, would you like to prepare the PR explaining how to revert? 😄

I'm now thinking that we might need a revert-bot one of thes

[2018-01-30 07:18] ncoghlan commented on #319
All of @rhettinger's steps were right, it's just that in the final PR creation step in the web UI it's necessary to know that there are some dropdowns in the top-left which allow you to choose which branch is the intended destination.

Once you adjust that from `master` to `3.6`, GitHub correctly recalculates the diff and gives you a sensible PR. But if you don't already know the dropdowns are the

[2018-01-30 07:22] ncoghlan commented on #319
Deciding how to add this is actually a bit tricky, since we don't currently discuss `git revert` at all, not even in the simpler case of reverting a commit to `master.

Given that it was the PR interface that caused problems, perhaps it would be more useful to add a section on "Submitting a PR to a maintenance branch"? In https://github.com/python/devguide/blob/master/gitbootcamp.rst#backporting-m

[2018-01-31 23:38] csabella opened #321 "Propose change to new user link for documentation issues on the bug tracker"
On the devguide landing page, there's a section called 'Contributing', under which there is a section and links:
[code]

Clicking on 'Helping with Documentation' leads to the page of the same name and section 6.1 starts with:
[code]
Within that text 'documentation issues' is also a link, leading to this page:
[current](
https://bugs.python.org/issue?%40search_text=&ignore=file%3Acontent&title=&%40

[2018-02-01 02:57] ezio-melotti commented on #321
+1

[2018-02-01 03:41] ncoghlan commented on #321
Both of those suggestions make sense to me as well - the paperclip and octocat icons are handy, but thoroughly cryptic if nobody has told you what they mean :)

[2018-02-01 19:11] csabella commented on #321
Thanks, I'll prepare a PR.

[2018-02-02 05:19] ncoghlan commented on #321
Thanks @csabella!

[2018-02-02 05:19] #321 closed

[2018-02-04 05:48] Mariatta opened #323 "Mention that building Python docs now requires blurb"
This section describes how to build the docs: https://devguide.python.org/documenting/#building-the-documentation

It currently mentions that we need to have sphinx installed. However, I noticed that `blurb` is now needed for building the docs.

`make html` will fail if we don't have `blurb` installed.

The documentation should be updated with the instruction to install `blurb` too.

[2018-02-04 14:49] Mariatta opened #324 "Building docs without make doesn't seem to work"
I followed https://devguide.python.org/documenting/#without-make to build the docs without make:
[code]

It finished without error but nothing showed up under `build/`

Wonder if it's just me. Perhaps I miss something? I've followed the previous steps and `make html` works for me (after blurb got installed).

[2018-02-04 20:55] terryjreedy commented on #324
On 2/4/2018 9:49 AM, Mariatta wrote:

Where are you running sphinx-build?  My local repository has a build/
directory that consists of nothing but leftover test artifacts (which
should probably be removed by the tests).  That should *not* have html/.

I just ran the above (with a full path to sphinx-build) in /Doc, and
/Doc/build/html was (still) populated with updated files, as expected.
My sphin

[2018-02-05 17:42] matrixise opened #325 "Add tricks for the Pull Requests review?"
Hi all,

I would like to add a small section or a paragraph about the review of the Pull Requests. For example, for us, the contributors and core-dev of Python we are looking for the issues of 3.7 and 3.8 (because we have to fix them for these releases ;-))

How can we do that with the interface of Github ? because there is no labels '3.8' or '3.7' on the PRs, but in fact, we can use the advanced

[2018-02-06 08:30] matrixise commented on #323
I have read the code of Doc/Makefile, and we install blurb when we create the venv, https://github.com/python/cpython/blob/master/Doc/Makefile

Do we need to update the documentation ?

[2018-02-06 09:58] matrixise commented on #324
Hi @Mariatta

In a docker image based on the last ubuntu:rolling

[code]

so in my case, I have no issue with the documentation.

[2018-02-06 13:32] matrixise commented on #324
@Mariatta here is a small Dockerfile, you can read it https://gist.github.com/matrixise/a8d27af4c874da5fdc1d0b8cae5afccf maybe we could use it for the build of the documentation for the newcomers, but this one is not yet perfect.

it's just for the fun, I won't use it in production because I have no issue with the virtualenv system and Python in general. but normally with this Dockerfile, I just e

[2018-02-06 15:39] ned-deily commented on #324
I think this devguide section should be restructured a bit to distinguish between building the HTML vs other formats and between Unix-y (``make``) vs Windows (``make.bat``) builds.  I would expect that HTML builds on Unix is by the far the most common case and that's also the simplest:

[code]

The docs should point out that building other formats (pdf, epub, etc) has more dependencies (LaTeX and

[2018-02-06 18:37] matrixise commented on #324
totally agree with you, but in this case, we could close this issue, and open a PR where we remove the build without make because that one would be useless.

[2018-02-08 08:20] JulienPalard commented on #324
@Mariatta For me too building in a venv with sphinxinstalled, using:

    (cd Doc/; sphinx-build -b html . build/html)

works well. Have you tried running this at the root of cpython?

[2018-02-08 18:08] Mariatta commented on #323
Hmm maybe something wrong with my computer setup?

I did make html from the Doc directory and it does not work. Here's the output from my terminal:

[code]

Once I manually created the venv and installed sphinx and blurb, then it works.

[2018-02-08 18:19] Mariatta commented on #323
The paragraph says: "You are expected to have installed the latest stable version of Sphinx on your system or in a virtualenv, so that the Makefile can find the sphinx-build command. You can also specify the location of sphinx-build with the SPHINXBUILD make variable."

So it should mention about adding blurb in addition to sphinx, I think.

[2018-02-08 22:25] JulienPalard commented on #323
I would go for something like:

[2018-02-22 05:30] #323 closed

[2018-02-27 23:46] neerajbadlani opened #331 "make check in devguide failing"
PR Link : https://github.com/python/devguide/pull/330

======== Before Patch ========
[devguide] make check
python3 tools/rstlint.py -i tools -i venv
[1] pullrequest.rst:326: trailing whitespace
[2] gitbootcamp.rst:288: default role used
[1] motivations.rst:134: trailing whitespace
[1] motivations.rst:137: trailing whitespace
3 problems with severity 1 found.
1 problem with severity 2 found.
Makef

[2018-03-04 21:02] csabella opened #334 "Mention `make venv` on Helping with Documentation page"
I asked a question on core-mentorship because I wasn't able to build the docs with `make html` as per https://devguide.python.org/docquality/#helping-with-the-developer-s-guide.  Ned replied to do `make venv`, then `make html`, which worked.  Does the devguide need to be updated for this or was it just my environment was stale?

Thanks!

[2018-03-04 21:08] ned-deily commented on #334
An update would be good.  This is another case of DRY; perhaps you could take a look at not how to not repeat this.  It *is* documented in the devguide here: https://devguide.python.org/documenting/#using-make-make-bat.  And we have had some discussions about removing the "Without make" section there.

[2018-03-04 21:35] Mariatta commented on #334
Removing the without make section is being done in #327.

[2018-03-06 13:28] csabella commented on #334
I made a mistake in my original post.  I started looking at updating the devguide per Ned's suggestions and realized my original link was not to how to build the python docs, but rather how to build the devguide.  I think this is very confusing because those instructions are contained on the "Helping with Documentation" page and that page is intended for new contributors (it's only linked to from

[2018-03-07 02:51] abrezovsky opened #336 "Missing alternate Windows step for installing coverage"
In /coverage/ section 5.2.1.1
When installing coverage on Windows, the second command step can not be used:

`source ../cpython-venv/bin/activate`

Instead, there should probably be some mention of the proper step:

`..\cpython-venv\Scripts\activate.bat`

Which allows you to enter the virtual environment and continue with the instructions.

[2018-03-07 03:44] abrezovsky commented on #336
As a side-note, it might be worth mentioning that activate.ps1 needs to be used if trying to go through PowerShell.

[2018-03-07 17:14] brettcannon commented on #336
That command also doesn't necessary work on UNIX either depending on your shell. A comment saying to change that line accordingly based on your shell should be sufficient rather than listing every possible invocation.

[2018-03-07 17:23] Mariatta commented on #336
In that same section there is a link to venv's documentation, where it says: `For more info on venv see Virtual Envrionment documentation.`
The venv documentation has more details for Windows, `csh` or `fish` shell users.

[2018-03-13 17:24] Mariatta opened #343 "Dino Viehland's email address seems incorrect (in motivations page)"
@DinoV I noticed your email address listed is Antoine's.
Do you want to update that to the right email address, or simply remove that field from your entry?

https://github.com/python/devguide/blob/b1e7450b7aed15cfe975b78a324a45eaedc14125/motivations.rst#L240-L243

Thanks.

[2018-03-13 17:26] DinoV commented on #343
Woops, thank you, I've fixed it!

[2018-03-13 17:26] #343 closed

[2018-03-19 13:21] willingc commented on #334
Closing as PR #335 has been merged.

[2018-03-19 13:21] #334 closed

[2018-03-19 13:28] willingc commented on #40
@brettcannon Do you wish to close this or perhaps clarify further? I'm not sure what you mean by appendix and what content it would hold.

[2018-03-19 13:43] willingc commented on #38
Partially addressed here: https://devguide.python.org/triaging/?highlight=easy#keywords

Updates to https://devguide.python.org/fixingissues/ would be beneficial to add clarity and be more welcoming to contributors.

[2018-03-19 13:47] willingc commented on #120
@ezio-melotti The project related to this was completed. Do you want to close this issue or migrate the outstanding items in the checklist to their own individual issues (making them more bite-size for contributors)?

[2018-03-19 13:49] willingc commented on #174
Closing this issue as the [devguide](https://devguide.python.org/documenting/?highlight=spaces#use-of-whitespace) mentions either one or two spaces after a sentence is acceptable.

[2018-03-19 13:49] #174 closed

[2018-03-19 13:51] ezio-melotti commented on #120
I didn't have time to work on this lately, but I would like to keep it around for the next time I do.
I've been trying to keep the checklist updated as other issues gets addressed, and -- at least to me -- it provides a good overview of the status of the Devguide and what should still be reviewed/updated.

[2018-03-19 13:52] willingc commented on #130
Closed by #140

[2018-03-19 13:52] #130 closed

[2018-03-19 13:52] #186 closed

[2018-03-19 13:54] willingc commented on #189
Perhaps this replaces #40. Recommend closing issue #40

[2018-03-19 13:57] willingc commented on #208
As we near End of Life for Python 2, it will be important to clarify terms in the devguide and point out where existing docs may differ from these and why.

[2018-03-19 13:59] willingc commented on #211
Next action: add a note to the triage page in closed/third party description.

[2018-03-19 14:01] willingc commented on #221
PR #223 is open and needs a rebase.

[2018-03-19 14:07] willingc commented on #257
Next action: Add method 3 to section targeting core developers.

[2018-03-19 14:11] willingc commented on #292
Next action: Enable linkcheck on travis as a test. Mark this test as Failure OK so that it does not prevent merges yet provides information to contributors.

[2018-03-19 14:21] willingc commented on #324
Next actions:
- Rename section "not make" to "using sphinx-build"
- Add a sentence or two on why using sphinx-build is useful in some cases e.g. using command line options such as verbosity, nit-picky, etc.

[2018-03-19 14:31] willingc commented on #336
Next action: Revise https://github.com/python/devguide/blob/master/coverage.rst#install-coverage to add these suggestions:
- [ ] More info on venv as suggested by @Mariatta
- [ ] Comment on command may need slight modifications based on shell and os per @brettcannon - [ ] Add Windows command for illustration of a modification for os per @abrezovsky

[2018-03-19 14:33] willingc commented on #120
Sounds good @ezio-melotti. Thanks for the update. 👍

As an FYI, I went through and triaged all of the issues on the devguide, labeled them, and provided next actions, when able.

[2018-03-19 14:52] willingc opened #345 "Triage devguide repo for PyCon US Sprints"
We're about 2 months away from the PyCon Sprints.

- Please tag issues that you would like to be addressed during the sprints with "Help Wanted" label.
- If possible, add a next action ("what to do") step to existing issue to help guide contributors.
- Add any additional issues of wish-list items for the devguide.
    - Finely scoping an issue with clear direction for sprint contributors is helpfu

[2018-03-21 12:56] pfmoore opened #347 "Instructions on how to merge a change would be valuable"
The workflow for merging PRs in the Github interface and triggering backports, is very straightforward, but it would be useful to document it for core developers unfamiliar with it (as otherwise it's easy to think "have I missed something?")

[2018-03-21 16:02] ezio-melotti commented on #38
I think the problem with the "easy" keyword, is that what makes an issue "easy" actually depends on a very wide range of factors.

First of all, "easy" means different things to different people: for some it's something (possibly difficult) they can fix in a day, for others it might also include some (possibly long) work that doesn't actually require particular skills (e.g. reformatting a whole pa

[2018-03-22 10:51] ncoghlan commented on #38
Unassigning since I don't want to get in the way of anyone else coming up with improved wording. Beyond that, I agree with Ezio's discussion of why defining this clearly is trickier than it initially sounds.

[2018-03-25 21:23] willingc opened #351 "Migrate devguide to python-docs-theme"
For maintainability and consistency, migrating to https://github.com/python/python-docs-theme makes good sense.

fyi @ned-deily @jonparrott

[2018-03-26 13:47] willingc commented on #8
Closing since I opened the original issue and I believe the current devguide meets the ideas that I had for communication.

[2018-03-26 13:47] #8 closed

[2018-03-26 13:50] willingc commented on #9
Closing as original issue submitter and devguide covers in several places.

[2018-03-26 13:50] #9 closed

[2018-03-26 13:56] willingc commented on #12
Next action: add a brief section in `docquality.rst` perhaps under the section "Helping with Documentation issues"

- small documentation changes for content is preferred
- reflowing text is discouraged as it makes review more difficult (a core dev will reflow text if needed or ask you to reflow in a follow up PR)

[2018-03-26 14:01] willingc commented on #13
Next action: Add to "Making Good PRs" section in `pullrequest.rst`.

Add to this section information about reflowing text, style changes (auto pep8) and keeping commits well scoped with a minimum of extraneous changes.

[2018-03-29 12:56] ncoghlan opened #356 "Add a section on resolving disagreements between core developers"
I'm not sure how we'd structure this, but I realised that the principle of "Escalate tracker disagreements to python-ideas and python-dev discussions, and potentially all the way to the PEP process" isn't clearly documented anywhere.

Once a discussion reaches the "This needs a PEP" stage, then there's https://devguide.python.org/langchanges/

I also gave a very brief overview of the concept when

[2018-03-29 17:07] zware commented on #351
We did lose our explicitly-different-from-docs.python.org top bar color.

[2018-03-29 17:45] Mariatta commented on #351
Sorry I missed that :(
@jonparrott is the top bar color something can be configured for devguide? Thanks.

[2018-03-29 19:38] zware commented on #351
[#6BA81E](https://github.com/python/devguide/pull/355/files#diff-3e74b5eaf1c4be4469edfd3ae84931d8L15)

I'm not sure whether we also had to change text colors to go along with that.

[2018-03-29 19:44] willingc commented on #351
We should be able to set custom.css in the devguide to adjust colors as needed. Thanks @jonparrott. Please let me know if you hit a snag.

[2018-03-29 21:20] #351 closed

[2018-03-31 19:29] ned-deily opened #358 "Ensure that all references to creating and reviewing PRs mention blurb and NEWS entries"
Other than for the most trivial sorts of changes (e.g. obvious spelling errors), nearly all changes to the cpython repo should include a NEWS entry; that's our primary mechanism to communicate changes with downstream users.  We should be encouraging everyone, including non core-developers to submit PRs with NEWS entries. Among other benefits, having a NEWS entry makes reviews of the PR easier and

[2018-03-31 19:45] ned-deily commented on #358
A small but important point: in the past, i.e. before we had `blurb`, managing NEWS entries was a small nightmare because of the merge conflicts inherent with multiple PRs attempting to edit the same monolithic NEWS file.  So we previously discouraged creating NEWS entries in patches and early PRs to avoid these merge conflicts.  `blurb` was created to solve that problem; now each NEWS entry is a

[2018-05-08 20:54] stevexyz opened #361 "sorry for yet another self discussion"
Yes I know, "self" parameter have been discussed a lot, but still I didn't find this proposal. If it was instead take my sincere apologies and close the issue.

The disturbing part of the "self" parameter is the "asymmetry" of definition and call. So I was thinking: why not do define methods like: ``def self.whatevermethod(par1, par2, etc)`` instead of ``def whatevermethod(self, par1, par2, etc)``

[2018-05-08 22:03] JulienPalard commented on #361
Hi @stevexyz, and welcome.

It's the wrong place for this subject, this repository is about the "contributing to Python guide", not the evolution of the language. The right place to speak about your idea is the [python-ideas mailing list](https://mail.python.org/mailman/listinfo/python-ideas).

It has already been discussed here: https://mail.python.org/pipermail/python-ideas/2007-November/001194.

[2018-05-08 22:03] #361 closed

[2018-05-15 20:45] hugovk commented on #292
Please see PR #369.

[2018-05-16 00:58] #292 closed

[2018-05-16 01:08] willingc opened #371 "Clean up out of date or permanently redirected links"
After merging #369, we now have Travis report when links become out of date. https://travis-ci.org/python/devguide/jobs/379412265

Several files need some clean up on their links. For those sprinting at PyCon, feel free to choose a file, make updates, and file a PR with the changes. Please leave a message below indicating the file which you are currently working on. Thanks.

Files
- [ ] communicat

[2018-05-16 01:32] willingc commented on #40
@brettcannon #354 seems to have taken a reasonable first step on addressing this. I'm going to close this issue. We can always add new issues with specific action items. 👍

[2018-05-16 01:32] #40 closed

[2018-05-16 09:17] mariehuynh opened #372 "Floating << in mobile"
Shifts around when resizing and scrolling.

[2018-05-16 10:09] vaibssingh commented on #371
@willingc Hi! I would like to work on this. Before I start, just for clarification, for the links that are broken, we have to remove them, the permanent redirects are to be updated and for those links which were 'Found' after redirection are to be left as it is, right? Or they need to be updated with the direct links as well?

[2018-05-16 11:08] willingc commented on #371
Thanks @vaibssingh. Great! Why don't you claim 3 of the files (just leave a message here saying which ones) and let others contribute the rest of the files since this is a good issue for newcomers :smile:

For clarification:
- I would not remove links without pinging me here first since we may wish to find a better source for those.
- For permanent redirects, go ahead and update the link to the ne

[2018-05-16 11:35] vaibssingh commented on #371
@willingc Gotcha! So I am starting on the top three files (communication.rst, compilation.rst, coverity.rst). Shall send the PR once done.

[2018-05-16 12:11] vaibssingh commented on #371
@willingc So I have made the changes as needed. There are two broken links which need to be replaced.
In communication.rst:
-  http://news.gmane.org/ (Error: 404 Client Error: Not Found for url: http://news.gmane.org/)

In coverity.rst
- http://scan5.coverity.com:8080/ (Error: 503 Server Error: Service Unavailable for url: http://scan5.coverity.com:8080/)

I will be happy to update these two links

[2018-05-16 12:19] vaibssingh commented on #371
@willingc Here is the PR #373

[2018-05-16 16:28] brettcannon commented on #372
Can you share a screenshot?

[2018-05-16 16:41] mariehuynh commented on #372
https://photos.app.goo.gl/Mab6VutMdXUTH8Ug2

[2018-05-16 18:08] brettcannon commented on #372
Looks like a French-style quote.

[2018-05-16 18:46] encukou commented on #371
@tiran, http://scan5.coverity.com:8080/ still works if you are logged in, right?

[2018-05-16 18:58] tiran commented on #371
@encukou It's https://scan.coverity.com/projects/python nowadays.

[2018-05-16 19:01] encukou commented on #371
I don't think following `302 Found` redirects is the way to go – some of these are short URLs, and the target URL looks more like an implementation detail. For example:

- `https://youtu.be/-Nk-8fSJM6I` → `https://www.youtube.com/watch?v=-Nk-8fSJM6I&feature=youtu.be`
- `https://drive.google.com/open?id=...` → `https://drive.google.com/file/d/.../view?usp=drive_web`

[2018-05-16 20:17] willingc commented on #371
@encukou's suggestion to keep the shorter URL is reasonable as these are producing a `make linkcheck` warning and not error.

@vaibssingh, would you mind going back and leave the 302 Found warnings with the original URL? Sorry for the confusion.

[2018-05-16 20:34] willingc commented on #371
@vaibssingh For the GMANE link, let's change the sentence to:

[code]

[2018-05-17 07:10] vaibssingh commented on #371
@willingc Sure thing! New PR coming right up!

[2018-05-17 07:37] vaibssingh commented on #371
@willingc One more thing, in coverity.rst, most of the redirections are happening because of previous links being http while the updated links are https. So I haven't reverted that update. Do I need to change them back to http as well because it makes more sense having https links directly?

[2018-05-17 13:57] willingc commented on #372
Hi @mariehuynh, This looks like the sidebar open/close is not rendering properly on Android. I don't see the same behavior on Safari or Chrome when sized to mobile width.

[2018-05-23 22:49] csabella opened #374 "OpenHatch on Getting Started page"
The [Getting Started](https://devguide.python.org/setup/) page mentions OpenHatch in the second paragraph, but OpenHatch's step 1.4 is about Mercurial instead of git.  I've filed a bug [there](https://github.com/openhatch/oh-mainline/issues/1814), but not sure if anyone is maintaining it?

Anyway, not sure if the devguide should be updated or if anyone had suggestions for updating OpenHatch.

Than

[2018-05-23 23:44] brettcannon commented on #374
We should drop the OpenHatch link since that page has not been updated since 2014.

[2018-05-28 18:00] andresdelfino opened #377 "Remove Sphinx dependencies and mention blurb and python-docs-theme on Documenting Python > Building the documentation"
IMHO it's unnecessary to mention Sphinx's dependencies, and we also should mention python-docs-theme as a requirement. Mentioning blurb in the same paragraph makes sense.

[2018-05-28 18:20] andresdelfino opened #379 "Improve make instructions on Windows"
After having a not-so-friendly experience with building the documentation on Windows :) I suggest a small change.

[2018-05-29 17:33] #379 closed, assigned to nobody

[2018-05-30 02:07] mariehuynh commented on #372
I don't see any CSS in this repo that affects this, and traced the problem back to the default CSS in Sphinx.  We can override it via something like

div#sidebarbutton span {
    position: sticky;
}

in tools/static/custom.css

[2018-05-30 19:03] #377 closed

[2018-06-02 00:10] Mariatta commented on #374
Closed via #375

[2018-06-02 00:10] #374 closed

[2018-06-07 16:22] nascheme opened #382 "GitHub quick edit through web UI not working?"
https://devguide.python.org/committing/#working-with-git
[code]

I tried to use this for a simple wording change in the docs.  It doesn't seem to work as 'master' is a protected branch.  I think the devguide should provide a more clear explanation of the steps (in case you can actually do these trivial edits) or we should remove that section.

[2018-06-07 16:30] Mariatta commented on #382
You can make edits through web UI, but you can't make it directly to master. You'll still need to create the branch and go through PR process.

[2018-06-07 17:51] nascheme commented on #382
Okay, I guess the issue is mostly with me not reading carefully enough and having a different expectation.  I expected to make a trivial fix without making a branch and without going through the PR process.

[2018-06-11 01:43] willingc commented on #372
Thanks for the research @mariehuynh. I'm glad you were able to reproduce. Your suggestion seems like it will work. We may also see if the fix should be contributed back to the Sphinx project.

[2018-06-11 01:45] #345 closed

[2018-06-11 02:46] mariehuynh commented on #372
I can make the change and run some tests.  Can you point me at your protocol for testing before submission?

[2018-06-16 18:44] willingc opened #389 "Add on new section about Translations to 7. Documenting Python"
See original message from bpo https://bugs.python.org/issue24978#msg319774

[2018-06-17 11:27] #382 closed

[2018-06-19 22:39] brettcannon opened #390 "Simplify developer log"
Instead of acting like a ledger, make it a list of active and emeritus members. Active members can be listed by the year they got commit privileges while emeritus is alphabetical and lists years active.

E.g.

## Active committers
- 2018
  1. Pablo
- 2003
  1. Brett Cannon
- 1989
  1. Guido van Rossum

## Emeritus committers
- Paul Du Bois (1998 - 2005)

[2018-06-20 01:34] Mariatta commented on #390
Great idea! I suggest "core developer" instead of "committer".

[2018-07-06 01:31] andresdelfino opened #396 "Add a few missing in-use directives"
The guide is missing these directives that being used:

- coroutinefunction
- coroutinemethod
- staticmethod
- classmethod
- abstractmethod
- deprecated
- deprecated-removed

I propose documenting them.

[2018-07-13 21:01] #396 closed

[2018-07-26 09:46] clockzhong opened #401 "There is a typo in unittest.html"
The unittest.html has the following typo:
..........................
Here we have not provided a runTest() method, but have instead provided two different test methods. Class instances will now each run one of the test_*() methods, with self.widget created and destroyed separately for each instance. When creating an instance we must specify the test method it is to run. We do this by passing the m

[2018-07-26 09:46] Mariatta commented on #401
Hi, I'm [GitMate.io](https://gitmate.io)!

It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the

[2018-07-26 10:10] terryjreedy commented on #401
`text_*()` (notice the `*` wildcard) is correct.  It refers to tests methods with names like `test_this` and `test_that`.  Out of context, the rest of the paragraph is unclear, but that would be a different issue.

[2018-07-26 10:10] #401 closed

[2018-08-02 02:16] Stewori commented on #390
This proposal seems to wipe out a lot of information currently contained in the developer log. This is usually information about who recommended the person, but can also be scope information like "for work on the xy module", "for documentation work". Most relevantly it can indicate the person is working on an alternative PSF-owned Python implementation, e.g. "compatibility work for PyPy".

How wou

[2018-08-02 03:06] Mariatta commented on #390
So I realize I don't even know what is considered as "alternative PSF-owned Python implementation". Is there such list somewhere?

[2018-08-02 11:39] Stewori commented on #390
I don't know of an official list, but I think the PSFshould know what software is under their license. E.g. looking at Jython's license, the first paragraph reads

[code]
If the license agreement is made between users and the PSF that indicates kind of ownership, no? (IANAL) It's also PSF for which the contributor agreement is signed.
In this sense, there is a [list in the wikipedia](https://en.wi

[2018-08-02 14:50] berkerpeksag commented on #390
I agree with @Stewori.

Looking at PR #404, I think we are losing a lot of information and I don't think the new format is entirely accurate (because the section is now renamed to "Active core developers") For example, see "2014" section at https://github.com/python/devguide/pull/404/files#diff-fe3fd1dac75eba5fb6edcd98b012b444R55 Four of the listed names are not CPython core developers and one of

[2018-08-02 15:51] Mariatta commented on #390
I think in PR #404, the active core developers should only include CPython core developers and not core developers of alternate implementation.

I still don't understand the historical reason why we were sharing the commit right to alternate Python implementation in the same comimtters.txt file, or even within CPython developer guide.

IronPython is not even under Python infrastructure anymore. It

[2018-08-02 16:26] berkerpeksag commented on #390
I think Jython is still using our old [hg.python.org infrastructure](https://hg.python.org/jython/). The source code of their issue tracker is also stored at hg.python.org.

PyPy and IronPython developers were given commit rights to improve compatibility between CPython and PyPy/IronPython (e.g. working on stdlib and test suite)

[2018-08-02 16:53] terryjreedy commented on #390
On 8/2/2018 7:39 AM, Stefan Richthofer wrote:

The list does include ABC (Yet Another BitTorrent Client), which is
*not* a PSF project.  Its Wikipedia page
https://en.wikipedia.org/wiki/ABC_(Yet_Another_BitTorrent_Client)
leads to its SourceForge page
https://sourceforge.net/projects/pingpong-abc/
which leads to
https://sourceforge.net/directory/os:windows/license:psfl/
which claims 259 packages w

[2018-08-03 06:31] #221 closed

[2018-08-03 18:32] brettcannon commented on #390
We can't control who chooses to use the PSF license, so attempting to list all of them and their contributors is a losing battle that we can never win (and if the PSF cares about that then that is up to them to do, not the core devs).

I also agree that we shouldn't list folks in the devguide who work on other popular interpreter implementations. I would be happy to link to their own list, but kee

[2018-08-03 19:00] brettcannon commented on #390
I just re-read the commit log and I think there's a misunderstanding about us listing contributors from other implementations. Several contributors to other implementations were given commit privileges specifically for contributing to the stdlib to make it work with other implementations more easily. They are core devs as much as anyone else as they have the same rights **and** responsibilities.

[2018-08-03 19:25] Stewori commented on #390
Brett, thank you for this clarification. That makes sense now. I still think we should keep the additional information like Marc Andre pointed out on the mailing list, it's part of our history and I actually found it an interesting read. If that's too costly to maintain, it's a different thing of course.

[2018-08-03 19:42] jeff5 commented on #390
@brettcannon : I was a bit surprised to find the Jython developers in the list here, since this is so clearly the CPython devguide.

I question that these non-CPython names are (all) in the list so that other implementations can make commits to the stdlib. Some are so identified, it's true, but the PSF actually provides Jython's infrastructure, owns our domain name and so on (for which much thanks

[2018-08-03 19:49] berkerpeksag commented on #390
You can count me as a volunteer :) I also do find both the developer log and https://devguide.python.org/motivations/#published-entries interesting reads. As someone who doesn't attend PyCon US and EuroPython, it helps me to realize that I don't just communicate with bunch of usernames.

[2018-08-03 19:58] brettcannon commented on #390
@jeff5 it might be a bit jumbled at this point. I know that Frank and Jim for instance were explicitly given commit rights to contribute back to the stdlilb. You and some others were quite possibly given access to hg.python.org for Jython only and not meant to ever touch CPython itself. In that case then you wouldn't need to be in the resulting core dev list (but then I wouldn't expect you to be o

[2018-08-03 20:53] jeff5 commented on #390
@Mariatta wrote

I haven't found one either. Wrt Jython, I found the board minutes to be the best source. It was before my time, but I learn that the PSF get to dictate (benevolently):
- our contributor agreement (https://www.python.org/psf/records/board/minutes/2006-12-11/#jython-contributor-agreements)
- our licence (https://www.python.org/psf/records/board/minutes/2006-12-11/#jython-license),
-

[2018-08-04 05:38] ncoghlan commented on #390
Regarding the "Why is the developer log useful?" question: I think it's useful for the same reason that any other security audit log is useful: it records who has been granted access to a resource, and why they were granted that access. The discussions on python-committers aren't the same thing, since they don't clearly highlight the *conclusion* (which is "Yes, grant this access").

Continuing wi

[2018-08-04 17:28] undali opened #405 "Invalid git clone path."
There is an invalid git clone path in the front page of https://devguide.python.org/.  It says to do clone using `git clone https://github.com/<your_username>/cpython` . But it should be `git clone https://github.com/python/cpython.git`.

Another one is at https://devguide.python.org/docquality/ asked to clone `git clone https://github.com/<your_username>/devguide`

I want to fix it.

[2018-08-04 17:30] Mariatta commented on #405
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/python/devguide/issues/61 (devguide-git bot), https://github.com/python/devguide/issues/130 (Preferred cloning URL), https://github.com/python/devguide/issues/18 (Document how to commit using git), https://github.com/python/core-workflow/issues/69 (Add argument for cpython clone), and https://github.com/python/c

[2018-08-04 17:32] #405 closed

[2018-08-04 17:33] undali commented on #405
I was wrong. It says to fork the repo first. Then the path is fine.

[2018-08-09 02:44] brettcannon commented on #390
I'm thinking of something like the following:
[code]

I don't know how useful or important it is to have the year an emeritus committers stopped participating since some people come and go. So if we can't accurately capture that then I don't think it's worth bothering.

The one bit of data we might want that I don't have above is email address. I left it out as some people really don't like having

[2018-08-25 04:19] willingc commented on #371
Sure @anubhavsinha98.

[2018-08-25 11:27] anubhavsinha98 commented on #371
@willingc

1. In developers.rst the following link is showing error 404 https://github.com/orgs/python/teams/python-core .
2. In documenting.rst the following link is showing page does not exist http://sphinx.pocoo.org/contents.html

What should I do, should I delete these links or update them with new ones?

[2018-08-27 11:38] anubhavsinha98 commented on #371
Please review @willingc ?

[2018-08-27 16:17] Mariatta commented on #371
https://github.com/orgs/python/teams/python-core
That link is only available for people within Python organization. We can leave it in.

http://sphinx.pocoo.org/contents.html can be replaced with http://www.sphinx-doc.org/.

[2018-08-27 21:43] anubhavsinha98 commented on #371
ok @Mariatta thanks!

[2018-08-27 21:50] anubhavsinha98 commented on #371
@willingc  and @Mariatta PR sent #410
Please check it out !

[2018-09-11 17:17] ezio-melotti commented on #372
I think it's best to fix this upstream on Sphinx.  Once the patch has been tested and accepted upstream we can either apply it here directly, or wait for the next Sphinx release.
We also don't have a specific list of supported browsers (other than "the main ones"), but Sphinx might.

[2018-09-14 23:23] willingc opened #415 "Review and update Makefile"
Make sure that devguide docs are in sync with the actual Makefile especially when creating a virtual environment.